@import "../../styles/animations.scss";
@import "../../styles/classes.scss";
@import "../../styles/variables.scss";

.messenger {
    background: $heroGradient;
    &__hero {
        @extend .base-hero;
        height: 10vh;
        min-height: 100px;
        width: 100vw;
        &-title {
            @extend .base-hero-title;
            margin-top: 5px;
        }
    }

    &__content {
        background-color: white;
        border-radius: 3px;
        box-shadow: 0 0 15px rgba(0, 0, 0, .3);
        height: 85vh;
        position: relative;
        top: -25px;
    }
}