<div class="account-info container">
  <div class="d-flex justify-content-center mb-2">
    <button class="btn btn-info btn-icon" [disabled]="!user" [routerLink]="['/profile', user?.id]">
      <mat-icon>account_circle</mat-icon> Voir mon profil
    </button>
  </div>
  <div class="account-info__address">
    <h4 class="account-info-title">Informations générales</h4>
    <form [formGroup]="address" class="needs-validation" novalidate>
      <div class="form-row">
        <div class="form-group col-12 col-sm-6">
          <input type="text" formControlName="address" class="form-control" placeholder="Adresse">
        </div>
        <div class="form-group col-12 col-sm-6">
          <input type="text" formControlName="city" class="form-control" placeholder="Ville">
        </div>
        <div class="form-group col-12 col-sm-6">
          <input type="text" formControlName="zip" class="form-control" placeholder="Code postal">
        </div>
        <div class="form-group col-12 col-sm-6">
          <input type="text" formControlName="country" class="form-control" placeholder="Pays">
        </div>
      </div>
      <small class="text-muted">
        Votre adresse complète ne sera jamais communiquée sans votre autorisation explicite.
        Seuls votre ville et votre pays de résidence seront indiqués sur votre profil.
      </small>
    </form>
  </div>
  <hr class="divider">
  <h4 class="account-info-title">Informations de compte</h4>
  <form [formGroup]="account" class="needs-validation">
    <div class="form-row">
      <div class="form-group col-12 col-sm-6">
        <input type="text" formControlName="firstname" class="form-control" placeholder="Prénom" readonly>
      </div>
      <div class="form-group col-12 col-sm-6">
        <input type="text" formControlName="lastname" class="form-control" placeholder="Nom" readonly>
      </div>
      <div class="form-group col-10 col-sm-4">
        <input type="text" formControlName="birthdate"
               [matDatepicker]="picker"
               [max]="today"
               autocomplete="off" 
               class="form-control" placeholder="Date de naissance">
      </div>
      <div class="form-group col-2">
          <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker startView="year" [startAt]="account.controls.birthdate.value || startDate" touchUi #picker></mat-datepicker>
      </div>
      <div class="form-group col-12">
        <input type="email" formControlName="email" class="form-control" placeholder="Email">
      </div>
    </div>
  </form>
  <hr class="divider">
  <h4 class="account-info-title">Description</h4>
  <div *ngFor="let item of keys(edit)" class="account-info__item">
    <div *ngIf="isArray(description[item]); else simpleItem">
      <h6>{{ frenchization(item) }}</h6>
      <mat-chip-list>
        <mat-chip *ngFor="let element of description[item]" (click)="removeFromArray(element, description[item], item)">
          {{ element }} x
        </mat-chip>
      </mat-chip-list><br>
      <div class="form-row">
        <div class="form-group col-10">
          <input type="text" #addElement placeholder="Ajouter"
                 class="form-control"
                 (keyup.enter)="
                 addToArray(addElement.value, description[item], item);
                 addElement.value = '';
                 ">
        </div>
        <div class="form-group col-2">
          <button class="btn btn-secondary btn-sm btn-item"
                  (click)="
                  addToArray(addElement.value, description[item], item);
                  addElement.value = '';
                  ">
            +
          </button>
        </div>
      </div>
    </div>
    <ng-template #simpleItem>
      <div class="form-row" (click)="edit[item] = true">
        <label [for]="item">{{ frenchization(item) }}</label>
        <input [name]="item" [(ngModel)]="description[item]"
               [readonly]="!edit[item]" type="text"
               class="form-control">
      </div>
    </ng-template>
  </div>
</div>
<div class="account-info__action">
  <button class="btn btn-hero" (click)="save()">
    Enregistrer
  </button>
</div>