.account-info {
    overflow: scroll;
    height: 60vh;
    padding: 25px 15px;
    background-color: white;
    border-radius: 3px;

    &__item {
        width: 100%;
        margin-bottom: 5px;
    }

    &__action {
        width: 100vw;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 0;
        bottom: 0;
        height: 50px;
    }

    &__loading {
        margin-bottom: 5px;
    }

    .btn-item {
        width: 100% !important;
    }
}