<div class="trip-luggage">
  <h2 class="trip-luggage-title justify-content-around">
    <span style="display: inline-block">{{ modifying ? 'Modifier' : 'Ajouter' }} un bagage</span>
  </h2>
  <mat-icon class="close clickable" (click)="close()">clear</mat-icon>
  <hr class="divider">
  <div class="trip-luggage__content">
    <mat-horizontal-stepper #stepper [linear]="!modifying" labelPosition="bottom">
      <mat-step>
        <ng-template matStepLabel>
          Type <br> {{ cabin ? 'Cabine' : 'Soute' }}
        </ng-template>
        <div class="step-wrapper" (keyup.enter)="next()" (swipeLeft)="next()">
          <small class="text-muted">Je transporte mon bagage en soute ou en cabine</small>
          <div class="luggage-type">
            <button class="btn btn-toggle btn-luggage-type" (click)="inCargo()" [class.active]="!cabin">
              <mat-icon>flight</mat-icon>
              Soute
            </button>
            <button class="btn btn-toggle btn-luggage-type" (click)="inCabin()" [class.active]="cabin">
              <mat-icon>work</mat-icon>
              Cabine
            </button>
          </div>
        </div>
        <div class="luggage-validation">
          <button class="btn btn-success" matStepperNext>Valider</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>
          Poids<br>
          <span *ngIf="weight">{{ weight }} kg</span>
        </ng-template>
        <div class="step-wrapper" (keyup.enter)="next()" (swipeLeft)="next()" (swipeRight)="previous()">
          <small class="text-muted">J'estime le poids 
            {{ large ? 'que je suis prêt à emporter' : 'qu\'il me reste à prendre dans mon bagage' }}</small>
          <div class="luggage-weight">
            <div class="form-group">
              <div class="input-group">
                  <input type="number" class="form-control" min="0" required [(ngModel)]="weight">
                  <div class="input-group-append">
                    <span class="input-group-text">kg</span>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="luggage-validation">
          <button class="btn btn-success" matStepperNext>Valider</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Espace disponible</ng-template>
        <div class="step-wrapper luggage-space-wrapper" (swipeRight)="previous()">
            <div class="form-group luggage-large">
              <mat-slide-toggle [(ngModel)]="large">
                <mat-icon>kitchen</mat-icon>
                Article volumineux
              </mat-slide-toggle>
            </div>
            <small class="text-muted">Indiquez si vous pouvez prendre un article volumineux</small>
            <div class="luggage-space">
              <div class="btn-group-vertical btn-group-sm d-flex flex-column-reverse">
                <button class="btn" [disabled]="large"
                        *ngFor="let filling of fillingDescriptions; let i = index"
                        [ngClass]="{
                        'btn-light': !(freeSpace > i),
                        'btn-success': freeSpace > i }" 
                        (click)="freeSpace = (i + 1)">
                        {{ filling }}
                </button>
              </div>
            </div>
        </div>
        <div class="luggage-validation">
          <small class="text-danger" *ngIf="error">Indiquez le poids de l'article que vous pouvez transporter</small>
          <button class="btn btn-success"  [disabled]="!weight && error" (click)="save()">Enregistrer</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>