@import "../../../../styles/variables.scss";

.trip-luggage {
    height: 100%;
    width: 100%;
    overflow: hidden;

    .close {
        right: 0 !important;
    }

    &-title {
        font-weight: 700;
        font-size: 24px;
        color: $cyan-600
    }

    &__content {
        .step-wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        .luggage-space-wrapper {
            height: 35vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .luggage-type {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 20vh;
        }

        .luggage-weight {
            height: 20vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 20%;
        }

        .luggage-space {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 20vh;
            width: 80vw;
            max-width: 350px;
        }

        .luggage-large {
            color: rgba(0, 0, 0, .7);
            font-size: 14px;
        }

        .luggage-validation {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .mat-slide-toggle-content {
            display: flex;
            align-items: center;
            font-size: 10px;
            color: rgba(0, 0, 0, .7);
        }
    }
}