@import "../../../../styles/variables.scss";

.trip-luggage {
    &-title {
        font-weight: 700;
        font-size: 24px;
        color: $cyan-600
    }

    .close {
        position: absolute;
        top: 16vh;
        right: 13.5vw;
    }

    &__content {
        .step-wrapper {
            height: 39vh;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        .luggage-type {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 20vh;
        }

        .luggage-weight {
            height: 20vh;
        }

        .luggage-space {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 50vh;
        }

        .input-label {
            display: flex;
            margin-top: 5px;
            justify-content: center;

            .label {
                display: inline-flex;
            }
        }

        .luggage-validation {
            display: flex;
            justify-content: center;
        }
    }
}