@import '~@angular/material/theming';
@import "../../../styles/variables.scss";

$post-height: 100px;
$request-height: 135px;

.post {
    $transitionDuration: 0.1s;
    $transitionStyle: ease-out;

    transition: $transitionDuration $transitionStyle all;
    height: $post-height;
    &.request {
        height: $request-height;
    }
    background-color: rgba(255, 255, 255, .1);
    background-size: cover;
    background-position: center;
    border: 1px solid rgba(255, 255, 255, .15);
    &.hasBackground {
        border: none;
    }
    border-radius: 5px;
    width: 90%;
    margin: 15px 5%;
    padding: 5px 5px 0;
    overflow: hidden;

    @keyframes backgroundLoad {
        0% { background-color: rgba(255, 255, 255, .1); }
        50% { background-color: rgba(255, 255, 255, .3); }
        100% { background-color: rgba(255, 255, 255, .1); }
    }

    &.loading {
        animation: backgroundLoad infinite ease-in-out 1.25s;
    }

    &.horizontal {
        height: 50vh;
        width: 100%;
        margin-left: 0;
        min-height: 300px;
        display: inline-flex;
        box-shadow: 0 0 15px rgba(0, 0, 0, .3);
    }

    &.urgent {
        border-right: thick solid $red-800-alpha;
    }

    .row {
        height: 100%;
    }

    &:hover {
        transition: $transitionDuration $transitionStyle all;
        background-color: rgba(255, 255, 255, .2);
        box-shadow: 1px 2px 15px rgba(0, 0, 0, .1);
        cursor: pointer;

        .post {
            &-trip {
                &__from,
                &__to,
                &__link {
                    color: rgb(255, 255, 255);
                }
            }
            &-info {
                &__user-info {
                    background-color: rgba(0, 0, 0, .075);
                }
            }
        }
    }

    &-general {
        margin-top: -5px;
        &.outdated {
            opacity: .5;
        }
    }

    &-info {
        height: 150%;
        width: 100%;
        margin: -10px 0px -5px -5px;
        &.horizontal {
            height: 114%;
            margin: -15px 0 -5px -5px;
            padding-top: 10px;
        }
        background-color: rgba(0, 0, 0, .015);
        background-size: cover;
        background-position: center;
        box-shadow: -2px 0 5px rgba(0, 0, 0, .1) inset;
        overflow: hidden;

        &__user-avatar {
            height: $post-height / 3;
            width: $post-height / 3;
        }

        &__user-info {
            color: rgba(255, 255, 255, .9);
            height: 150%;
            width: 200%;
            margin: -15px 0 -15px -15px;
            padding: 20px 10px 10px;
            background-color: rgba(0, 0, 0, .1);
            font-size: 12px;

            &__firstname {
                margin-bottom: 0;
                font-weight: 700;
            } 

            &__trips,
            &__requests {
                font-size: 10px;
            }
        }
    }

    &-trip {
        height: 100%;
        width: 100%;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &.horizontal {
            height: 55%;

            .post-trip {
                &__from,
                &__to {
                    &-details {
                        color: rgba(255, 255, 255, .7);
                    }
                }
            }
        }

        @media screen and (min-width: 400px) {
            &.horizontal {
                height: 60%;
            }
        }

        &__from,
        &__to {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            font-size: 12px;
            color: rgba(255, 255, 255, .9);
            height: 33%;

            &-details {
                font-size: 12px;
                color: rgba(255, 255, 255, .5);
            }
        }

        @media screen and (min-width: $break-sm) {
            &__from,
            &__to {
                font-size: 14px;
            }
        }

        @media screen and (min-width: $break-md) {
            &__from,
            &__to {
                font-size: 16px;
            }
        }

        &__to {
            font-weight: 700;
        }

        &__link {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 25%;
            $iconSize: 36px;
            .mat-icon {
                height: $iconSize;
                width: $iconSize;
            }
            .material-icons {
                font-size: $iconSize;
                color: rgba(255, 255, 255, .8);
            }

            @media screen and (min-width: $break-sm) {
                $iconSize: 64px;
                .mat-icon {
                    height: $iconSize;
                    width: $iconSize;
                }
                .material-icons {
                    font-size: $iconSize;
                    color: rgba(255, 255, 255, .8);
                }
            }
        }
    }

    &-practical {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: rgba(255, 255, 255, .9);
        padding-left: 0;
        &.horizontal {
            height: 40% !important;
            flex-direction: row;
            border-bottom: 1px solid rgba(255, 255, 255, .2);
        }

        @media screen and (min-width: 400px) {
            &.horizontal {
                height: 33% !important;
            }
        }
    }

    &-date {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        &.horizontal {
            flex-direction: column;
        }
    }

    &-space {
        font-size: .5rem;
    }

    &-weight {
        $weightSize: 1rem;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: .6rem;
        .mat-icon {
            width: $weightSize;
            height: $weightSize;
            margin-right: 3px;
        }
        .material-icons {
            font-size: $weightSize;
        }

        &.horizontal {
            $weightSize: .75rem;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            font-size: $weightSize;
            .mat-icon {
                width: $weightSize;
                height: $weightSize;
                margin-right: 5px;
            }
            .material-icons {
                font-size: $weightSize;
            }
        }

    }

    &-request {
        height: 135px;
        &__content {
            padding-left: 20px;
            &__items {
                height: 65% !important;
                overflow-y: scroll;
            }
            &__location {
                $locationSize: 11px;
                $locationColor: $white-alpha-6;
                font-size: $locationSize;
                color: $locationColor;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                height: 35% !important;
                .mat-icon {
                    height: $locationSize;
                    width: $locationSize;
                    margin-right: 5px;
                }
                .material-icons {
                    font-size: $locationSize;
                    color: $locationColor;
                }
                &__country {
                    display: flex;
                    font-size: 9px;
                    color: $white-alpha-4;
                }
            }
            &__item {
                font-size: 12px;
                font-weight: 700;
                color: $white-alpha-8;
                list-style: none;
                margin-left: -35px;
            }
        }

        &__practical {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            
            &__property {
                $propertySize: 10px;
                $propertyColor: $white-alpha-8;
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: $propertySize;
                color: $propertyColor;
                &.urgent {
                    font-size: 8px;
                    color: $red-800 !important;
                    .material-icons {
                        color: $red-800 !important;
                    }
                }
                .mat-icon {
                    height: $propertySize;
                    width: $propertySize;
                    margin-right: 10px;
                }
                .material-icons {
                    font-size: $propertySize;
                    color: $propertyColor;
                }

                &__bonus {
                    margin-top: 5px;
                    color: $white-alpha-8;
                    font-size: $propertySize + 3;
                    font-weight: 400;
                }

                &__weight {
                    color: $white-alpha-8;
                    font-size: $propertySize + 1;
                    font-weight: 700;
                }

                &__date {
                    color: $white-alpha-6;
                    font-size: 8px;
                    position: absolute;
                    bottom: 15px;
                }
            }
        }
    }

    &-backdrop {
        transition: all $transitionDuration;
        background-color: rgba(0, 0, 0, 0);
        width: 100%;
        @media screen and (max-width: $break-sm) {
            width: 100%
        } 
        @media screen and (max-width: 576px) {
            width: 110%;
        }
        height: 105% !important;
        padding: 10px;
        margin-top: -10px;
        &.horizontal {
            width: 110%;
        }
        &.hasBackground {
            transition: all $transitionDuration;
            background-color: rgba(0, 0, 0, .5);
        }
    }
}