@import '~@angular/material/theming';

$post-height: 100px;

.post {
    $transitionDuration: 0.1s;
    $transitionStyle: ease-out;

    transition: $transitionDuration $transitionStyle all;
    -webkit-transition: $transitionDuration $transitionStyle all;
    -moz-transition: $transitionDuration $transitionStyle all;
    -o-transition: $transitionDuration $transitionStyle all;
    height: $post-height;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    width: 90%;
    margin: 15px 5%;
    padding: 5px 5px 0;
    overflow: hidden;

    &.horizontal {
        height: 55vh;
        width: 95vw;
        margin-left: -2.5vw;
        min-height: 300px;
        display: inline-flex;
    }

    .row {
        height: 100%;
    }

    &:hover {
        transition: $transitionDuration $transitionStyle all;
        -webkit-transition: $transitionDuration $transitionStyle all;
        -moz-transition: $transitionDuration $transitionStyle all;
        -o-transition: $transitionDuration $transitionStyle all;
        background-color: rgb(250, 250, 250);
        box-shadow: 1px 2px 15px rgba(0, 0, 0, .1);
        cursor: pointer;

        .post {
            &-trip {
                &__from,
                &__to,
                &__link {
                    color: #0097a7;
                }
            }
            &-info {
                &__user-info {
                    background-color: rgba(0, 0, 0, .05);
                }
            }
        }
    }

    &-general {
        margin-top: -5px;
    }

    &-info {
        height: 107%;
        width: 100%;
        margin: -5px 0 -5px -5px;
        background-color: rgba(0, 0, 0, .2);
        background-size: auto 150%;
        background-position: center;
        box-shadow: -2px 0 5px rgba(0, 0, 0, .1) inset;
        overflow: hidden;

        &__user-avatar {
            height: $post-height / 3;
            width: $post-height / 3;
        }

        &__user-info {
            color: rgba(255, 255, 255, .9);
            height: 150%;
            width: 200%;
            margin: -15px 0 -15px -15px;
            padding: 20px 10px 10px;
            background-color: rgba(0, 0, 0, .1);
            font-size: 12px;

            &__firstname {
                margin-bottom: 0;
                font-weight: 700;
            } 

            &__trips,
            &__requests {
                font-size: 10px;
            }
        }
    }

    &-trip {
        height: 100%;
        width: 100%;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__from,
        &__to {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            font-size: 16px;
            color: rgb(75, 75, 75);

            &-details {
                font-size: 12px;
                color: rgb(120, 120, 120);
            }
        }

        &__to {
            font-weight: 700;
        }

        &__link {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            $iconSize: 64px;
            .mat-icon {
                height: $iconSize;
                width: $iconSize;
            }
            .material-icons {
                font-size: $iconSize;
                color: rgb(75, 75, 75);
            }
        }
    }

    &-request {
        &__content {
            padding-left: 20px;
            &__items {
                overflow-y: scroll;
            }
            &__location {
                $locationSize: 11px;
                $locationColor: rgb(125, 125, 125);
                font-size: $locationSize;
                color: $locationColor;
                display: flex;
                flex-direction: row;
                align-items: center;
                .mat-icon {
                    height: $locationSize;
                    width: $locationSize;
                    margin-right: 5px;
                }
                .material-icons {
                    font-size: $locationSize;
                    color: $locationColor;
                }
                &__country {
                    display: inline-flex;
                    margin-left: 5px;
                    font-size: 9px;
                    color: rgb(175, 175, 175);
                }
            }
            &__item {
                font-size: 12px;
                font-weight: 700;
                color: rgb(75, 75, 75);
                list-style: none;
                margin-left: -35px;
            }
        }

        &__practical {
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            &__property {
                $propertySize: 10px;
                $propertyColor: rgb(75, 75, 75);
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: $propertySize;
                color: $propertyColor;
                .mat-icon {
                    height: $propertySize;
                    width: $propertySize;
                    margin-right: 5px;
                }
                .material-icons {
                    font-size: $propertySize;
                    color: $propertyColor;
                }

                &__date {
                    color: rgb(125, 125, 125);
                    font-size: 8px;
                }
            }
        }
    }

    &-practical {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: rgb(100, 100, 100);
        padding-left: 0;
    }

    &-date {
        font-size: 24px;
        display: flex;
        justify-content: center;
    }

    &-weight {
        $weightSize: 12px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: $weightSize;
        .mat-icon {
            width: $weightSize;
            height: $weightSize;
            margin-right: 5px;
        }
        .material-icons {
            font-size: $weightSize;
        }
    }
}