@import '~@angular/material/theming';

$post-height: 100px;

.post {
    $transitionDuration: 0.1s;
    $transitionStyle: ease-out;

    transition: $transitionDuration $transitionStyle all;
    -webkit-transition: $transitionDuration $transitionStyle all;
    -moz-transition: $transitionDuration $transitionStyle all;
    -o-transition: $transitionDuration $transitionStyle all;
    height: $post-height;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    width: 90%;
    margin: 15px 5%;
    padding: 5px;
    overflow: hidden;

    .row {
        height: 100%;
    }

    &:hover {
        transition: $transitionDuration $transitionStyle all;
        -webkit-transition: $transitionDuration $transitionStyle all;
        -moz-transition: $transitionDuration $transitionStyle all;
        -o-transition: $transitionDuration $transitionStyle all;
        background-color: rgb(250, 250, 250);
        box-shadow: 1px 2px 15px rgba(0, 0, 0, .1);
        cursor: pointer;

        .post {
            &-trip {
                &__from,
                &__to,
                &__link {
                    color: #0097a7;
                }
            }
            &-info {
                &__user-info {
                    background-color: rgba(0, 0, 0, .05);
                }
            }
        }
    }

    &-info {
        height: 107%;
        width: 100%;
        padding-top: 10px;
        margin: -5px 0 -5px -5px;
        background-color: rgba(0, 0, 0, .2);
        background-size: auto 150%;
        background-position: center;
        box-shadow: -2px 0 5px rgba(0, 0, 0, .1) inset;
        overflow: hidden;

        &__user-avatar {
            height: $post-height / 3;
            width: $post-height / 3;
        }

        &__user-info {
            color: rgba(255, 255, 255, .9);
            height: 110%;
            width: 150%;
            margin: -15px 0 -15px -15px;
            padding: 10px;
            background-color: rgba(0, 0, 0, .1);

            &__firstname {
                margin-bottom: 0;
                font-size: 24px;
            }   
        }
    }

    &-trip {
        height: 100%;
        width: 100%;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__from,
        &__to {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            font-size: 24px;
            color: rgb(75, 75, 75);

            &-details {
                font-size: 14px;
                color: rgb(120, 120, 120);
            }
        }

        &__link {
            display: flex;
            flex-direction: column;
            justify-content: center;
            $iconSize: 64px;
            .mat-icon {
                height: $iconSize;
                width: $iconSize;
            }
            .material-icons {
                font-size: $iconSize;
                color: rgb(75, 75, 75);
            }
        }
    }

    &-practical {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: rgb(100, 100, 100);
        padding-left: 0;
    }

    &-date {
        font-size: 24px;
    }

    &-weight {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 18px;
    }
}