@import "../../../styles/variables.scss";

.login {
    width: 100vw;
    transition: all $transitionDuration;

    &.blur {
        transition: all $transitionDuration;
        opacity: .5;
    }

    &-title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 50px;
        color: map-get($okoColors, blue);
    }

    &-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &-content {
        height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: baseline;
    }

    &-button {
        width: 150px;
        margin-bottom: 15px;
    }

    &-load {
        position: fixed;
        left: 0;
        bottom: 0;
        height: 10px;
    }
}

.logo-brand-wrapper {
    height: 25vh;
}

.divider {
    background-color: map-get($okoColors, green);
    height: 1px;
    border-radius: 1px;
    width: 25vw;
    margin-bottom: 75px;
}

.invalid {
    color: $red-600;
    margin-bottom: 5px;
}