@import "../../../styles/variables.scss";

.login {
    width: 100vw;

    &-title {
        display: flex;
        flex-direction: row;
        justify-content: left;
        margin-bottom: 50px;
        color: map-get($okoColors, blue);
    }

    &-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &-content {
        height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: baseline;
    }

    &-button {
        margin-bottom: 15px;
    }
}

.logo-brand-wrapper {
    height: 25vh;
}

.divider {
    background-color: map-get($okoColors, green);
    height: 1px;
    border-radius: 1px;
    width: 25vw;
    margin-bottom: 75px;
}