<div class="login container-fluid">
    <div class="logo-brand-wrapper justify-content-center" [routerLink]="['/home']">
        <h1 class="logo-brand">ọkọ</h1>
    </div>
    <div class="login-content">
        <h1 class="login-title">Connexion</h1>
        <div class="login-form justify-content-center align-items-center">
            <div class="row">
                <div class="form-group col-12">
                    <input type="text" placeholder="Email" name="email" class="form-control"
                    (keyup.enter)="login()"
                    [class.is-invalid]="message && !status" [(ngModel)]="email">
                </div>
                <div class="form-group col-12">
                    <input type="password" placeholder="Mot de passe" name="password" class="form-control"
                    (keyup.enter)="login()"
                    [class.is-invalid]="message && !status" [(ngModel)]="password">
                </div>
            </div>
            <small class="invalid d-flex justify-content-center" *ngIf="message && !status">
                L'adresse mail ou le mot de passe est invalide
            </small>
            <button class="btn btn-hero login-button" (click)="login()">Connexion</button>
            <button class="btn btn-hero login-button" (click)="signin()">Inscription</button>
        </div>
        <button class="btn btn-info login-button" (click)="fbLogin()">Continuer avec Facebook</button>
    </div>
</div>