@import "../../../styles/variables.scss";

.item {
    height: auto;
    width: 300px;
    overflow: hidden;

    &.constantHeight {
        height: 300px;
        overflow-y: scroll;
    }
    &.full-width {
        width: 100%;
    }
    &:hover {
        box-shadow: 1px 3px 5px rgba(0, 0, 0, .1) !important;
    }

    &__title {
        font-size: 18px;
    }

    &__subtitle {
        font-size: 14px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__link {
        display: flex;
        flex-direction: row;
        align-items: center; 
    }

    &__description {
        font-size: 10px;
        color: rgb(125, 125, 125);
        margin-bottom: 5px;
    }

    &__image {
        width: 100%;

        &:hover {
            transition: all $transitionDuration;
            height: 125%;
        }

        &-wrapper {
            max-height: 125px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            &:hover {
                background-color: rgba(255, 255, 255, .1);
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-self: flex-end;
    }

    &__price {
        font-size: 14px;
        font-weight: 400;
        color: rgb(125, 125, 125);
    }

    &__cabin {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 12px;
        font-weight: 700;
        color: rgb(75, 75, 75);
    }
}