@import "../../../styles/variables.scss";

.item {
    max-height: 300px;

    &__title {
        font-size: 18px;
    }

    &__subtitle {
        font-size: 14px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__link {
        display: flex;
        flex-direction: row;
        align-items: center; 
    }

    &__image {
        height: 100%;

        &:hover {
            transition: all $transitionDuration;
            height: 125%;
        }

        &-wrapper {
            max-height: 125px;
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: center;
            overflow: hidden;

            &:hover {
                background-color: rgba(255, 255, 255, .1);
            }
        }
    }

    &__price {
        font-size: 14px;
        font-weight: 400;
        color: rgb(125, 125, 125);
    }

    &__cabin {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 12px;
        font-weight: 700;
        color: rgb(75, 75, 75);
    }
}