<mat-card matRipple [style.touchAction]="removable ? 'pan-y' : 'pan-x pan-y'" (swipeLeft)="removePanel = true" (swipeRight)="removePanel = false" class="item">
    <div class="close" (click)="removeItem()" *ngIf="removable">
      <mat-icon>clear</mat-icon>
    </div>
    <mat-card-title class="item__title">{{ item.label }}</mat-card-title>
    <mat-card-subtitle class="item__subtitle" *ngIf="item?.link">
      <a class="item__link" [href]="item.link.path" target="blank" *ngIf="!creator">
        <mat-icon>shopping_cart</mat-icon>
        {{ item.link.label }}
      </a>
    </mat-card-subtitle>
    <div class="item__image-wrapper" mat-card-image *ngIf="item?.photo?.length && item.photo[0] != ''">
      <img class="item__image" [src]="item.photo[0]" [alt]="item.label">
    </div>
    <mat-card-content class="item__content">
      <div class="item__price">
        Prix: {{ item.price }} €
      </div>
      <div class="item__cabin">
        <mat-icon>{{ item.cabinOnly ? 'work' : 'flight '}}</mat-icon>
        {{ item.cabinOnly ? 'En cabine' : 'En soute' }}
      </div>
      <div class="item__dimensions">
        <span *ngIf="item.weight">Poids: {{ item.weight }} kg</span>
        <span *ngIf="item.weight && item.height || item.width || item.depth">
          - Dimensions:
        </span>
        <span *ngIf="item.height">{{ item.height }}</span>
        <span *ngIf="item.height && (item.width || item.depth)">x</span>
        <span *ngIf="item.width">{{ item.width }}</span>
        <span *ngIf="(item.height && !item.width) || (!item.height && item.width) || (item.height && item.width) && item.depth">x</span>
        <span *ngIf="item.depth">{{ item.depth }}</span>
        <span *ngIf="item.height || item.width || item.depth">cm</span>
      </div>
      <div class="item__pictures row">
        <div class="item-picture col-3" *ngFor="let picture of item.photo"></div>
      </div>
    </mat-card-content>
    <app-remove-panel (remove)="removeItem()" *ngIf="removePanel && removable"></app-remove-panel>
</mat-card>