@import "../../../styles/variables.scss";

.profile-route {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    transition: all .5s;
    
    &__backdrop {
        height: 100vh;
        width: 100vw;
        background: linear-gradient(0deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, .3));
        transition: all .5s;
    }

    &__hero {
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        outline: none;
        &:focus {
            outline: none;
        }

        &__title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            margin: 10px 0  0 10px;
            font-weight: 100;
            color: $white-alpha-8;
            z-index: 110;
            outline: none;
            &:focus {
                outline: none;
            }
            &-route {
                font-size: 16px;
            }
            &-user {
                font-size: 36px;
                margin-top: -15px;
                text-shadow: 0 0 5px rgba(255, 255, 255, .5);
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 10px 0;
        height: 90vh;
        overflow-y: scroll;
    }
}