.city {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgb(175, 175, 175);
    $cityIconSize: 36px;
    .mat-icon {
        height: $cityIconSize;
        width: $cityIconSize;
        margin-right: 5px;
    }
    .material-icons {
        font-size: $cityIconSize;
    }
    &-details {
        &__label {
            font-size: 20px;
            color: rgb(175, 175, 175);
            margin-bottom: 0;
        }
        &__country {
            margin-top: 0;
            font-size: 14px;
            color: rgb(135, 135, 135);
        }
    }
}