@import "../../../styles/animations.scss";
@import "../../../styles/classes.scss";
@import "../../../styles/variables.scss";

.proposal {
    &.standalone {
        animation: zoomIn .15s;
        background-color: white;
        box-shadow: 0 0 15px rgba(0, 0, 0, .3);
        border-radius: 3px;
        height: 80vh;
        padding: 15px 15% 15px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    &.closed {
        border: 3px solid $red-200;
    }

    &-title {
        color: $white-alpha-8;
        font-size: 24px;

        &-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 10vh;
            min-height: 60px;
            padding-top: 15px;
            box-shadow: 0 -5px 5px rgba(0, 0, 0, .1) inset;
        }
    }

    &__request {
        &__city,
        &__date {
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgb(75, 75, 75);
            font-size: 16px;
            .mat-icon {
                margin-right: 5px;
            }
            .material-icons {
                color: rgb(125, 125, 125);
            }
        }
    }

    &__actions {
        @extend .base-oko-card;
        position: relative;
        top: -10px;
        max-width: 90vw;
        padding: 15px;

        &__bonus {
            display: flex;
            flex-direction: column;
            align-items: center;

            &-title {
                color: rgb(125, 125, 125);
            }

            &-figure {
                color: rgb(175, 175, 175);
                font-size: 48px;

                &.updated {
                    color: $light-green-600;
                }
            }
        }
    }

    &__summary {
        @extend .base-oko-card;
        max-width: 90vw;
        height: 45vh;
        padding: 15px;
        margin-bottom: 10px;
        overflow-y: scroll;

        &__author {
            display: flex;
            justify-content: center;
            align-items: center;
            &-avatar {
                margin-right: 5px;
            }
            &-info {
                display: flex;
                flex-direction: column;
                margin-right: 10px;
            }
            &-type {
                font-size: 12px;
            }
        }

        &__details {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    &__location {
        @extend .base-oko-card;
        padding: 15px;
        height: 20vh;
        max-width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__loading {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        $iconSize: 30vh;
        &-icon {
            animation: spin 1s ease-in-out infinite;
            color: $white-alpha-6;
        }

        .mat-icon {
            height: $iconSize;
            width: $iconSize;
        }
        .material-icons {
            font-size: $iconSize;
        }

        &-title {
            font-weight: 100;
            color: $white-alpha-8;
            text-align: center;
        }
    }
}