@import "../../../styles/variables.scss";
@import "../../../styles/animations.scss";

.proposal {
    &.standalone {
        animation: zoomIn .15s;
        background-color: white;
        box-shadow: 0 0 15px rgba(0, 0, 0, .3);
        border-radius: 3px;
        height: 80vh;
        padding: 15px 15% 15px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    &.closed {
        border: 3px solid $red-200;
    }

    &-title {
        color: $white-alpha-8;
        font-size: 24px;

        &-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 15vh;
        }
    }

    &__author-details {
        color: $white-alpha-8;
        display: flex;
        flex-direction: row;
        justify-content: center;
        &__avatar {
            margin-right: 5px;
        }
        &__personnal {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }
    }

    &__request {
        &__city {
            display: flex;
            align-items: center;
            color: rgb(75, 75, 75);
            font-size: 16px;
            .material-icons {
                color: rgb(125, 125, 125);
            }
        }
    }

    &__actions {
        margin-bottom: 10px;
    }

    &__loading {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        $iconSize: 30vh;
        &-icon {
            animation: spin 1s ease-in-out infinite;
            color: $white-alpha-6;
        }

        .mat-icon {
            height: $iconSize;
            width: $iconSize;
        }
        .material-icons {
            font-size: $iconSize;
        }

        &-title {
            font-weight: 100;
            color: $white-alpha-8;
            text-align: center;
        }
    }
}