<div class="proposal-title-wrapper" *ngIf="standalone">
  <h2 class="proposal-title">Proposition</h2>
  <div class="proposal__author-details" *ngIf="proposal?.author && !proposal.authorView">
      <app-avatar class="proposal__author-details__avatar" [image]="proposal?.author?.avatar" [size]="36"></app-avatar>
      <div class="proposal__author-details__personnal">
          de {{ proposal?.author?.firstname }}
          <app-rating [rating]="proposal.author.rating" [size]="36" [light]="true"></app-rating>
      </div>
  </div>
</div>
<div *ngIf="proposal" [ngClass]="{'proposal': true, 'standalone container': standalone, 'closed': standalone && (proposal.closed || proposal.refused)}">
    <div class="row justify-content-around proposal__actions">
        <button class="btn btn-light btn-icon mb-2"
                *ngIf="proposal.authorView && !proposal.closed && !proposal.accepted && !proposal.refused"
                (click)="modifyProposal()">
          <mat-icon>edit</mat-icon> Modifier
        </button>
        <button class="btn btn-success btn-icon mb-2"
                [disabled]="proposal.accepted"
                *ngIf="!proposal.refused && !proposal.closed && receiver && !proposal.paid"
                (click)="acceptProposal()">
          <mat-icon>done</mat-icon> {{ proposal.accepted ? 'Acceptée' : 'Accepter' }}
        </button>
        <button class="btn btn-success btn-icon mb-2"
                [disabled]="proposal.paid"
                (click)="payProposal()"
                *ngIf="
                proposal.toRequest && receiver
                || proposal.fromRequest && proposal.authorView
                && proposal.accepted">
          <mat-icon>credit_card</mat-icon> {{ proposal.paid ? 'Payée' : 'Payer' }}
        </button>
        <button class="btn btn-success btn-icon mb-2"
                [disabled]="proposal.validated"
                *ngIf="
                proposal.toRequest && receiver
                || proposal.fromRequest && proposal.authorView
                && proposal.paid"
                (click)="validateProposal()">
          <mat-icon>done_all</mat-icon> {{ proposal.validated ? 'Réception confirmée' : 'Confirmer la réception' }}
        </button>
        <button class="btn btn-danger btn-icon mb-2"
                [disabled]="proposal.refused"
                *ngIf="(receiver && !proposal.accepted && !proposal.closed) || (!receiver && proposal.refused)"
                (click)="refuseProposal()">
          <mat-icon>clear</mat-icon> {{ proposal.refused ? 'Refusée' : 'Refuser' }}
        </button>
        <button class="btn btn-danger btn-icon mb-2"
                [disabled]="proposal.closed"
                *ngIf="(proposal.authorView || proposal.closed) && !proposal.accepted && !proposal.refused"
                (click)="closeProposal()">
          <mat-icon>clear</mat-icon>{{ proposal.closed ? 'Annulée' : 'Annuler' }}
        </button>
    </div>
    <div class="d-flex justify-content-center text-align-center" *ngIf="!receiver">
      <small class="text-muted" *ngIf="!proposal.accepted && !proposal.refused && !proposal.closed">
        La proposition est en attente d'acceptation par {{ proposal?.to?.user.firstname }}
      </small>
      <small class="text-muted" *ngIf="(proposal.fromTrip || proposal.toRequest) && proposal.accepted && !proposal.paid">
        La proposition a été acceptée par {{ proposal?.to?.user.firstname }} et est en attente de paiement 
      </small>
      <small class="text-muted" *ngIf="(proposal.fromRequest || proposal.toTrip) && proposal.paid && !proposal.validated">
        Vos articles seront livrés par {{ proposal?.to?.user.firstname }} le {{ moment(proposal?.to?.date).format('DD/MM') }}
      </small>
      <small class="text-muted" *ngIf="(proposal.fromTrip || proposal.toRequest) && proposal.paid && !proposal.validated">
          La proposition a été reglée par {{ proposal?.to?.user.firstname }}. Articles à livrer
      </small>
    </div>
    <div class="d-flex justify-content-center text-align-center" *ngIf="receiver">
      <small class="text-muted" *ngIf="(proposal.fromTrip || proposal.toRequest) && proposal.paid && !proposal.validated">
        Vos articles seront livrés par {{ proposal?.from?.user.firstname }} le {{ moment(proposal?.from?.date).format('DD/MM') }}
      </small>
      <small class="text-muted" *ngIf="(proposal.fromRequest || proposal.toTrip) && proposal.accepted && !proposal.paid">
        La proposition a été acceptée par {{ proposal?.from?.user.firstname }} et est en attente de paiement 
      </small>
      <small class="text-muted" *ngIf="(proposal.fromRequest || proposal.toTrip) && proposal.paid && !proposal.validated">
        La proposition a été reglée par {{ proposal?.from?.user.firstname }}. Articles à livrer
      </small>
    </div>
    <hr class="divider" *ngIf="proposal.bonus">
    <div class="proposal__summary">
        <h6 class="text-muted" *ngIf="proposal.bonus">Bonus voyageur: {{ proposal.bonus }} €</h6>
        <small class="text-muted" *ngIf="proposal.lastUpdate">
          Dernière modification {{ moment(proposal.lastUpdate.date).fromNow() }} par
          {{ proposal?.lastUpdate?.author?.id === currentUser.id ? ' vous' : proposal.lastUpdate.author?.firstname || 'Oko user' }}
        </small>
        <div class="d-flex w-100 justify-content-center">
          <button class="btn btn-light btn-sm btn-icon"
                  [disabled]="proposal.accepted || proposal.refused"
                  *ngIf="!proposal.closed && !proposal.accepted && !proposal.refused && proposal.bonus"
                  (click)="updateProposalBonus()">
            <mat-icon>edit</mat-icon> Contre proposition
          </button>
        </div>
    </div>
    <hr class="divider" *ngIf="proposal.from && !self">
    <div *ngIf="receiver; else sender">
        <div class="proposal__summary" *ngIf="fromTrip; else fromRequest">
            <span *ngIf="standalone">Vous avez reçu une proposition de voyage de {{ proposal?.from.user.firstname }}</span>
            <app-proposal-trip [trip]="proposal?.from" (open)="openTrip($event)"></app-proposal-trip>
            <div *ngIf="standalone">
                <hr class="divider">
                Concernant votre annonce:
                <app-proposal-request [request]="proposal?.to" [fullDisplay]="standalone" (open)="openRequest($event)"></app-proposal-request>
            </div>
        </div>
    </div>
    <ng-template #sender>
      <div class="proposal__summary" *ngIf="toTrip; else toRequest">
        <span *ngIf="standalone">Vous avez fait une demande pour le voyage de {{ proposal?.to.user.firstname }}</span>
        <app-proposal-trip [trip]="proposal?.to" (open)="openTrip($event)"></app-proposal-trip>
        <div *ngIf="standalone">
          <hr class="divider">
          Concernant votre annonce:
          <app-proposal-request [request]="proposal?.from" [fullDisplay]="standalone" (open)="openRequest($event)"></app-proposal-request>
        </div>
      </div>
    </ng-template>
    
    <hr class="divider">
    <div class="d-flex w-100 justify-content-center" *ngIf="fromTrip; else requestLocation">
      <div *ngIf="proposal.airportPickup; else location"  class="proposal__request__city">
        <mat-icon>flight</mat-icon> Remise à l'aéroport
      </div>
      <ng-template #location>
        <div class="proposal__request__city"
             *ngIf="proposal.meetingPoint?.city && proposal.meetingPoint?.city !== '' 
                    && proposal.meetingPoint?.address && proposal.meetingPoint?.address; else meeting">
            <mat-icon>location_city</mat-icon> {{ proposal.meetingPoint?.address }}<br>
            <small class="text-muted">{{ proposal.meetingPoint.city }} ({{ proposal.meetingPoint.country }})</small>
        </div>
        <ng-template #meeting>
          <div class="proposal__request__city">
            <mat-icon>location_on</mat-icon> Remise au point de rendez-vous (à définir)
          </div>
        </ng-template>
      </ng-template>            
    </div>
    <br>
    <div class="d-flex w-100 justify-content-center">
      <button class="btn btn-light btn-sm btn-icon mb-5"
              [disabled]="proposal.accepted || proposal.refused"
              *ngIf="!proposal.closed && !proposal.accepted && !proposal.refused && proposal.bonus"
              (click)="updateProposalMeeting()">
        <mat-icon>my_location</mat-icon> {{ proposal.meetingPoint?.city ? 'Proposer un autre lieu' : 'Proposer un lieu de rendez-vous'}}
      </button>
    </div>
</div>


<ng-template #fromRequest>
  <div class="proposal__request" *ngIf="!self">
    <span *ngIf="standalone">Vous avez reçu une demande de transport de {{ proposal?.from.user.firstname }}</span>
    <app-proposal-request [request]="proposal?.from" [fullDisplay]="standalone" (open)="openRequest($event)"></app-proposal-request>
    <div *ngIf="standalone">
      <hr class="divider">
      Concernant votre voyage:
      <app-proposal-trip [trip]="proposal?.to" (open)="openTrip($event)"></app-proposal-trip>
    </div>
  </div>
</ng-template>

<ng-template #toRequest>
  <div class="proposal__request" *ngIf="!self">
    <span *ngIf="standalone">Vous avez proposé un voyage pour l'annonce de {{ proposal?.to.user.firstname }}</span>
    <app-proposal-request [request]="proposal?.to" [fullDisplay]="standalone" (open)="openRequest($event)"></app-proposal-request>
    <div *ngIf="standalone">
      <hr class="divider">
      Votre voyage:
      <app-proposal-trip [trip]="proposal?.from" (open)="openTrip($event)"></app-proposal-trip>
    </div>
  </div>
</ng-template>



<ng-template #requestLocation>
  <div class="row">
    <div [ngClass]="{'col-6': proposal.from?.urgent, 'col-12': !proposal.from?.urgent}">
      <div *ngIf="proposal.airportPickup; else location"  class="proposal__request__city">
        <mat-icon>flight</mat-icon> Remise à l'aéroport
      </div>
      <ng-template #location>
        <div class="proposal__request__city" *ngIf="proposal.meetingPoint?.city; else meeting">
            <mat-icon>location_city</mat-icon> {{ proposal.meetingPoint.address }}<br>
            <small class="text-muted">{{ proposal.meetingPoint?.city }} ({{ proposal.meetingPoint?.country }})</small>
        </div>
        <ng-template #meeting>
          <div class="proposal__request__city">
            <mat-icon>location_on</mat-icon> Remise au point de rendez-vous (à définir)
          </div>
        </ng-template>
      </ng-template>            
    </div>
    <div class="col-6" *ngIf="proposal.from?.urgent">
      <mat-icon>today</mat-icon> {{ moment(proposal.from?.urgentDetails?.date).format('DD/MM/YYYY') }}
      <p *ngIf="!proposal.authorView && proposal.from?.urgentDetails?.explaination">
        Raison: " {{ proposal.from.urgentDetails.explaination }} "
      </p>
    </div>
  </div>
</ng-template>