@import "../../../styles/animations.scss";
@import "../../../styles/classes.scss";
@import "../../../styles/variables.scss";

.proposal {
    &.standalone {
        animation: zoomIn .15s;
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
        transition: all .5s;
    }

    &.closed {
        border: 3px solid $red-200;
    }

    &-title {
        color: $white-alpha-8;
        font-size: 24px;

        &-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 75px;
            padding-top: 15px;
            box-shadow: 0 -5px 5px rgba(0, 0, 0, .1) inset;
        }
    }

    &__actions {
        &-wrapper {
            position: fixed;
            display: flex;
            justify-content: center;
            width: 100vw;
            z-index: 1;
            bottom: 0;
            left: 0;
        }
        @extend .base-oko-card;
        animation: slideInUp .35s;
        width: 95vw;
        max-width: 750px;
        padding: 15px;
        height: 55px;
        transition: height ease-in-out .25s;

        &.extended {
            height: 250px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            transition: height ease-in-out .25s;
        }

        &__expand {
            color: rgb(175, 175, 175);
        }

        &__close {
            color: rgb(175, 175, 175);
            position: absolute;
            right: 15px;
            top: 10px;
        }

        &__bonus {
            display: flex;
            flex-direction: column;
            align-items: center;
            animation: appear .15s;

            button {
                font-size: 12px;
            }

            &-title {
                color: rgb(125, 125, 125);
            }

            &-figure {
                color: rgb(175, 175, 175);
                font-size: 48px;
                margin-bottom: -5px;
                animation: slideInUp .35s;

                &.updated {
                    color: $light-green-600;
                }
            }

            &-subtitle {
                color: rgb(175, 175, 175);
                font-size: 11px;
                text-align: center;
            }
        }

        &__management {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            animation: appear .15s;

            button {
                font-size: 12px;
                justify-content: center;
                width: 100%;
            }
        }
    }

    &__summary {
        @extend .base-oko-card;
        max-width: 900px;
        position: relative;
        top: -10px;
        height: 55vh;
        padding: 15px;
        margin-bottom: 10px;
        overflow-y: scroll;
        transition: all ease-in-out .15s;

        &.closed {
            border: 3px solid $red-200;
        }

        &.extended {
            height: 80vh;
            transition: all ease-in-out .35s;
        }

        &__author {
            display: flex;
            justify-content: center;
            align-items: center;
            position: sticky;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            top: -15px;
            padding: 10px;
            margin: -15px -15px 0 -15px;
            background-color: white;
            border-bottom: 1px solid rgb(235, 235, 235);
            z-index: 1;

            &-avatar {
                margin-right: 5px;
            }
            &-info {
                display: flex;
                flex-direction: column;
                margin-right: 10px;
            }
            &-type {
                font-size: 12px;
            }
        }

        &__partial {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 42vh;
        }

        $partialToFullDuration: .25s;
        $partialToFullStyle: ease-out;
        &__details {
            animation: slideInDown $partialToFullStyle $partialToFullDuration;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 15px;
        }

        &__arrival {
            animation: slideInUp $partialToFullStyle $partialToFullDuration;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            height: 20vh;
            &__title {
                color: rgb(75, 75, 75);
            }
            &__location {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                &-city {
                    font-size: 20px;
                    font-weight: 100;
                    color: rgb(100, 100, 100);
                    margin-bottom: 0;
                }
                &-airport {
                    font-size: 12px;
                    color: rgb(150, 150, 150);
                    text-align: center;
                }
            }
            &__date {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                &-day {
                    font-size: 24px;
                    font-weight: 100;
                    margin-bottom: 0;
                    color: rgb(100, 100, 100);
                }
                &-hour {
                    font-size: 14px;
                    color: rgb(150, 150, 150);
                }
            }
        }

        &__request {
            animation: slideInUp $partialToFullStyle $partialToFullDuration;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 20vh;
            width: 100%;
        }
    }

    &__location {
        @extend .base-oko-card;
        padding: 15px;
        max-width: 900px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 10px;
        
        button {
            font-size: 12px;
        }
    }

    &__loading {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        $iconSize: 30vh;
        &-icon {
            animation: spin 1s ease-in-out infinite;
            color: $white-alpha-6;
        }

        .mat-icon {
            height: $iconSize;
            width: $iconSize;
        }
        .material-icons {
            font-size: $iconSize;
        }

        &-title {
            font-weight: 100;
            color: $white-alpha-8;
            text-align: center;
        }
    }

    &__request {
        &__city,
        &__date {
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgb(75, 75, 75);
            font-size: 16px;
            .mat-icon {
                margin-right: 5px;
            }
            .material-icons {
                color: rgb(125, 125, 125);
            }

            &.outdated {
                color: $red-800;
            }
        }
    }
}

.btn-cancelled {
    width: 100%;
    justify-content: center;
}