<div class="landing">
    <div class="landing-backdrop">
        <div class="landing-brand-wrapper">
            <h1 class="landing-brand">ọkọ</h1>
            <small class="landing-brand-tagline">Le service de livraison collaboratif</small>
        </div>
        <div class="landing-profile container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="landing-expat">
                        <button class="btn btn-hero btn-icon">
                            <mat-icon>language</mat-icon> Je suis expatrié
                        </button>
                        <small class="landing-sub">
                            Je vis à l'étranger et je cherche des produits que je ne trouve pas sur place
                        </small>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="landing-traveler">
                        <button class="btn btn-hero btn-icon">
                            <mat-icon>flight_takeoff</mat-icon> Je suis un voyageur
                        </button>
                        <small class="landing-sub">
                            Je voyage régulièrement, j'aimerais rentabiliser mes trajets et rencontrer des personnes
                            à mon arrivée
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>