<nav class="navbar navbar-light" [class.expanded]="menuDisplay" [class.light]="light">
    <button mat-button class="btn navbar-previous-wrapper" matRipple [matRippleColor]="'#FFFFFF55'" (click)="back()">
      <span class="navbar-previous"><mat-icon>arrow_back_ios</mat-icon></span>
    </button>
    <a class="navbar-brand" href="#">ọkọ</a>
    <button class="navbar-toggler" type="button"
      aria-controls="menu-collapse" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMenu()">
      <mat-icon *ngIf="!menuDisplay">menu</mat-icon>
      <mat-icon *ngIf="menuDisplay">clear</mat-icon>
    </button>

  <!-- <div class="collapse navbar-collapse right" id="menu-collapse">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" *ngFor="let item of menuItems">
        <a class="nav-link" [class.disabled]="item.disabled"
           routerLink="{{ item.path }}" routerLinkActive="active">
           {{ item.label }} <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" *ngFor="let item of displayAccountMenuItems">
        <a class="nav-link" [class.disabled]="item.disabled"
           routerLink="{{ item.path }}" routerLinkActive="active">
           {{ item.label }} <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
  </div> -->
</nav>

<div class="navbar__fullscreen justify-content-center" (swipeRight)="hide()" [hidden]="!menuDisplay">
  <small class="navbar__fullscreen-title" *ngIf="randomWelcome">{{ randomWelcome }} </small>
  <div class="navbar__fullscreen-item" [class.active]="rlm.isActive" *ngFor="let item of menuItems" (click)="hide()">
    <a routerLink="{{ item.path }}" routerLinkActive [routerLinkActiveOptions]="{exact:true}" #rlm="routerLinkActive">
        <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
        {{ item.label }}
    </a>
  </div>
  <hr class="divider">
  <div class="navbar__fullscreen-item" [class.active]="rla.isActive" *ngFor="let item of displayAccountMenuItems" (click)="hide()">
    <a routerLink="{{ item.path }}" routerLinkActive [routerLinkActiveOptions]="{exact:true}" #rla="routerLinkActive">
        <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
        {{ item.label }}
    </a>
  </div>
  <hr class="divider">
  <small class="navbar__fullscreen-title">Espace Voyageur</small>
  <div class="navbar__fullscreen-item" [class.active]="rlt.isActive" *ngFor="let item of travelerMenuItems" (click)="hide()">
      <a routerLink="{{ item.path }}" routerLinkActive [routerLinkActiveOptions]="{exact:true}" #rlt="routerLinkActive">
          <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
          {{ item.label }}
      </a>
    </div>
</div>