@import "../../../styles/variables.scss";

$transitionDuration: 0.15s;
$transitionStyle: ease-in-out;
$animationDuration: 0.15s;
$iconsColor: rgb(125, 125, 125);
$menu-color: rgba(255, 255, 255, .2);
$expanded-menu-color: rgba(255, 255, 255, .95);

.navbar {
    transition: $transitionDuration $transitionStyle all;
    position: fixed;
    top:0;
    z-index: 101;
    display: flex;
    justify-content: center;
    height: $navbarHeight;
    flex-wrap: nowrap;
    width: 100%;
    border-bottom: thin solid rgba(255, 255, 255, .5);
    background-color: $menu-color;

    &:hover,
    &.expanded {
        transition: $transitionDuration $transitionStyle all;
        border-bottom: thin solid rgb(255, 255, 255);
        background-color: rgba(255, 255, 255, .6);
        .mat-icon,
        .material-icon {
            transition: $transitionDuration all;
            color: $iconsColor;
        }
    }

    &.expanded {
        background-color: $expanded-menu-color;
    }

    &-brand {
        flex-direction: column;
        justify-content: center;
        width: auto;
        font-size: 36px;
        padding-top: 0;
        margin-left: 10px;
        height: $navbarHeight;
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;
        text-align: center;
        background: -webkit-linear-gradient(45deg,#69F5FF, #5FE8C9, #75FFB6, #5FE877, #98FF85);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &-toggler {
        border: none;
        position: absolute;
        right: 20px;

        .mat-icon,
        .material-icon {
            color: white;
        }

        &:focus {
            border: none;
            outline: none;
        }
    }

    &-previous-wrapper {
        position: absolute;
        top: 10px;
        left: 15px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        outline: none;
        box-shadow: none;

        opacity: 1;
        .material-icons {
            color: white;
        }
        &:focus,
        &:hover,
        &:active {
            .material-icons {
                color: white;
            }
        }
    }

    &.light {
        transition: $transitionDuration $transitionStyle all;
        background-color: rgba(255, 255, 255, 0);
        border: none;

        .navbar {
            &-brand {
                transition: $transitionDuration $transitionStyle all;
                opacity: 0;
            }
            &-toggler {
                .mat-icon,
                .material-icon {
                    transition: $transitionDuration $transitionStyle all;
                    color: white;
                }
            }
        }

        &:hover {
            background-color: rgba(255, 255, 255, .2);
        }

        &.expanded {
            background-color: $expanded-menu-color;
            .navbar-toggler {
                .mat-icon,
                .material-icon {
                    transition: $transitionDuration $transitionStyle all;
                    color: $iconsColor;
                }
            }
        }

        &:hover,
        &.expanded {
            transition: $transitionDuration $transitionStyle all;
            .navbar-brand {
                transition: $transitionDuration $transitionStyle all;
                opacity: 1;
            }
        }
        
    }
}

@keyframes fullscreenItemsEnter {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fullscreenEnter {
    0% { opacity: 0.25; right: -75%; }
    100% { opacity: 1; right: 0%; }
}

.navbar__fullscreen {
    animation: fullscreenEnter $animationDuration;
    -webkit-animation: fullscreenEnter $animationDuration;
    -moz-animation: fullscreenEnter $animationDuration;
    -o-animation: fullscreenEnter $animationDuration;

    position: fixed;
    top: $navbarHeight;
    padding-top: 1vh;
    z-index: 102;
    width: 100%;
    height: 95vh;
    box-shadow: -5px 3px 7px rgba(0, 0, 0, .05);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $expanded-menu-color;

    &-avatar {
        display: flex;
        justify-content: flex-start;
        padding-left: 10%;
        width: 100%;
        height: 10vh;
        min-height: 80px;
    }

    &-item {
        $itemSize: 3.5vh;
        animation: fullscreenItemsEnter $animationDuration;
        transition: all $transitionDuration;
        width: 100%;
        padding-left: 10%;
        text-align: left;
        font-size: $itemSize;
        font-weight: 400;
        a {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .mat-icon {
            height: $itemSize;
            width: $itemSize;
            margin-right: 15px;
        }
        .material-icons {
            font-size: $itemSize;
        }

        &:hover {
            transition: all $transitionDuration;
            background-color: rgba(0, 0, 0, .1);
        }

        &.active {
            background-color: rgba(0, 0, 0, .2);
        }

        a {
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            // width: 100%;
            height: 100%;
            color: rgb(80, 80, 80);
            text-decoration: none;
        }
    }

    &-title {
        display: block;
        margin-left: 10%;
    }

    &__account {
        position: absolute;
        bottom: 75px;
        display: flex;
        flex-direction: column;
        border-top: thin solid rgba(0, 0, 0, .1);
        width: 100%;
        font-weight: 100;
    }

    .divider {
        height: 1px;
        background-color: rgb(235, 235, 235);
    }
}

.collapse {
    color: white;
}