<nav class="navbar navbar-expand-lg navbar-light" [class.expanded]="menuDisplay">
  <button class="navbar-toggler navbar-previous-wrapper" type="button" aria-label="Previous"
         [class.available]="previousAvailable" (click)="back()">
    <span class="navbar-previous">
      <mat-icon>keyboard_backspace</mat-icon>
    </span>
  </button>
  <a class="navbar-brand mx-auto" href="#">ọkọ</a>
  <button class="navbar-toggler" type="button"
          aria-controls="menu-collapse" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMenu()">
    <span class="navbar-toggler-icon" *ngIf="!menuDisplay"></span>
    <mat-icon *ngIf="menuDisplay">clear</mat-icon>
  </button>

  <div class="collapse navbar-collapse right" id="menu-collapse">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" *ngFor="let item of menuItems">
        <a class="nav-link" [class.disabled]="item.disabled"
           routerLink="{{ item.path }}" routerLinkActive="active">{{ item.label }} <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" *ngFor="let item of displayAccountMenuItems">
        <a class="nav-link" [class.disabled]="item.disabled"
           routerLink="{{ item.path }}" routerLinkActive="active">{{ item.label }} <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="navbar__fullscreen justify-content-center" [hidden]="!menuDisplay">
  <div class="navbar__fullscreen-item" *ngFor="let item of menuItems" (click)="toggleMenu()">
    <a routerLink="{{ item.path }}" routerLinkActive="active">{{ item.label }}</a>
  </div>
  <hr class="divider">
  <div class="navbar__fullscreen-item" *ngFor="let item of displayAccountMenuItems" (click)="toggleMenu()">
    <a routerLink="{{ item.path }}" routerLinkActive="active">{{ item.label }}</a>
  </div>
</div>