@import "../../../styles/variables.scss";

$transitionDuration: 0.15s;
$transitionStyle: ease-in-out;
$animationDuration: 0.15s;
$menu-color: rgba(255, 255, 255, .2);
$expanded-menu-color: rgba(255, 255, 255, .95);

.navbar {

    transition: $transitionDuration $transitionStyle all;
    -webkit-transition: $transitionDuration $transitionStyle all;
    -moz-transition: $transitionDuration $transitionStyle all;
    -o-transition: $transitionDuration $transitionStyle all;
    position: fixed;
    top:0;
    z-index: 20;
    height: $navbarHeight;
    flex-wrap: nowrap;
    width: 100%;
    border-bottom: rgba(255, 255, 255, .5);
    background-color: $menu-color;

    &:hover,
    &.expanded {
        transition: $transitionDuration $transitionStyle all;
        -webkit-transition: $transitionDuration $transitionStyle all;
        -moz-transition: $transitionDuration $transitionStyle all;
        -o-transition: $transitionDuration $transitionStyle all;
        border-bottom: rgb(255, 255, 255);
        background-color: rgba(255, 255, 255, .6);
    }

    &.expanded {
        background-color: $expanded-menu-color;
    }

    &-brand {
        flex-direction: column;
        justify-content: center;
        width: auto;
        font-size: 36px;
        padding-top: 0;
        height: $navbarHeight;
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;
        text-align: center;
        background: -webkit-linear-gradient(45deg,#69F5FF, #5FE8C9, #75FFB6, #5FE877, #98FF85);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &-toggler {
        border: none;

        &-icon {
            color: white;
        }
    }

    &-previous-wrapper {
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;

        opacity: .2;

        &.available {
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -o-transition: all 0.5s;

            opacity: 1;
        }
    }
}

@keyframes fullscreenItemsEnter {
    0% { opacity: 0; margin-top: -10%; }
    100% { opacity: 1; margin-top: 0%; }
}

@keyframes fullscreenEnter {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

.navbar__fullscreen {
    animation: fullscreenEnter $animationDuration;
    -webkit-animation: fullscreenEnter $animationDuration;
    -moz-animation: fullscreenEnter $animationDuration;
    -o-animation: fullscreenEnter $animationDuration;

    position: fixed;
    top: $navbarHeight;
    z-index: 20;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: $expanded-menu-color;

    &-item {
        animation: fullscreenItemsEnter $animationDuration;
        -webkit-animation: fullscreenItemsEnter $animationDuration;
        -moz-animation: fullscreenItemsEnter $animationDuration;
        -o-animation: fullscreenItemsEnter $animationDuration;
        transition: all $transitionDuration;
        width: 110%;
        margin-left: -5%;
        text-align: center;
        font-size: 24px;
        font-weight: 700;

        &:hover {
            transition: all $transitionDuration;
            background-color: rgba(0, 0, 0, .1);
        }

        &.active {
            background-color: rgba(0, 0, 0, .2);
        }

        a {
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            // width: 100%;
            height: 100%;
            color: rgb(80, 80, 80);
            text-decoration: none;
        }
    }

    .divider {
        height: 1px;
        background-color: rgb(235, 235, 235);
    }
}

.collapse {
    color: white;
}