<div class="post-filter">
    <div class="row" *ngIf="options.location || options.country || options.city || options.beforeDate">
        <div class="form-group col-6" *ngIf="options.location">
            <input type="text" name="location" class="form-control"
                    placeholder="Lieu de réception"
                    [(ngModel)]="filter.location" (ngModelChange)="emitFilter()">
        </div>
        <div class="form-group col-6" *ngIf="options.country">
            <input type="text" name="country" class="form-control"
                    placeholder="Pays"
                    [(ngModel)]="filter.country" (ngModelChange)="emitFilter()">
        </div>
        <div class="form-group col-6" *ngIf="options.city">
            <input type="text" name="city" class="form-control"
                    placeholder="Ville de remise"
                    [(ngModel)]="filter.city" (ngModelChange)="emitFilter()">
        </div>
        <div class="col-6" *ngIf="options.beforeDate">
            <div class="row">
                <div class="form-group col-8">
                    <input type="text" name="beforeDate"
                            placeholder="Avant le"
                            readonly
                            class="form-control"
                            [(ngModel)]="filter.beforeDate"
                            (ngModelChange)="emitFilter()"
                            [matDatepicker]="picker"
                            [min]="today">
                </div>
                <div class="form-group col-3">
                    <mat-datepicker-toggle class="light" [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="form-group col-6" *ngIf="options.airportPickup">
            <mat-checkbox class="light" [(ngModel)]="filter.airportPickup" (ngModelChange)="emitFilter()" color="primary">
                <small class="text-muted light">Remise à l'aéroport</small>
            </mat-checkbox>
        </div>
        <div class="form-group col-6" *ngIf="options.urgent">
            <mat-checkbox class="light" [(ngModel)]="filter.urgent" (ngModelChange)="emitFilter()" color="primary">
                <small class="text-muted light">Demande urgente</small>
            </mat-checkbox>
        </div>
    </div>
</div>