@import "../../../styles/variables.scss";

@keyframes slideEnter {
    0% { width: 0%; opacity: .5; }
    100% { width: 35%; opacity: 1; }
}

$transitionPanelDuration: .15s;
$transitionStyle: ease-out;

.remove-panel {
    transition: all $transitionStyle $transitionPanelDuration;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    animation: 0.15s slideEnter;
    top: 0;
    right: -50%;
    height: 100%;
    width: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5) inset;
    position: absolute;
    z-index: 1;
    .mat-icon {
        color: white;
    }

    &.display {
        transition: all $transitionStyle $transitionPanelDuration;
        right: 0;
    }

    &__remove {
        transition: all $transitionStyle $transitionPanelDuration;
        background-color: $red-800;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5) inset;

        &:hover {
            transition: all $transitionStyle $transitionPanelDuration;
            background-color: $red-600;
        }
    }

    &__edit {
        transition: all $transitionStyle $transitionPanelDuration;
        background-color: $amber-800;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5) inset;

        &:hover {
            transition: all $transitionStyle $transitionPanelDuration;
            background-color: $amber-600;
        }
    }
}