<div class="proposal-request" *ngIf="request; else empty">
    <h6 class="text-muted">Articles ({{request?.items?.length || 0}})</h6>
    <div *ngIf="fullDisplay; else restrictedDisplay">
      <app-item class="proposal-request__item"
        [item]="item" [fullWidth]="true"
        [removable]="false" [creator]="own"
        [openable]="true"
        *ngFor="let item of request?.items">
      </app-item>
    </div>
    <ng-template #restrictedDisplay>
      <mat-card class="proposal-request__item" matRipple *ngFor="let item of request?.items">
        <mat-card-title>{{ item.label }}</mat-card-title>
      </mat-card>
    </ng-template>
    <div class="d-flex w-100 justify-content-center mt-3">
      <button [disabled]="!request?.id" (click)="openRequest()" class="btn btn-info">Voir l'annonce</button>
    </div>
</div>

<ng-template #empty>
  <div class="proposal-request">
    <small class="text-muted">Aucune information concernant la demande</small>
  </div>
</ng-template>
