<div class="proposal-shared">
    <h3 class="proposal-shared__title row w-100 ml-0" *ngIf="aboutTrip; else requestTitle" matLine>
        <div class="author col-4 col-sm-3" *ngIf="!own">
            <app-avatar class="proposal-shared__avatar" *ngIf="proposal.author?.avatar; else iconAvatar"
                        [image]="proposal.author?.avatar" [size]="24"></app-avatar>
            <ng-template #iconAvatar>
                <mat-icon>account_circle</mat-icon>
            </ng-template>
            {{ proposal.author?.firstname }}
        </div>
        <div [ngClass]="{'flight': true, 'col-8 col-sm-6': !own, 'col-12 col-sm-9': own}">
            <div class="flight-start"><mat-icon>flight_takeoff</mat-icon> {{ proposal.from?.from?.label }} </div>
            <div class="flight-end"><mat-icon>flight_land</mat-icon> {{ proposal.from?.to?.label }}</div>
        </div>
        <div class="date col-12 col-sm-3 justify-content-center justify-content-sm-end"><mat-icon>today</mat-icon> {{ proposal.from?.date?.format('DD/MM') }}</div>
    </h3>
    <ng-template #requestTitle>
        <h3 class="proposal-shared__title" matLine>
            <app-avatar class="proposal-shared__avatar" *ngIf="!own"
                        [image]="proposal.author?.avatar" [size]="24">
            </app-avatar>
            <div class="d-flex flex-column justify-content-start">
                <div>{{ own ? ' Ma demande' : 'Demande de ' + proposal.author?.firstname }}</div>
                <div>
                    <small *ngFor="let item of proposal?.from?.items; let i = index">
                        {{ item.label }} {{ i < proposal.from.items.length - 1 ? '-' : '' }}
                    </small>
                </div>
            </div>
        </h3>
    </ng-template>
    <p class="proposal-shared__description" matLine>
        <span class="proposal-shared__status" *ngIf="!proposal.closed && !proposal.refused && !proposal.accepted">En attente</span>
        <span class="proposal-shared__status" *ngIf="proposal.closed">Annulée</span>
        <span class="proposal-shared__status" *ngIf="proposal.refused && !proposal.closed">Refusée</span>
        <span class="proposal-shared__status" *ngIf="proposal.accepted && !proposal.validated">Acceptée</span>
        <span class="proposal-shared__status" *ngIf="proposal.validated">Livrée</span>
        <span class="proposal-shared__info" *ngIf="proposal.fromRequest && proposal?.from['urgent'] && !proposal.closed">
            - avant le {{ moment(proposal.from.urgentDetails.date).format('DD/MM') }}
        </span>
        <span class="proposal-shared__info" *ngIf="proposal.bonus && !proposal.closed"> - Bonus : {{ proposal.bonus }} €</span> <br>
        <span class="proposal-shared__date"> Envoyé le {{ moment(proposal.date).format('DD/MM/YYYY à HH:mm') }} </span>
    </p>
</div>