<!-- Accepted proposals-->
<app-proposal-list-item
    class="proposal-list-item"
    *ngFor="let proposal of acceptedProposals"
    [proposal]="proposal"
    [aboutTrip]="aboutTrip || proposal.fromTrip"
    [own]="own || proposal?.author?.id === user?.id"
    [routerLink]="['/post', 'proposal', proposal.id]">
</app-proposal-list-item>

<!-- Pending proposals -->
<app-proposal-list-item
    class="proposal-list-item"
    *ngFor="let proposal of pendingProposals"
    [proposal]="proposal"
    [aboutTrip]="aboutTrip || proposal.fromTrip"
    [own]="own || proposal?.author?.id === user?.id"
    [routerLink]="['/post', 'proposal', proposal.id]">
</app-proposal-list-item>

<!-- Refused proposals-->
<app-proposal-list-item
    class="proposal-list-item"
    *ngFor="let proposal of refusedProposals"
    [proposal]="proposal"
    [aboutTrip]="aboutTrip || proposal.fromTrip"
    [own]="own || proposal?.author?.id === user?.id"
    [routerLink]="['/post', 'proposal', proposal.id]">
</app-proposal-list-item>

<!-- Irrelevant proposals (closed, outdated)-->
<app-proposal-list-item
    class="proposal-list-item"
    *ngFor="let proposal of irrelevantProposals"
    [proposal]="proposal"
    [aboutTrip]="aboutTrip || proposal.fromTrip"
    [own]="own || proposal?.author?.id === user?.id"
    [routerLink]="['/post', 'proposal', proposal.id]">
</app-proposal-list-item>
