<mat-list>
    <!-- Accepted proposals-->
    <mat-list-item class="proposal-list__proposal"
                    *ngFor="let proposal of acceptedProposals"
                    [class.closed]="proposal.closed"
                    [class.pending]="!proposal.closed && !proposal.refused && !proposal.accepted"
                    [class.accepted]="proposal.accepted && !proposal.closed"
                    [class.refused]="proposal.refused && !proposal.closed"
                    [routerLink]="['/post', 'proposal', proposal.id]">
        <app-proposal-shared class="proposal-shared" [proposal]="proposal" [aboutTrip]="aboutTrip || proposal.fromTrip"
                             [own]="own || proposal?.author?.id === user?.id"></app-proposal-shared>
    </mat-list-item>

    <!-- Pending proposals-->
    <mat-list-item class="proposal-list__proposal"
        *ngFor="let proposal of pendingProposals"
        [class.closed]="proposal.closed"
        [class.pending]="!proposal.closed && !proposal.refused && !proposal.accepted"
        [class.accepted]="proposal.accepted && !proposal.closed"
        [class.refused]="proposal.refused && !proposal.closed"
        [routerLink]="['/post', 'proposal', proposal.id]">
        <app-proposal-shared class="proposal-shared" [proposal]="proposal" [aboutTrip]="aboutTrip || proposal.fromTrip"
                             [own]="own || proposal?.author?.id === user?.id"></app-proposal-shared>

    </mat-list-item>

    <!-- Refused proposals-->
    <mat-list-item class="proposal-list__proposal"
        *ngFor="let proposal of refusedProposals"
        [class.closed]="proposal.closed"
        [class.pending]="!proposal.closed && !proposal.refused && !proposal.accepted"
        [class.accepted]="proposal.accepted && !proposal.closed"
        [class.refused]="proposal.refused && !proposal.closed"
        [routerLink]="['/post', 'proposal', proposal.id]">
        <app-proposal-shared class="proposal-shared" [proposal]="proposal" [aboutTrip]="aboutTrip || proposal.fromTrip"
                             [own]="own || proposal?.author?.id === user?.id"></app-proposal-shared>            
    </mat-list-item>

    <!-- Irrelevant proposals (closed, outdated)-->
    <mat-list-item class="proposal-list__proposal"
        *ngFor="let proposal of irrelevantProposals"
        [class.closed]="proposal.closed"
        [class.pending]="!proposal.closed && !proposal.refused && !proposal.accepted"
        [class.accepted]="proposal.accepted && !proposal.closed"
        [class.refused]="proposal.refused && !proposal.closed"
        [routerLink]="['/post', 'proposal', proposal.id]">
        <app-proposal-shared class="proposal-shared" [proposal]="proposal" [aboutTrip]="aboutTrip || proposal.fromTrip"
                             [own]="own || proposal?.author?.id === user?.id"></app-proposal-shared>
    </mat-list-item>
<mat-list>