@import "../../../../styles/classes.scss";
@import "../../../../styles/variables.scss";

.proposal-edit-bonus {
    &-title {
        @extend .base-modal-title;
        font-size: 18px;
        display: flex;
        align-items: center;
    }
    &__content {
        transition: all $transitionDuration;
        width: 100%;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__bonus {
            font-size: 36px;
            color: rgb(125, 125, 125);
        }
        &__slider {
            width: 100%;
            touch-action: auto;
            -webkit-user-drag: none;
        }
    }
}
