@import "../../../../styles/variables.scss";
@import "../../../../styles/animations.scss";

.trip-list {
    height: 100vh;

    &__hero {
        animation: $animationDuration openHero;
        -webkit-animation: $animationDuration openHero;
        -moz-animation: $animationDuration openHero;
        -o-animation: $animationDuration openHero;

        background-image: url('/assets/hero-trip-detail.jpg'), $heroGradient;
        background-size: 100% auto;
        background-position: center;
        width: 100vw;
        height: 25vh;
        padding-top: $navbarHeight;
        align-items: center;
        box-shadow: 0 -5px 5px rgba(0, 0, 0, .1) inset;
        color: white;
    }

    &__filters {
        position: sticky;
        top: 0;
        z-index: 11;
    }

    &__list {
        height: 65vh;
        overflow-y: scroll;
    }

    &__empty {
        $emptyColor: rgb(175, 175, 175);
        color: $emptyColor;
        $iconSize: 64px;
        height: 30vh;
        align-items: center;
        .mat-icon {
            width: $iconSize;
            height: $iconSize;
        }
        .material-icons {
            font-size: $iconSize;
            color: $emptyColor;
        }
    }
}