<div class="trip-list container-fluid">
  <div class="trip-list__hero row justify-content-center">
    <h1 class="trip-list__hero-title">Trajets à venir</h1>
    <!-- <mat-progress-bar class="trip-list__loading" mode="indeterminate" *ngIf="loading"></mat-progress-bar> -->
  </div>
  <div class="trip-list__filters">
    <app-post-filter [filter]="filter" (filterRefresh)="filterPosts($event)" (resetFilter)="resetFilters()"></app-post-filter>
  </div>
  <div class="trip-list__list">
    <app-post-list [trip]="true"></app-post-list>
  </div>
</div>