<div class="trip-constraints">
    <h4 class="constraints-title trip-title">Espace disponible</h4>
    <small class="text-muted">Indiquez la taille et le poids maximum de l'article que vous pouvez transporter</small>
    <div class="trip-constraints__luggage">
      <button class="btn btn-info add-luggage" (click)="openLuggageDialog()">
        <mat-icon>add</mat-icon> Ajouter un bagage
      </button>
      <div class="luggage-list">
        <mat-card matRipple class="luggage" *ngFor="let luggage of luggages; let i = index"
                  (click)="editLuggage(i)"
                  (swipeleft)="disclose[i] = true"
                  (swiperight)="disclose[i] = false">
          <mat-card-title class="d-flex align-items-center">
            <mat-icon>
              {{ luggage.cabin ? 'work' : luggage.large ? 'kitchen' : 'flight' }}
            </mat-icon>
            Bagage {{ i + 1 }}
          </mat-card-title>
          <app-remove-panel [display]="disclose[i]" (remove)="removeLuggage(i)"></app-remove-panel>
          <mat-icon class="remove-luggage" (click)="removeLuggage(i)">clear</mat-icon>
          <mat-card-subtitle>
            {{ luggage.cabin ? 'Cabine' :  luggage.large ? 'Volumineux' : 'Soute' }}
          </mat-card-subtitle>
          <mat-card-content>
              <mat-list dense class="luggage-info">
                  <mat-list-item>
                    <mat-icon matListIcon>shopping_basket</mat-icon>
                    <span matLine>{{ luggage.weight }} kg </span>
                    <small class="text-muted" matLine>Poids disponible</small>
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon matListIcon>swap_vert</mat-icon>
                    <span matLine>{{ luggage.height }} cm</span>
                    <small class="text-muted" matLine>Hauteur</small>
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon matListIcon>swap_horiz</mat-icon>
                    <span matLine>{{ luggage.width }} cm</span>
                    <small class="text-muted" matLine>Largeur</small>
                  </mat-list-item>
                  <mat-list-item>
                    <mat-icon matListIcon>compare_arrows</mat-icon>
                    <span matLine>{{ luggage.depth }} cm</span>
                    <small class="text-muted" matLine>Profondeur</small>
                  </mat-list-item>
              </mat-list>
              <app-space-indicator [filling]="luggage.availableSpace"
                                   [size]="250"
                                   class="mt-2"
                                   *ngIf="luggage.availableSpace && !luggage.large">
              </app-space-indicator>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <hr class="divider">
    <div class="trip-constraints__airport">
      <h4 class="trip-title">Remise</h4>
      <small class="text-muted">
        Indiquez où vous souhaitez remettre l'article. Le calcul du bonus voyageur tient compte du mode de remise.
      </small>
      <div class="trip-constraints__airport-actions row">
          <div class="col-12 col-sm-6">
            <button class="btn btn-toggle btn-airport" [class.active]="airportDrop" (click)="inAirport()">
              <mat-icon>local_airport</mat-icon>
              Remise à l'aéroport
            </button>
          </div>
          <div class="col-12 col-sm-6">
            <button class="btn btn-toggle btn-airport" [class.active]="!airportDrop" (click)="inLocation()">
              <mat-icon>my_location</mat-icon>
              Remise à un autre lieu de rendez-vous
            </button>
          </div>
      </div>
    </div>
</div>
