@import "./variables.scss";

$animationDuration: 0.15s;

@keyframes animateBackground {
  0% { background-position: 0 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes openHero {
    0% { height: 0vh; margin-top: 25vh; border-top-left-radius: 50%; border-top-right-radius: 50% }
    75% { border-top-left-radius: 25%; border-top-right-radius: 25%; }
    100% { height: 25vh; margin-top: 0; border-radius: 0 }
}

@keyframes slideFromUp {
    0% { margin-top: -15%; opacity: 0 }
    75% { opacity: .3 }
    100% { opacity: 1 }
}

@keyframes appear {
    0% { opacity: 0}
    100% { opacity: 1 }
}

@keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
    from {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUpAppearance {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

  @keyframes glowOn {
    0% { box-shadow: 0 0 0px $light-green-400}
    50% { box-shadow: 0 0 15px $light-green-400}
    100% { box-shadow: 0 0 0px $light-green-400}
  }

  @keyframes spin {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }
  