@import "./variables.scss";

.base-hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 12px;
    background: $heroGradient;
    background-size: 100vw 100vh;
    width: 100vw;
    min-height: 125px;
    z-index: 10;
    box-shadow: 0 -5px 5px rgba(0, 0, 0, .1) inset;
    color: $white-alpha-8;
}

.base-hero-title {
    $titleSize: 3vh;
    font-size: $titleSize;
    font-weight: 100;
    display: flex;
    align-items: center;
    .btn {
        z-index: 110;
         display: inline-flex !important;
        .mat-icon {
            height: $titleSize;
            width: $titleSize;
        }
        .material-icons {
            font-size: $titleSize;
            color: $white-alpha-8;
        }
    }
}

.base-brand {
    // Define a font-size and you're good to go
    flex-direction: column;
    justify-content: center;
    width: auto;
    padding-top: 0;
    margin-left: 10px;
    height: $navbarHeight;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    text-align: center;
    background: -webkit-linear-gradient(45deg,#69F5FF, #5FE8C9, #75FFB6, #5FE877, #98FF85);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.landing-brand {
    &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;
    }
    &-tagline {
        font-size: 16px;
        color: rgb(255, 255, 255);
        text-shadow: 0 0 3px rgba(255, 255, 255, .4);
    }
    @extend .base-brand;
    font-size: 96px;
    height: 112px;
    text-shadow: none !important;
    margin-bottom: 0;
    margin-left: 0;
}

.base-modal-title {
    font-size: 24px;
    font-weight: 700;
    color: $cyan-600;
}

.base-icon-backdrop {
    color: rgba(0, 0, 0, .1);
    position: absolute;
    left: 50%;
    z-index: 0;
}

.base-oko-card {
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);
    border-radius: 3px;
}