$hoverDuration: 0.35s;
$animationDuration: 0.15s;
$transitionDuration: 0.15s;
$transitionStyle: ease-out;
$navbarHeight: 60px;

$okoColors: (
    blue: #69F5FF,
    blue-o-2: rgba(105, 245, 255, 0.2),
    lagoon: #5FE8C9,
    turquoise: #75FFB6,
    green: #5FE877,
    lime: #98FF85,
);
$okoGradient: linear-gradient(45deg,#69F5FF, #5FE8C9, #75FFB6, #5FE877, #98FF85);
$heroGradient: linear-gradient(45deg,#00aac1, #7CB342);

$white-alpha-2: rgba(255, 255, 255, .2);
$white-alpha-4: rgba(255, 255, 255, .4);
$white-alpha-6: rgba(255, 255, 255, .6);
$white-alpha-8: rgba(255, 255, 255, .8);

$cyan-200: #80deea;
$cyan-300: #4dd0e1;
$cyan-200-light: #b4ffff;
$cyan-600: #00acc1;

$light-green-200: #c5e1a5;
$light-green-600: #7cb342;

$amber-50: #fff8e1;
$amber-100: #ffecb3;
$amber-200: #ffe082;
$amber-500: #ffc107;
$amber-600: #ffb300;
$amber-700: #ffa000;
$amber-800: #ff8f00;
$amber-800-dark: #c56000;

$red-100: #ffcdd2;
$red-200: #ef9a9a;
$red-600: #e53935;
$red-700: #d32f2f;
$red-800-alpha: #c62828BB;
$red-800: #c62828;
$red-800-dark: #8e0000;
$red-900: #b71c1c;
$red-900-dark: #7f0000;