$hoverDuration: 0.35s;
$animationDuration: 0.15s;
$transitionDuration: 0.15s;
$transitionStyle: ease-out;
$navbarHeight: 60px;

$okoColors: (
    blue: #69F5FF,
    blue-o-2: rgba(105, 245, 255, 0.2),
    lagoon: #5FE8C9,
    turquoise: #75FFB6,
    green: #5FE877,
    lime: #98FF85,
);
$okoGradient: linear-gradient(45deg,#69F5FF, #5FE8C9, #75FFB6, #5FE877, #98FF85);
$heroGradient: linear-gradient(45deg,#00aac1, #7CB342);

$cyan-600: #00acc1;