$hoverDuration: 0.35s;

$okoColors: (
    blue: #69F5FF,
    lagoon: #5FE8C9,
    turquoise: #75FFB6,
    green: #5FE877,
    lime: #98FF85,
);
$okoGradient: linear-gradient(45deg,#69F5FF, #5FE8C9, #75FFB6, #5FE877, #98FF85);