<div class="request-detail container-fluid">
  <div class="request-detail__hero row">
    <h2>Résumé de la demande</h2>
  </div>
  <div class="container">
      <div class="request-detail__status"
      [class.good]="request.accepted || request.validated"
      [class.bad]="request.closed"
      *ngIf="request.closed || request.accepted || request.validated">
      <span *ngIf="request.closed">La demande a été annulée</span>
      <span *ngIf="request.accepted">La demande a été acceptée {{ request.handler ? 'par ' + request.handler.firstname : '' }}</span>
      <span *ngIf="request.validated">Cette demande a été validée</span>
 </div>
 <div class="request-detail__actions justify-content-around">
   <button class="btn btn-warning" disabled *ngIf="!request.accepted && !request.closed">En attente</button>
   <button class="btn btn-success" [disabled]="request.validated" *ngIf="request.accepted" (click)="validate()">Valider la réception</button>
   <button class="btn btn-danger" [disabled]="request.closed" (click)="cancel()">Annuler la demande</button>
 </div>
 <div class="request-detail__summary">
   <h4 class="request-detail__summary-title request-detail__section-title">Articles</h4>
   <app-item *ngFor="let item of request.items" [item]="item" [removable]="false"></app-item>
 </div>
 <hr class="divider">
 <div class="request-detail__trip" matRipple (click)="openTrip()" *ngIf="request && request.trip">
   <h4 class="request-detail__trip-title request-detail__section-title">Voyage</h4>
   <div class="request-detail__trip-date">
     <div class="arrival">
         <mat-icon>today</mat-icon> Arrivée de {{ request.trip.user.firstname }}
     </div>
     <div class="arrival-time">
         {{ request.trip.date.format('DD/MM HH:mm') }}
     </div>
   </div>
   <div class="row request-detail__trip-info">
     <div class="col-1 d-flex align-items-center">
       <mat-icon>flight_takeoff</mat-icon>
     </div>
     <div class="col-4 location">
       <div class="city-name">{{ request.trip.from.label }} </div>
       <div class="airport-name" *ngIf="request.trip.from.airport">
           {{ request.trip.from.airport.name }}
       </div>
     </div>
     <div class="col-2 d-flex align-items-center">
       <mat-icon>chevron_right</mat-icon>
     </div>
     <div class="col-4 location">
       <div class="city-name">{{ request.trip.to.label }}</div>
       <div class="airport-name" *ngIf="request.trip.to.airport">
         {{ request.trip.to.airport.name }}
       </div>
     </div>
     <div class="col-1 d-flex align-items-center">
       <mat-icon>flight_land</mat-icon>
     </div>
   </div>
 </div>
 <hr class="divider">
 <div class="request-detail__conditions">
   <h4 class="request-detail__conditions-title request-detail__section-title">
     Conditions de remise
   </h4>
   <div *ngIf="request && request.airportPickup">
     <div class="agreement" *ngIf="request.trip && request.trip.airportDrop; else pickupAgreement">
         <mat-icon>flight</mat-icon> Remise à l'aéroport {{ request.trip.to.airport.name }}
     </div>
   </div>
   <div *ngIf="request && !request.airportPickup">
     <div *ngIf="request.trip && !request.trip.airportDrop; else pickupAgreement">
       <div class="agreement">
           <mat-icon>my_location</mat-icon> Remise au point de rendez-vous
       </div>
       <div>
         {{ request.meetingPoint.adress }}
         <span *ngIf="request.meetingPoint.city">, {{ request.meetingPoint.city }} </span>
         <span *ngIf="request.meetingPoint.zip">({{ request.meetingPoint.zip }})</span>
         <span *ngIf="request.meetingPoint.country"> - {{ request.meetingPoint.country }}</span>
       </div>
     </div>
   </div>
 </div>
 <hr class="divider">
 <div class="request-detail__contact" *ngIf="request && request.trip && request.trip.user">
   <button class="btn btn-info btn-contact" [disabled]="request.closed">
     <mat-icon>mail</mat-icon>
     Contacter {{ request.trip.user.firstname }}
   </button>
 </div>
  </div>
</div>

<ng-template #pickupAgreement>
  <div class="agreement">
    <mat-icon>forum</mat-icon> Point de remise à définir {{ request.trip ? ' avec ' + request.trip.user.firstname : '' }}
  </div>
</ng-template>