@import "../../../../styles/variables.scss";

.request-detail {
    height: 100vh;
    overflow-y: scroll;

    &__hero {
        animation: $animationDuration openHero;
        -webkit-animation: $animationDuration openHero;
        -moz-animation: $animationDuration openHero;
        -o-animation: $animationDuration openHero;

        background: $heroGradient;
        // background-image: url('/assets/hero-trip-detail.jpg');
        width: 100vw;
        position: sticky;
        z-index: 10;
        top: 0;
        height: 15vh;
        min-height: 150px;
        padding-top: $navbarHeight;
        box-shadow: 0 -5px 5px rgba(0, 0, 0, .1) inset;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &__date {
        display: inline-flex;
        margin-top: -35px;
        color: rgba(255, 255, 255, .6);
    }

    &__status {
        margin-top: 15px;
        border-radius: 5px;
        width: 95%;
        margin-left: 2.5%;
        text-align: center;

        &.good {
            background-color: #dcedc8;
            color: #94af76
        }

        &.bad {
            background-color: #ffcdd2;
            color: #cb9ca1;
        }
    }

    &__actions {
        display: flex;
        margin-top: 15px;
    }

    &__location,
    &__summary {
        margin-top: 15px;
    }

    &__trip {
        transition: all $transitionDuration;
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;

        &:hover {
            transition: all $transitionDuration;
            background-color: rgba(0, 0, 0, .05);
        }

        &-date {
            margin: 10px 0;
            color: rgba(0, 0, 0, .6);
            display: flex;
            flex-direction: column;
            align-items: center;

            .arrival {
                display: flex;
                align-items: center;
                text-align: center;
            }

            .arrival-time {
                font-size: 24px;
                font-weight: 200;
                color: rgb(175, 175, 175);
            }
        }

        &-info {
            margin-bottom: 10px;
            width: 100%;
            flex-wrap: nowrap;

            .location {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
    
            .city-name {
                font-size: 18px;
                font-weight: 700;
                color: rgb(175, 175, 175);
            }
    
            .airport-name {
                font-size: 12px;
                color: rgb(75, 75, 75);
                text-align: center;
            }
        }
    }

    &__contact {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;

        .btn-contact {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    .city,
    .agreement {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: rgb(175, 175, 175);
    }

    .loading {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10px;
    }
}