<div class="request-detail container-fluid" >
  <div class="request-detail__hero row">
    <h2 class="request-detail__hero-title" *ngIf="request.user">
        <app-avatar class="request-detail__hero-avatar" [size]="75" [image]="request.user?.avatar" *ngIf="request.user?.avatar && !request.own"></app-avatar>
        {{ request.own ? 'Mon annonce' : 'Annonce de ' + request.user?.firstname }}
    </h2>
    <small class="request-detail__date" *ngIf="request.submitDate">
      Posté {{ moment(request.submitDate).fromNow() }}
    </small>
    <mat-progress-spinner color="accent" class="request-detail__hero-loading" mode="indeterminate" *ngIf="!request.user"></mat-progress-spinner>
  </div>
  <div class="request-detail__content container" [class.loading]="!request.user">
    <div class="request-detail__status"
    [class.good]="request.accepted || request.validated"
    [class.bad]="request.closed || request.outdated"
    *ngIf="request.closed || request.accepted || request.validated">
      <span *ngIf="request.closed">L'annonce a été annulée</span>
      <span *ngIf="request.outdated && !request.closed">Annonce expirée le {{ request.urgentDetails.date.format('MM/DD/YYYY') }}</span>
  </div>
  <div class="request-detail__modify mt-2" *ngIf="request.own">
      <button class="btn btn-info btn-icon" [disabled]="request.outdated || request.closed" [routerLink]="['/post/request', request.id, 'edit']">
        <mat-icon>edit</mat-icon> Modifier l'annonce
      </button>
  </div>
  <div class="request-detail__proposal" *ngIf="displayedProposals?.length">
    <h4>
      Propositions
      <span *ngIf="request.own && receivedProposals?.length"> reçues</span>
      <span *ngIf="currentUserProposals?.length"> envoyées</span>
    </h4>
    <small class="text-muted" *ngIf="currentUserProposals?.length">
      Status des propositions de voyage faites à {{ request.user.firstname }}
    </small>
    <small class="text-muted" *ngIf="request.own && receivedProposals?.length">
      Status des propositions de voyage reçues pour votre annonce
    </small>
    <mat-accordion class="request-detail__proposal-list">
      <mat-expansion-panel *ngFor="let proposal of displayedProposals">
        <mat-expansion-panel-header>
          <mat-panel-title class="request-detail__proposal-title">
              <mat-icon>flight_takeoff</mat-icon> {{ proposal.from?.from?.label }} <br>
              <mat-icon>flight_land</mat-icon> {{ proposal.from?.to?.label }}
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon>today</mat-icon> {{ proposal.from?.date?.format('DD/MM') }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-proposal [proposal]="proposal" [receiver]="request.own"></app-proposal>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="request-detail__location">
    <h4 class="request-detail__location-title request-detail__section-title">
      {{ request.own ? 'Ma ville' : 'Ville de remise' }}
    </h4>
    <div class="city" *ngIf="request?.meetingPoint?.city && request?.meetingPoint?.country; else noCity">
      <mat-icon>location_city</mat-icon> {{ request.meetingPoint.city }} ({{request.meetingPoint.country}})
    </div>
    <ng-template #noCity>
      <small class="text-muted">
        Aucune ville d'arrivée définie pour cette annonce.
      </small>
      <div class="d-flex w-100 justify-content-center">
        <button class="btn btn-outline-info btn-sm btn-icon" *ngIf="request.own" [routerLink]="['/post/request', request.id, 'edit']">
          <mat-icon>edit</mat-icon> Modifier l'annonce
        </button>
      </div>
    </ng-template>
  </div>
  <hr class="divider">
  <div class="request-detail__summary">
    <h4 class="request-detail__summary-title request-detail__section-title">Articles</h4>
    <div class="request-detail__summary__item" *ngFor="let item of request.items">
      <app-item [item]="item" [removable]="false"></app-item>
    </div>
  </div>
  <hr class="divider" *ngIf="request?.trip && request.own">
  <div class="request-detail__trip" matRipple (click)="openTrip()" *ngIf="request?.trip && request.own">
    <h4 class="request-detail__trip-title request-detail__section-title">Voyage sélectionné</h4>
    <div class="request-detail__trip-date">
      <div class="arrival">
          <mat-icon>today</mat-icon> Arrivée {{ request?.trip?.user ? ' de ' + request?.trip?.user?.firstname : '' }}
      </div>
      <div class="arrival-time">
          {{ request?.trip?.date?.format('DD/MM HH:mm') }}
      </div>
    </div>
    <div class="row request-detail__trip-info">
      <div class="col-1 d-flex align-items-center">
        <mat-icon>flight_takeoff</mat-icon>
      </div>
      <div class="col-4 location">
        <div class="city-name">{{ request?.trip?.from?.label }} </div>
        <div class="airport-name" *ngIf="request?.trip?.from?.airport">
            {{ request.trip.from.airport.code }}
        </div>
      </div>
      <div class="col-2 d-flex align-items-center">
        <mat-icon>chevron_right</mat-icon>
      </div>
      <div class="col-4 location">
        <div class="city-name">{{ request.trip.to.label }}</div>
        <div class="airport-name" *ngIf="request?.trip?.to?.airport">
          {{ request.trip.to.airport.code }}
        </div>
      </div>
      <div class="col-1 d-flex align-items-center">
        <mat-icon>flight_land</mat-icon>
      </div>
    </div>
  </div>
  <hr class="divider">
  <div class="request-detail__conditions">
    <h4 class="request-detail__conditions-title request-detail__section-title">
      Conditions de réception
    </h4>
    <div class="request-detail__conditions-urgent" *ngIf="request.urgent">
      <div class="row">
        <mat-icon class="col-3">
          announcement
        </mat-icon>
        <div class="col-9">
          <h5 class="request-detail__conditions-urgent__title">Demande urgente</h5>
          <hr class="divider">
          <small class="text-muted">
            Pour une remise avant le {{ request.urgentDetails.date.format('DD/MM/YYYY') }}
          </small>
          <div *ngIf="request.urgentDetails?.explaination">
            " {{ request.urgentDetails.explaination }} "
          </div>
        </div>
      </div>
    </div>
    <div class="agreement" *ngIf="request.airportPickup; else requestMeeting">
      <mat-icon>flight</mat-icon> Réception à l'aéroport
    </div>
    </div>
    <hr class="divider">
    <div class="request-detail__contact" *ngIf="request.handlerView">
      <button class="btn btn-info btn-contact" [disabled]="request.closed">
        <mat-icon>mail</mat-icon>
        Contacter {{ request.trip.user.firstname }}
      </button>
    </div>
    <div class="request-detail__actions justify-content-around mb-2" *ngIf="request.own">
      <button class="btn btn-danger" [disabled]="request.closed" (click)="cancel()">
        {{ request.closed ? 'Annulée' : 'Annuler l\'annonce' }}
      </button>
    </div>
    <div class="request-detail__proposal" *ngIf="!request.own && !request.handlerView">
      <small class="text-muted" *ngIf="currentUserProposals?.length">
        Vous avez proposé {{ currentUserProposals.length }} trajet{{ currentUserProposals.length !== 1 ? 's' : ''}} pour cette annonce
      </small>
      <button class="btn btn-info btn-icon"
              [disabled]="request.closed || request.outdated || request.accepted || request.validated"
              (click)="proposeTrip()">
        <mat-icon>flight_takeoff</mat-icon> Proposer un trajet
      </button>
    </div>
  </div>
</div>


<ng-template #requestMeeting>
  <div class="agreement">
    <mat-icon>my_location</mat-icon> Réception au point de rendez-vous:
  </div>
  <div>
      {{ request.meetingPoint?.address }}
      <span *ngIf="request.meetingPoint?.city">, {{ request.meetingPoint.city }} </span>
      <span *ngIf="request.meetingPoint?.zip">({{ request.meetingPoint.zip }})</span>
      <span *ngIf="request.meetingPoint?.country"> - {{ request.meetingPoint.country }}</span>
  </div>
</ng-template>

<ng-template #pickupAgreement>
  <div class="agreement">
    <mat-icon>forum</mat-icon> Point de remise à définir {{ request?.trip?.user ? ' avec ' + request.trip.user.firstname : '' }}
  </div>
</ng-template>