@import "../../../../styles/variables.scss";

.request-detail {
    height: 100vh;
    background: $heroGradient;
    animation: zoomIn $animationDuration;
    overflow: hidden;

    &__hero {
        background: $heroGradient;
        background-size: 100vw 100vh;
        width: 100vw;
        position: sticky;
        z-index: 10;
        top: -5vh;
        height: 30vh;
        min-height: 160px;
        box-shadow: 0 -5px 5px rgba(0, 0, 0, .1) inset;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-title {
            font-size: 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
        }

        &-avatar {
            display: inline-flex;
            margin-right: 5px;
        }

        &-loading {
            height: 10px;
            display: flex;
        }
    }

    &__content {
        transition: all $transitionDuration;
        animation: appear $animationDuration;
        background-color: white;
        border-radius: 3px;
        box-shadow: 0 0 15px rgba(0, 0, 0, .3);
        padding: 5px 15px;
        position: relative;
        top: -25px;
        z-index: 11;
        height: 70vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    &__date {
        display: inline-flex;
        margin-top: -20px;
        color: rgba(255, 255, 255, .6);
    }

    &__status {
        margin-top: 15px;
        border-radius: 5px;
        width: 95%;
        margin-left: 2.5%;
        text-align: center;

        &.good {
            background-color: #dcedc8;
            color: #94af76
        }

        &.bad {
            background-color: #ffcdd2;
            color: #cb9ca1;
        }
    }

    &__proposal {
        animation: appear $animationDuration;
        flex-direction: column;
        align-items: center;
        &-title {
            color: rgb(75, 75, 75);
        }
        &-list {
            margin-top: 25px;
            width: 100%;
        }
        
        &__title {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        &-wrapper {
            background-color: white;
            padding: 15px;
            border-radius: 3px;
            animation: appear $animationDuration;
        }
        &__date {
            color: rgba(0, 0, 0, .5);
            font-size: 12px;
            margin-right: 5px;
        }
        &__status {
            color: rgba(0, 0, 0, .4);
            font-size: 10px;
        }
        &__info {
            color: rgba(0, 0, 0, .4);
            font-size: 10px;
        }
        &.closed {
            opacity: .5;
        }
        &.pending {
            background-color: $amber-100;
        }
        &.accepted {
            background-color: $light-green-200;
        }
        &.refused {
            background-color: $red-100;
        }
    }

    &__actions {
        display: flex;
        margin-top: 15px;
    }

    &__location,
    &__summary {
        margin-top: 15px;
        
        &__item {
            margin-bottom: 10px;
        }
    }

    &__trip {
        transition: all $transitionDuration;
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;

        &:hover {
            transition: all $transitionDuration;
            background-color: rgba(0, 0, 0, .05);
        }

        &-date {
            margin: 10px 0;
            color: rgba(0, 0, 0, .6);
            display: flex;
            flex-direction: column;
            align-items: center;

            .arrival {
                display: flex;
                align-items: center;
                text-align: center;
            }

            .arrival-time {
                font-size: 24px;
                font-weight: 200;
                color: rgb(175, 175, 175);
            }
        }

        &-info {
            margin-bottom: 10px;
            width: 100%;
            flex-wrap: nowrap;

            .location {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
    
            .city-name {
                font-size: 14px;
                font-weight: 700;
                color: rgb(175, 175, 175);
            }
    
            .airport-name {
                font-size: 10px;
                color: rgb(75, 75, 75);
                text-align: center;
            }
        }
    }

    &__conditions {
        &-urgent {
            .mat-icon {
                width: 100%;
            }
            .material-icons {
                font-size: 72px;
                color: $red-800;
            }
            border-radius: 5px;
            background-color: $red-100;
            margin-bottom: 25px;
            &__title {
                color: $red-800-dark;
            }
        }
    }

    &__contact,
    &__modify,
    &__proposal {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;

        .btn-contact {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    &__section {
        &-title {
            color: rgb(75, 75, 75);
        }
    }

    .city,
    .agreement {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: rgb(175, 175, 175);
    }
}