<div class="proposal-list-item"
    [routerLink]="['/post', 'proposal', proposal.id]"
    [class.unseen]="!proposal.seen && !own"
    [class.closed]="proposal.closed || proposal.outdated && !(proposal.paid && !proposal.validated)"
    [class.pending]="!proposal.closed && !proposal.refused && !proposal.accepted"
    [class.accepted]="proposal.accepted && !proposal.closed"
    [class.refused]="proposal.refused && !proposal.closed">
    <div class="row w-100 h-100 ml-0">
        <div class="col-3 d-flex flex-column align-items-center justify-content-center proposal-list-item__author">
            <app-avatar class="proposal-list-item__avatar"
            *ngIf="(!own && proposal.author?.avatar) || (own && proposal.receiver?.avatar); else iconAvatar"
            [image]="own ? proposal.receiver.avatar : proposal.author.avatar" [size]="50"></app-avatar>
            <ng-template #iconAvatar>
                <mat-icon>account_circle</mat-icon>
            </ng-template>
            <h6>{{ own ? proposal.receiver?.firstname : proposal.author?.firstname }}</h6>
        </div>
        <div class="col-4 col-sm-5 col-md-6 d-flex
                flex-column align-items-start justify-content-center
                flex-md-row align-items-md-center justify-content-md-between
                proposal-list-item__trip" 
             *ngIf="aboutTrip; else requestDescription">
            <div class="flight-start"><mat-icon>flight_takeoff</mat-icon> {{ proposal.from?.from?.label }}</div>
            <div class="flight-end"><mat-icon>flight_land</mat-icon> {{ proposal.from?.to?.label }}</div>
            <div class="flight-date">
                <mat-icon>today</mat-icon> {{ proposal.from?.date?.format('DD/MM') }}
            </div>
        </div>
        <div class="col-5 col-sm-4 col-md-3 d-flex
                    flex-column align-items-center justify-content-center
                    proposal-list-item__details">
            <mat-chip-list class="mat-chip-list-stacked" aria-orientation="vertical">
                <mat-chip color="primary"
                         *ngIf="!proposal.closed && !proposal.refused && !proposal.accepted && !proposal.outdated"
                         selected>
                    En attente
                </mat-chip>
                <mat-chip *ngIf="proposal.closed">Annulée</mat-chip>
                <mat-chip *ngIf="proposal.outdated && !proposal.closed
                                 && !proposal.refused && !proposal.accepted
                                 && !proposal.paid">
                    Expirée
                </mat-chip>
                <mat-chip color="warn" *ngIf="proposal.refused && !proposal.closed" selected>Refusée</mat-chip>
                <mat-chip color="accent" *ngIf="proposal.accepted && !proposal.paid" selected>Acceptée</mat-chip>
                <mat-chip color="accent" *ngIf="proposal.paid && !proposal.validated" selected>Payée</mat-chip>
                <mat-chip color="accent" *ngIf="proposal.validated" selected>Livrée</mat-chip>
                <mat-chip>{{ proposal.bonus }} €</mat-chip>
            </mat-chip-list>
            <div class="proposal-list-item__date">Envoyé le {{ moment(proposal.date).format('DD/MM à HH:mm') }} </div>
        </div>
    </div>
</div>

<ng-template #requestDescription>
    <div class="col-4 col-sm-5 col-md-6 d-flex
                flex-column align-items-start justify-content-center
                proposal-list-item__trip">
        <small *ngFor="let item of proposal?.from?.items; let i = index">
            {{ item.label }}
        </small>
        <div class="proposal-list-item__before"
            *ngIf="proposal.fromRequest && proposal?.from['urgent'] && !proposal.closed" selected>
            <mat-icon>warning</mat-icon> Avant le {{ moment(proposal.from.urgentDetails.date).format('DD/MM') }}
        </div>
    </div>
</ng-template>