@import "../../../styles/animations.scss";
@import "../../../styles/classes.scss";
@import "../../../styles/variables.scss";

.account-balance-entry {
    @extend .base-oko-card;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    margin: 5px 15px;

    $iconSize: 36px;
    .mat-icon {
        width: $iconSize;
        height: $iconSize;
        margin-right: 10px;
    }
    .material-icons {
        color: rgba(0, 0, 0, .4);
        font-size: $iconSize;
    }

    &-title {
        font-size: 16px;
        color: rgba(0, 0, 0, .8);
        margin-bottom: 0;
    }
}

.account-balance {
    height: 60vh;
    overflow: hidden;
    touch-action: pan-x;

    &__wrapper {
        transition: all .35s;
    }

    &__title {
        font-size: 24px;
        font-weight: 100;
        color: $white-alpha-8;
    }

    &__settings,
    &__main,
    &__history {
        height: 60vh;
        overflow: hidden;
    }

    &__settings {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px;
        text-align: center;
    }

    .bank-accounts-list {
        height: 35vh;
        overflow-y: scroll;
        width: 100%;
        padding: 15px 0;
    }

    &__bank-detail {
        @extend .account-balance-entry;

        &__account-info {
            &__title {
                @extend .account-balance-entry-title;
                &.earning {
                    color: $light-green-900 !important;
                }
            }
        }

        &:hover {
            background-color: rgb(245, 245, 245);
        }
    }

    &__history {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-list {
            width: 100%;
            height: 35vh;
            padding: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-entry {
            @extend .account-balance-entry;
            width: 100%;
            transition: all $transitionDuration;

            &__info {
                &__title {
                    @extend .account-balance-entry-title;
                }
            }
            &:hover {
                background-color: rgb(245, 245, 245);
            }
        }

        .btn-proposal {
            opacity: .5;
            transition: all .35s;
            display: flex;
            flex-direction: column;
            font-size: 10px;
            max-width: 33.34%;
            $iconSize: 24px;
            .mat-icon {
                width: $iconSize;
                height: $iconSize;
            }
            .material-icons {
                font-size: $iconSize;
            }
            &:hover {
                opacity: 1;
            }
        }
    }

    &__figure {
        height: 35vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 72px;
        color: $white-alpha-8;
        font-weight: 100;
    }

    &__actions {
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}