<div class="account-balance">
  <div class="account-balance__wrapper"
      [style.height]="balanceScreens.length * 100 + '%'"
      [style.transform]="'translateY('+ -balanceScreenIndex * (100 / balanceScreens.length) +'%)'"
      (panup)="next()" (pandown)="previous()">

       <!-- Account Settings -->
        <div class="account-balance__settings">
          <h4 class="account-balance__title" *ngIf="user.accounts?.length; else noAccount">Comptes bancaires</h4>
          <div class="bank-accounts-list" *ngIf="user.accounts?.length">
            <div class="account-balance__bank-detail"
                 *ngFor="let account of user.accounts"
                 (click)="editAccount(account)">
              <mat-icon>account_balance</mat-icon>
              <div class="account-balance__bank-detail__account-info">
                <h5 class="account-balance__bank-detail__account-info__title">
                  {{ account.name || 'Compte bancaire' }}
                </h5>
                <small class="text-muted">{{ account.iban }}</small>
              </div>
            </div>
          </div>
          <div class="account-balance__actions">
            <button class="btn btn-hero btn-icon mb-2" matRipple [matRippleColor]="'#FFFFFF55'" (click)="addAccount()">
              <mat-icon>add</mat-icon> Ajouter un compte
            </button>
            <button class="btn btn-hero btn-icon" matRipple [matRippleColor]="'#FFFFFF55'" (click)="toScreen('balance')">
                <mat-icon>euro_symbol</mat-icon> Solde ({{ user.balance || 0 }} €)
              </button>
          </div>
        </div>

        <!-- Account Balance -->
        <div class="account-balance__main">
          <div class="account-balance__actions">
            <button class="btn btn-hero btn-icon" matRipple [matRippleColor]="'#FFFFFF55'" (click)="toScreen('settings')">
              <mat-icon>settings</mat-icon> Paramètres
            </button>
          </div>
          <div class="account-balance__figure">
              {{ user.balance || 0 }} €
          </div>
          <div class="account-balance__actions">
            <button class="btn btn-hero btn-icon mb-2" matRipple [matRippleColor]="'#FFFFFF55'" [disabled]="!user.balance">
              <mat-icon>account_balance</mat-icon> Virer sur mon compte
            </button>
            <button class="btn btn-hero btn-icon" matRipple [matRippleColor]="'#FFFFFF55'" (click)="toScreen('history')">
              <mat-icon>history</mat-icon> Historique
            </button>
          </div>
        </div>


        <!-- Account History -->
        <div class="account-balance__history">
          <div class="account-balance__actions">
              <button class="btn btn-hero btn-icon" matRipple [matRippleColor]="'#FFFFFF55'" (click)="toScreen('balance')">
                <mat-icon>euro_symbol</mat-icon> Solde ({{ user.balance || 0 }} €)
              </button>
          </div>
          <div class="account-balance__history-list">
            <h4 class="account-balance__title" *ngIf="balanceHistory?.length; else noHistory">
              Historique
            </h4>
            <div class="account-balance__history-entry"
                 [class.extended]="extendedEntry === entry"
                 (click)="entryInfo(entry)" *ngFor="let entry of balanceHistory">
              <mat-icon>{{ entry.earning ? 'monetization_on' : 'money_off' }}</mat-icon>
              <div class="account-balance__history-entry__info">
                <h5 class="account-balance__history-entry__info__title" [class.earning]="entry.earning">
                  {{ entry.earning 
                    ? (entry.amount > 0 ? '+' : '')
                    : '-'
                  }} {{ entry.amount }} €
                </h5>
                <small class="account-balance__history-entry__info__date text-muted">
                  {{ moment(entry.date).format('[Le] DD/MM/YYYY [à] HH:mm') }}
                </small>
                <button class="btn account-balance__history-entry__proposal-button"
                        (click)="entryInfo(entry, false)"
                        *ngIf="extendedEntry === entry">
                <mat-icon>feedback</mat-icon> Accéder à la proposition
                </button>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>

<ng-template #noAccount>
  <small class="text-muted light">Vous n'avez pas enregistré de compte bancaire. Ajoutez en un ici.</small>
</ng-template>

<ng-template #noHistory>
  <small class="text-muted light">Aucune transaction enregistrée</small>
</ng-template>

