<div class="trip-detail container-fluid">
  <div class="trip-detail__hero row">
    <div class="trip-detail__hero__from col-6 col-sm-5" *ngIf="trip">
      <span class="trip-detail__hero__airport-code" *ngIf="trip.from">
        {{ trip.from.airport.code }}
      </span>
      <span class="trip-detail__hero__airport-label" *ngIf="trip.from">
        {{ trip.from.airport.label }}
      </span>
    </div>
    <div class="trip-detail__hero__link col-2 d-none d-sm-flex" *ngIf="trip">
      <mat-icon>chevron_right</mat-icon>
    </div>
    <div class="trip-detail__hero__to col-6 col-sm-5" *ngIf="trip">
      <span class="trip-detail__hero__airport-code" *ngIf="trip.to">
        {{ trip.to.airport.code }}
      </span>
      <span class="trip-detail__hero__airport-label" *ngIf="trip.to">
        {{ trip.to.airport.label }}
      </span>
    </div>
  </div>
  <div class="trip-detail__info row">
    <div class="trip-detail__info__user col-6" *ngIf="trip && trip.user">
        <div class="trip-detail__info__user-avatar">
            <app-avatar [image]="trip.user.avatar"
            *ngIf="trip.user.avatar"></app-avatar>
        </div>
        <div class="trip-detail__info__user-detail">
          <div class="user-name">{{ trip.user.firstname }}</div>
          <div class="user-trips">{{ trip.user.trips || 0 }} trips</div>
        </div>
    </div>
  </div>
  <div class="trip-detail__engagement">

  </div>
</div>