@import "../../../styles/variables.scss";
@import "../../../styles/animations.scss";
.avatar {
    transition: all .25s;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgb(175, 175, 175);
    &.shadowed {
        transition: all .25s;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    }
    &.connected {
        animation: glow 1s;
        transition: all .25s;
        border: thick solid $light-green-400;
    }
    &-image {
        animation: appear .5s;
    }
    .material-icons {
        color: $white-alpha-8;
    }
}