<div class="request-item-selection">
    <h2 class="request-item-selection-title justify-content-around">
        <span style="display: inline-block">Selectionner parmis mes articles {{ selectedItems.length ? '('+ selectedItems.length +')' : '' }}</span>
    </h2>
    <mat-icon class="close clickable" (click)="close()">clear</mat-icon>
    <hr class="divider">
    <mat-progress-bar class="request-item-selection__loading" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <div class="request-item-selection__content">
      <app-item class="request-item-selection__item"
                [class.selected]="item.selected"
                (click)="toggleItem(item)"
                *ngFor="let item of selectableItems; let i = index"
                [item]="item"
                [removable]="false"
                [creator]="true">
      </app-item>
      <div class="request-item-selection__empty d-flex justify-content-center" *ngIf="!selectableItems.length">
          <mat-icon>error_outline</mat-icon><br>
          <div>Aucun article enregistré</div>
      </div>
    </div>
    <div class="request-item-selection__validation">
      <button class="btn" [ngClass]="{
        'btn-success': selectableItems.length,
        'btn-info': !selectableItems.length
      }" (click)="saveItems()">
        {{ selectableItems.length ?  'Valider' : 'Fermer' }}
      </button>
    </div>
</div>