@import "../../../styles/variables.scss";

.thread-header {
    height: 85px;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -12px;
    animation: appear .5s;
    &:focus {
        outline: none;
    }
    &__avatar {
        margin-right: 10px;
    }
    &__name {
        font-size: 24px;
        font-weight: 200;
        color: rgba(255, 255, 255, .8);
    }
    @media screen and (min-width: 992px) {
        &__name {
            font-size: 36px;
        }
    }
}