@import "../../../styles/variables.scss";

.admin-user {
    &__search {
        width: 100%;
    }
    &__table {
        height: 70vh;
        overflow-y: scroll;
        overflow-x: scroll;
        table {
            width: 100%;
        }
    }
}