<div class="main" (contextmenu)="nope()">
    <div class="main__drawer-sensitive"
         (click)="toggleDrawer()" (swipeLeft)="displayDrawer()" (swipeRight)="hideDrawer()"></div>
    <!-- <div class="main__history-sensitive" (swipeRight)="back()"></div> -->
    <div class="main__history-sensitive-side" (swipeRight)="back()"></div>
    <div class="main-app-loading-wrapper" *ngIf="mainLoading">
        <div class="app-loading">
            <div class="logo">
                <div class="logo-brand-loading">ọkọ</div>
            </div>
            <svg class="spinner" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
            </svg>
            <div class="main-app-loading-text" *ngIf="logged">
                {{ randomWelcome }}
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
    <app-nav [light]="lightNav" [drawer]="drawerExpanded"
             (drawerChanges)="manageDrawer($event)" *ngIf="displayNav"></app-nav>
    <mat-progress-bar class="loading" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
</div>
