<div class="main">
    <div class="main__drawer-sensitive" (click)="toggleDrawer()" (swipeLeft)="displayDrawer()" (swipeRight)="hideDrawer()"></div>
    <!-- <div class="main__history-sensitive" (swipeRight)="back()"></div> -->
    <div class="main__history-sensitive-side" (swipeRight)="back()"></div>
    <app-nav [light]="lightNav" [drawer]="drawerExpanded" (drawerChanges)="manageDrawer($event)" *ngIf="displayNav"></app-nav>
    <router-outlet></router-outlet>
    <mat-progress-bar class="loading" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
</div>
