@import "../../styles/variables.scss";
@import "../../styles/classes.scss";
@import "../../styles/animations.scss";

.request-list,
.trip-list {
    height: 100vh;
    background: $heroGradient;
    animation: slideInRight .15s;
    box-shadow: -5px 0 15px rgba(0, 0, 0, .3);
    &__hero {
        @extend .base-hero;
        transition: all $animationDuration;
        height: 10vh;
        min-height: 85px !important;
        &-title {
             @extend .base-hero-title;
        }
        &.filters {
            transition: all $animationDuration;
            min-height: 225px !important;
            height: 35vh;
        }
    }
    
    &__filters {
        animation: expandFilters $animationDuration;
        height: 25vh;
        z-index: 11;
    }

    &__list {
        transition: all $animationDuration;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        height: 80vh;
        overflow-y: scroll;
        padding-bottom: 25px;

        &.filters {
            transition: all $animationDuration;
            height: 65vh;
        }
    }
}