@import "../../styles/variables.scss";
@import "../../styles/animations.scss";

.request-list,
.trip-list {
    height: 100vh;
    background: $heroGradient;
    animation: slideInRight .15s;
    box-shadow: -5px 0 15px rgba(0, 0, 0, .3);
    &__hero {
        background: $heroGradient;
        background-size: 100vw 100vh;
        width: 100vw;
        height: 15vh;
        min-height: 100px;
        align-items: center;
        box-shadow: 0 -5px 5px rgba(0, 0, 0, .1) inset;
        color: $white-alpha-8;
    }
    
    &__filters {
        position: relative;
        top: -25px;
        z-index: 11;
        box-shadow: 0 0 15px rgba(0, 0, 0, .3);
    }

    &__list {
        height: 80vh;
        overflow-y: scroll;
        padding-bottom: 25px;
        margin-top: -25px;
    }
}