@import "../../styles/variables.scss";
@import "../../styles/classes.scss";
@import "../../styles/animations.scss";

.request-list,
.trip-list {
    height: 100vh;
    background: $heroGradient;
    animation: slideInRight .15s;
    box-shadow: -5px 0 15px rgba(0, 0, 0, .3);
    &__hero {
        @extend .base-hero;
        transition: all $animationDuration;
        height: 10vh;
        min-height: 60px !important;
        box-shadow: 0 5px 5px rgba(0, 0, 0, .1) !important;
        &-title {
             @extend .base-hero-title;
        }
        &.filters {
            transition: all $animationDuration;
            min-height: 285px !important;
            height: 35vh;
        }
        &.background {
            background-size: cover;
        }
        &__backdrop {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding-top: 12px;
            margin-top: -12px;
            width: 100%;
            height: 130%;
            transition: all .75s;

            &.active {
                transition: all .75s;
                background: linear-gradient(0deg, rgba(0, 0, 0, .3),  rgba(0, 0, 0, .8));
            }
        }
    }
    
    &__filters {
        animation: expandFilters $animationDuration;
        height: 25vh;
        z-index: 11;
    }

    &__list {
        transition: all $animationDuration;
        height: 90vh;
        overflow: hidden;
        padding-bottom: 25px;

        &.filters {
            transition: all $animationDuration;
            height: 65vh;
            overflow-y: scroll;
        }
    }
}