<div class="account-trip container">
    <small class="text-muted account-trip-hint">Swipez vers la gauche pour editer ou supprimer un trajet</small>
    <div class="account-trip__new">
        <button class="btn btn-info btn-new-trip" *ngIf="!hasDraft; else draft" (click)="newTrip()">
            <mat-icon>flight_takeoff</mat-icon> Nouveau trajet
        </button>
        <ng-template #draft>
            <button class="btn btn-warning btn-new-trip" (click)="newTrip()">
                <mat-icon>edit</mat-icon> Voir mon brouillon
            </button>
            <button class="btn btn-danger btn-new-trip" (click)="deleteDraft()">
                <mat-icon>delete</mat-icon> Supprimer mon brouillon
            </button>
        </ng-template>
    </div>
    <h6 class="account-trip-title" *ngIf="trips?.length">Prochains voyages</h6>
    <div class="account-trip__trip" *ngFor="let trip of trips; let i = index">
        <app-post [post]="trip" [editable]="true" (remove)="remove(i)"></app-post>
        <small class="text-muted light account-trip__status" *ngIf="!loading && !trip.approved && !trip.dismissed">
            Ce trajet est en cours de validation
        </small>
    </div>
    <h6 class="account-trip-title" *ngIf="expiredTrips?.length">Voyages effectués</h6>
    <app-post [post]="trip" [editable]="true" (remove)="remove(i, true)" *ngFor="let trip of expiredTrips; let i = index;"></app-post>
    <div class="account-trip__empty" *ngIf="(trips && !trips.length) && (expiredTrips && !expiredTrips.length)">
        <mat-icon>timeline</mat-icon> Aucun voyage prévu
    </div>
</div>
