<div class="proposal-trip" (click)="openTrip()" *ngIf="trip && !partial; else partialTrip">
    <div class="proposal-trip-date">
        <div class="arrival">
            <mat-icon>today</mat-icon> Arrivée
        </div>
        <div class="arrival-time">
            {{ trip?.date?.format('DD/MM HH:mm') }}
        </div>
    </div>
    <div class="row proposal-trip-info">
      <div class="col-5 location">
        <div class="city-name">{{ trip?.from?.label }} </div>
        <div class="airport-name" *ngIf="trip?.from?.airport">
            {{ trip.from.airport.name }}
        </div>
      </div>
      <div class="col-2 d-flex justify-content-center align-items-center">
        <mat-icon>chevron_right</mat-icon>
      </div>
      <div class="col-5 location">
        <div class="city-name">{{ trip?.to?.label }}</div>
        <div class="airport-name" *ngIf="trip?.to?.airport">
          {{ trip.to.airport.name }}
        </div>
      </div>
    </div>
</div>

<ng-template #partialTrip>
    <div class="proposal-trip__arrival" *ngIf="trip && partial; else empty">
      <h5 class="proposal-trip__arrival-title">
        Arrivée de {{ trip.user.firstname }}
      </h5>
      <div class="d-flex align-items-center">
        <div class="proposal-trip__arrival__location">
          <h6 class="proposal-trip__arrival__location-city">
            {{ trip.to.label }}
          </h6>
          <div class="proposal-trip__arrival__location-airport">
            {{ trip.to.airport?.name }}
          </div>
        </div>
        <div class="proposal-trip__arrival__date">
          <h6 class="proposal-trip__arrival__date-day">
              {{ trip.date.format('DD/MM') }}
          </h6>
          <div class="proposal-trip__arrival__date-hour">
              {{ trip.date.format('HH:mm') }}
          </div>
        </div>
      </div>
    </div>
</ng-template>


<ng-template #empty>
  <div class="proposal-trip-date">
    <div class="arrival-time">Aucune information de voyage</div>
  </div>
</ng-template>