<div class="request container-fluid">
  <div class="request__hero row">
      <h1 class="request__hero-title">{{ edition ? 'Modifier' : 'Créer'}} une annonce</h1>
  </div>
  <div class="request__form container">
    <div class="request__form-hint" *ngIf="!edition">
      <small class="text-muted">
        Créez une annonce pour un futur voyageur. Commencez par indiquer votre ville de résidence, et laissez vous guider.
      </small>
    </div>
    <app-request-form [edition]="edition" [request]="request" [freeRequest]="true"></app-request-form>
  </div>
</div>