@import "../../../../styles/variables.scss";

.social-disconnection {
    height: 100%;
    
    &-title {
        font-size: 24px;
        font-weight: 700;
        color: $cyan-600;
    }

    &__actions {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 75%;
    }
}