<div class="account-request container">
  <small class="text-muted account-request-hint">Swipez vers la gauche pour editer ou supprimer une annonce</small>
  <div class="account-request__new">
      <button class="btn btn-info btn-new-trip" *ngIf="!hasDraft; else draft" (click)="newRequest()">
          <mat-icon>new_releases</mat-icon> Déposer une annonce
      </button>
      <ng-template #draft>
        <button class="btn btn-warning btn-new-trip" (click)="newRequest()">
            <mat-icon>edit</mat-icon> Voir mon brouillon
        </button>
        <button class="btn btn-danger btn-new-trip" (click)="deleteDraft()">
            <mat-icon>delete</mat-icon> Supprimer mon brouillon
        </button>
      </ng-template>
  </div>
  <div class="account-request__request" *ngFor="let request of requests; let i = index;">
      <app-post [post]="request" [editable]="true" (remove)="remove(i)"></app-post>
      <small class="text-muted light account-request__status" *ngIf="!loading && !request.approved && !request.dismissed">
          Cette annonce est en cours de validation
      </small>
      <small class="text-muted light account-request__status" *ngIf="!loading && request.dismissed">
          Cette annonce a été modérée
      </small>
  </div>
  <div class="account-request__empty" *ngIf="requests && !requests.length">
      <mat-icon>error_outline</mat-icon> Aucune annonce déposée
  </div>
</div>