<form class="trip-sizing" [formGroup]="sizing">
  <div class="form-row">
    <div class="form-group col-6">
        <div class="input-group">
            <input type="text" class="form-control" formControlName="weight">
            <div class="input-group-append">
              <span class="input-group-text">kg</span>
            </div>
        </div>
        <small class="input-label">
            <mat-icon>shopping_basket</mat-icon>
            Poids
        </small>
    </div>
    <div class="form-group col-6">
        <div class="input-group">
            <input type="text" class="form-control" formControlName="height">
            <div class="input-group-append">
              <span class="input-group-text">cm</span>
            </div>
        </div>
        <small class="input-label">
          <mat-icon>swap_vert</mat-icon>
          Hauteur
        </small>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-6">
      <div class="input-group">
          <input type="text" class="form-control" formControlName="width">
          <div class="input-group-append">
            <span class="input-group-text">cm</span>
          </div>
      </div>
      <small class="input-label">
        <mat-icon>swap_horiz</mat-icon>
        Largeur
      </small>
    </div>
    <div class="form-group col-6">
      <div class="input-group">
          <input type="text" class="form-control" formControlName="depth">
          <div class="input-group-append">
            <span class="input-group-text">cm</span>
          </div>
      </div>
      <small class="input-label">
        <mat-icon>compare_arrows</mat-icon>
        Profondeur
      </small>
    </div>
  </div>
  <div class="form-row">
    <mat-checkbox class="trip-checkbox" formControlName="cabin">
      <mat-icon>work</mat-icon>
      Bagage Cabine
    </mat-checkbox>
  </div>
  <div class="form-row">
    <mat-checkbox class="trip-checkbox" formControlName="full">
      <mat-icon>settings_over</mat-icon>
      Bagage Entier
    </mat-checkbox>
  </div>
</form>