@import "../../../styles/variables.scss";

.thread-list {
    &__actions {
        height: 10vh;
        min-height: 75px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    &__content {
        height: 65vh;
        &__contacts {
            height: 100%;
            overflow-y: hidden;
            overflow-x: scroll;
        }
        @media screen and (min-width: 768px) {
            &__contacts {
                overflow-y: scroll;
                overflow-x: hidden;
            }
        }
        &__list {
            height: 65%;
            overflow-y: scroll;
            overflow-x: hidden;
        }
    }

    .contact {
        transition: all $transitionDuration;
        width: 100%;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100px;
        color: rgba(0, 0, 0, 4);
        font-size: 14px;
        margin: 0 5px 5px;
        border-radius: 3px;
        &:hover {
            transition: all $transitionDuration;
            background-color: rgba(0, 0, 0, .1);
        }
    }
}