@import "../../../styles/variables.scss";
@import "../../../styles/classes.scss";

.thread-new {
    height: 100%;
    &__title {
        @extend .base-modal-title;
    }
    &__search {
        height: 100px;
        &-input {
            width: 100%;
        }
    }
    &__loading {
        position: relative;
        top: -55px;
    }
    &__list {
        height: 60%;
        margin-bottom: 25px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    &__actions {
        height: 40px;
        display: flex;
        justify-content: center;
    }
}