@import "../../../styles/variables.scss";

.post-list {
    &.horizontal {
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .carousel-item {
        padding: 0 5%;
        transition: transform ease-out .15s;
    }

    .prev-icon,
    .next-icon {
        color: $white-alpha-8;
    }

    &__empty {
        $emptyColor: $white-alpha-4;
        color: $emptyColor;
        $iconSize: 64px;
        height: 30vh;
        align-items: center;
        .mat-icon {
            width: $iconSize;
            height: $iconSize;
        }
        .material-icons {
            font-size: $iconSize;
            color: $emptyColor;
        }
    }
}