<div class="request-form container">
  <div class="request-form__actions row">
      <div class="col-12 col-sm-6">
          <button class="btn btn-info btn-add-item" (click)="openItemDialog()">
            <mat-icon>add</mat-icon> Ajouter un article
          </button>
      </div>
      <div class="col-12 col-sm-6">
          <button class="btn btn-light btn-add-item" (click)="openItemSelectionDialog()">
            <mat-icon>view_carousel</mat-icon> Choisir parmi mes articles
          </button>
      </div>
  </div>
  <div class="request-form__item" *ngFor="let item of items; let i = index">
    <app-item [item]="item"
              (remove)="removeItem(i)"
              (click)="openItemDialog(item, i)">
    </app-item>
  </div>
  <div class="request-form__meeting">
    <form [formGroup]="meeting">
      <div class="form-group" *ngIf="freeRequest">
        <input type="text" name="city" formControlName="city"
          placeholder="Ville"
          autocomplete="off"
          class="form-control"
          (keyup)="fetchCities(meeting.controls.city.value)"
          [matAutocomplete]="citiesAuto"
          [class.is-invalid]="meeting.controls.city.errors?.required
          && meeting.controls.city.touched" required>
          <mat-autocomplete #citiesAuto="matAutocomplete" [displayWith]="displayCity">
              <mat-option *ngFor="let city of cities" [value]="city">
                  {{ city.city }} ( {{city.country}} )
              </mat-option>
          </mat-autocomplete>
          <div class="invalid-feedback"
              [class.d-block]="meeting.controls.city.errors?.required
              && (meeting.controls.city.touched)">
              Indiquez une ville
          </div>
          <small class="text-muted">
            La ville dans laquelle je souhaite recevoir mon article
          </small>
      </div>
      <div class="form-group">
        <mat-slide-toggle formControlName="airportPickup">Remise à l'aéroport</mat-slide-toggle><br>
        <small class="text-muted">
          Je récupère mes articles à l'aéroport d'arrivée du voyageur
          <span *ngIf="trip?.to && trip?.to.airport">: {{ trip.to.airport.name }} ( {{ trip.to.airport.code }} )</span>
        </small>
      </div>
      <div *ngIf="!meeting.controls.airportPickup.value">
        <h5 class="request-form__meeting-title">Lieu de rendez-vous</h5>
        <small class="text-muted">
          Cette information ne sera communiquée qu'au voyageur
        </small>
        <form [formGroup]="meeting.controls.meetingPoint">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Adresse" formControlName="address" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Ville" formControlName="city" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Code postal" formControlName="zip" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Pays" formControlName="country" required>
            </div>
        </form>
      </div>
      <div class="form-group">
        <mat-slide-toggle formControlName="urgent">Demande urgente</mat-slide-toggle><br>
        <small class="text-muted">
          Précisez si votre demande est contrainte par des délais, ou motivée par des raisons importantes
        </small>
      </div>
      <div *ngIf="meeting.controls.urgent.value">
        <form [formGroup]="meeting.controls.urgentDetails">
          <div class="form-group">
              <textarea rows="2" class="form-control" placeholder="Raison de l'urgence (facultatif)"
                         formControlName="explaination">
              </textarea>
            </div>
            <div class="form-row">
              <div class="form-group col-10 col-md-7">
                <input type="text" name="date" formControlName="date"
                        autocomplete="off"
                        [matDatepicker]="picker"
                        [min]="today"
                        [readonly]="true"
                        placeholder="Remise avant le">
              </div>
              <div class="form-group col-2 col-md-2">
                  <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker touchUi #picker></mat-datepicker>
              </div>
            </div>
        </form>
      </div>
      <h5 class="form-title">Bonus voyageur</h5>
      <small class="text-muted">
          Proposez une rémunération au voyageur en tenant compte
          <ul class="bonus-list">
              <li>Du lieu de remise (aéroport ou point de rendez-vous)</li>
              <li>De la taille de l'article à transporter</li>
              <li>De la valeur de l'article à transporter</li>
          </ul>
      </small>
      <!-- <div class="form-group" *ngIf="trip">
        <mat-slide-toggle (change)="bonusAgreement($event)">J'accepte la proposition voyageur</mat-slide-toggle>
      </div> -->
      <div class="form-group">
        <div class="input-group">
          <input type="number" min="0" class="form-control" placeholder="Bonus voyageur" formControlName="bonus" [required]="bonusAgreed">
          <div class="input-group-append">
            <span class="input-group-text">€</span>
          </div>
        </div>
      </div>
      <h5 class="form-title" *ngIf="meeting.controls.bonus.value">Prix total: {{ totalPrice }} €</h5>
      <small class="text-danger" *ngIf="meeting.controls.bonus.value && !this.itemsPrice">Vous n'avez pas saisi d'articles</small>
      <small class="text-muted" *ngIf="meeting.controls.bonus.value && this.itemsPrice">Frais de service inclus</small>
    </form>
  </div>
  <div class="request-form__validation row">
    <button class="btn btn-success" [disabled]="
        (!items || items && !items.length)
        || (!meeting.controls.airportPickup.value && !meeting.controls.meetingPoint.valid)
        || (meeting.controls.urgent.value && !meeting.controls.urgentDetails.valid)
      " (click)="saveRequest()">
       <span *ngIf="trip?.user?.firstname">{{ edition ?  'Modifier ma demande pour' : 'Faire une demande à' }} {{ trip.user.firstname }}</span>
       <span *ngIf="freeRequest || !trip">{{ edition ? 'Modifier' : 'Créer' }} une annonce</span>
    </button>
  </div>
</div>