<div class="request-form container">
  <div class="request-form__city" *ngIf="!meeting.controls.city.value && !edition">
    <div class="form-group">
      <input type="text" class="form-control"
             autocomplete="off"
             placeholder="Votre ville"
             name="cityFetch" #cityFetch (keyup)="fetchCities(cityFetch.value)">
      <mat-progress-bar class="request-form__city__loading" *ngIf="cityLoading" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <button class="btn btn-info" (click)="setHomeCity()" *ngIf="currentUser">
        Utiliser mon adresse
      </button>
    </div>
    <div [ngClass]="{
      'request-form__city-results': true,
      'd-flex justify-content-center align-items-center': !cities || (cities && !cities.length)
      }">
      <mat-list>
        <mat-list-item class="city-result" *ngFor="let city of cities" (click)="setCity(city)">
          <h3 matLine>{{ city.city }}</h3>
          <small class="text-muted" matLine>{{ city.country }}</small>
        </mat-list-item>
      </mat-list>
      <mat-icon *ngIf="!cities || (cities && !cities.length)">explore</mat-icon>
    </div>
  </div>
  <div *ngIf="meeting.controls.city.value || edition">
      <div class="request-form__meeting">
        <form [formGroup]="meeting">
          <div class="form-group" *ngIf="freeRequest">
            <input type="text" name="city" formControlName="city"
              placeholder="Ville"
              autocomplete="off"
              class="form-control"
              (keyup)="fetchCities(meeting.controls.city.value)"
              [matAutocomplete]="citiesAuto"
              [class.is-invalid]="meeting.controls.city.errors?.required
              && meeting.controls.city.touched" required>
              <mat-autocomplete #citiesAuto="matAutocomplete" [displayWith]="displayCity">
                  <mat-option *ngFor="let city of cities" [value]="city">
                      {{ city.city }} ( {{city.country}} )
                  </mat-option>
              </mat-autocomplete>
              <div class="invalid-feedback"
                  [class.d-block]="meeting.controls.city.errors?.required
                  && (meeting.controls.city.touched)">
                  Indiquez une ville
              </div>
              <small class="text-muted">
                La ville dans laquelle je souhaite recevoir mon article
              </small>
          </div>
          <div class="request-form__actions row">
              <!-- <div class="col-12" *ngIf="draft">
                <button class="btn btn-warning btn-add-item" (click)="removeDraft()">
                  <mat-icon>remove_circle</mat-icon> Supprimer ce brouillon
                </button>
              </div> -->
              <div class="col-12 col-sm-6">
                  <button class="btn btn-info btn-add-item" (click)="newItem()">
                    <mat-icon>add</mat-icon> Ajouter un article
                  </button>
              </div>
              <div class="col-12 col-sm-6">
                  <button class="btn btn-light btn-add-item" (click)="openItemSelectionDialog()">
                    <mat-icon>view_carousel</mat-icon> Choisir parmi mes articles
                  </button>
              </div>
              <small class="text-muted" *ngIf="!items?.length">
                Ajoutez des articles pour continuer
              </small>
          </div>
          <div class="request-form__item" *ngFor="let item of items; let i = index">
            <app-item [item]="item"
                      [creator]="true"
                      [removable]="true"
                      (remove)="removeItem(i)"
                      (click)="editItem(item)">
            </app-item>
            <small class="text-muted" *ngIf="!item.weight">
              Cliquez sur l'article pour y ajouter un poids
            </small>
          </div>
          <div class="form-group" *ngIf="items?.length">
            <mat-slide-toggle formControlName="airportPickup">
             <mat-icon *ngIf="meeting.controls.airportPickup.value">flight</mat-icon> Remise à l'aéroport
            </mat-slide-toggle><br>
            <small class="text-muted">
              Je récupère mes articles à l'aéroport d'arrivée du voyageur
              <span *ngIf="trip?.to && trip?.to.airport">: {{ trip.to.airport.name }} ( {{ trip.to.airport.code }} )</span>
            </small>
          </div>
          <div *ngIf="!meeting.controls.airportPickup.value">
            <h5 class="request-form__meeting-title">Lieu de rendez-vous</h5>
            <mat-slide-toggle formControlName="homeDelivery" (click)="homeDelivery()">
              <mat-icon>home</mat-icon> Remise à domicile
            </mat-slide-toggle><br>
            <small class="text-muted">
              Cette information ne sera communiquée qu'au voyageur
            </small>
            <form [formGroup]="meeting.controls.meetingPoint">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Adresse" formControlName="address" required>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Ville" formControlName="city" required>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Code postal" formControlName="zip" required>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Pays" formControlName="country" required>
                </div>
            </form>
          </div>
          <div class="form-group" *ngIf="items?.length">
            <mat-slide-toggle formControlName="urgent">
             <mat-icon>watch_later</mat-icon> Demande urgente
            </mat-slide-toggle><br>
            <small class="text-muted">
              Précisez si votre demande est contrainte par des délais, ou motivée par des raisons importantes
            </small>
          </div>
          <div *ngIf="meeting.controls.urgent.value">
            <form [formGroup]="meeting.controls.urgentDetails">
              <div class="form-group">
                  <textarea rows="2" class="form-control" placeholder="Raison de l'urgence (facultatif)"
                             formControlName="explaination">
                  </textarea>
                </div>
                <div class="form-row">
                  <div class="form-group col-10 col-md-7">
                    <input type="text" name="date" formControlName="date"
                            autocomplete="off"
                            (click)="picker.open()"
                            [matDatepicker]="picker"
                            [min]="today"
                            [readonly]="true"
                            placeholder="Remise avant le">
                  </div>
                  <div class="form-group col-2 col-md-2">
                      <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker touchUi #picker></mat-datepicker>
                  </div>
                </div>
            </form>
          </div>
          <div class="form-group" *ngIf="!freeRequest && trip && items?.length">
            <mat-slide-toggle formControlName="private">
             <mat-icon>lock</mat-icon> Annonce privée
            </mat-slide-toggle> <br>
            <small class="text-muted" *ngIf="!this.meeting.controls.private.value">
              Rendez cette annonce uniquement visible par {{ trip?.user?.firstname || 'le voyageur' }}
            </small>
            <small class="text-muted" *ngIf="this.meeting.controls.private.value">
              Cette annonce ne sera visible que par {{ trip?.user?.firstname || 'le voyageur' }}
            </small>
          </div>
          <div *ngIf="items?.length">
            <h5 class="form-title">Bonus voyageur</h5>
            <small class="text-muted">
                Proposez une rémunération au voyageur en tenant compte
                <ul class="bonus-list">
                    <li>Du lieu de remise (aéroport ou point de rendez-vous)</li>
                    <li>De la taille de l'article à transporter</li>
                    <li>De la valeur de l'article à transporter</li>
                </ul>
            </small>
          </div>
          <div class="form-group" *ngIf="items?.length">
            <div class="input-group">
              <input type="number" min="0" class="form-control" placeholder="Bonus voyageur" formControlName="bonus" [required]="bonusAgreed">
              <div class="input-group-append">
                <span class="input-group-text">€</span>
              </div>
            </div>
          </div>
          <div *ngIf="items?.length">
            <h5 class="form-title" *ngIf="meeting.controls.bonus.value">Prix total: {{ totalPrice }} €</h5>
            <small class="text-danger" *ngIf="meeting.controls.bonus.value === 0">C'est un peu faible...</small>
            <small class="text-danger" *ngIf="meeting.controls.bonus.value && !this.itemsPrice">Vous n'avez pas saisi d'articles</small>
            <small class="text-muted" *ngIf="meeting.controls.bonus.value && this.itemsPrice">Frais de service inclus</small>
          </div>
        </form>
      </div>
      <div class="request-form__validation row" *ngIf="items?.length">
        <button class="btn btn-success" [class.btn-add-item]="edition" [disabled]="
            (!items || items && !items.length)
            || !meeting.controls.bonus.valid
            || (!meeting.controls.airportPickup.value && !meeting.controls.meetingPoint.valid)
            || (meeting.controls.urgent.value && !meeting.controls.urgentDetails.valid)
          " (click)="saveRequest()">
           <span *ngIf="trip?.user?.firstname">{{ edition ?  'Modifier ma demande pour' : 'Faire une demande à' }} {{ trip.user.firstname }}</span>
           <span *ngIf="freeRequest || !trip">{{ edition ? 'Modifier cette' : 'Créer une' }} annonce</span>
        </button>
      </div>
      <div class="d-flex w-100 mt-5 justify-content-center" *ngIf="edition">
        <button class="btn btn-danger btn-icon" (click)="removeRequest()">
          <mat-icon>delete</mat-icon> Supprimer cette annonce
        </button>
      </div>
  </div>
</div>