
@import "../../../../styles/classes.scss";
@import "../../../../styles/variables.scss";
@import "../../../../styles/animations.scss";

.trip-detail {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background: $heroGradient;
    $box-shadow: 0 0 15px rgba(0, 0, 0, .3);
    $border-radius: 3px;
    animation: zoomIn .15s;

    &__backdrop {
        margin-top: -$navbarHeight;
        padding-top: $navbarHeight;
        background: $heroGradient;
        background-size: 105vw 100vh;
        transition: all .5s;
        height: 47.5vh;
        min-height: 350px;
        width: 105%;
        z-index: 11;
        box-shadow: 0 -5px 5px rgba(0, 0, 0, .1) inset;
        &.hasBackground {
          transition: all .5s;
          animation: appear 1s;
          background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .7));
          background-size: cover;
          background-position: center;
        }
    }

    &__hero {
        transition: all .5s;
        &.hasBackground {
            transition: all 1s;
            background: $heroGradient;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }
        background: $heroGradient;
        background-size: 100vw 100vh;
        background-position: center;
        width: 100vw;
        position: sticky;
        z-index: 10;
        top: -22.5vh;
        height: 47.5vh;
        min-height: 350px;
        padding-top: $navbarHeight;
        box-shadow: 0 -5px 5px rgba(0, 0, 0, .1) inset;
        color: white;

        &__from,
        &__to,
        &__link,
        &__date {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

        &__from,
        &__to,
        &__link {
            height: 70%;
            position: sticky;
            top: 0;
        }

        &__date,
        &__views {
            height: 17.5%;
            text-align: center;
            color: rgba(255, 255, 255, .5);
            position: sticky;
        }

        &__date {
            top: 23vh;
        }

        &__views {
            top: 27.5vh;
            color: $white-alpha-4;
            font-size: 12px;
        }
        
        &__link {
            $heroIconSize: 64px;
            align-items: center;
            .mat-icon {
                height: $heroIconSize;
                width: $heroIconSize;
            }
            .material-icons {                
                font-size: $heroIconSize;
            }
        }

        &__airport-code,
        &__airport-label {
            display: block;
        }

        &__location {
            margin-top: -5px;
        }

        &__airport-code {
            font-size: 30px;
        }

        &__airport-label {
            font-size: 10px;
            color: rgba(255, 255, 255, .7);
        }

        &__city {
            font-size: 16px;
        }

        &__country {
            font-size: 14px;
            color: rgba(255, 255, 255, .5);
        }
    }

    &__info {
        transition: all .25s;
        &.faded {
            transition: all .1s;
            opacity: 0;
        }
        height: 15vh;
        min-height: 100px;
        width: 90vw;
        padding: 0 5%;
        border-bottom: thin solid rgb(215, 215, 215);
        color: rgb(75, 75, 75);
        border-radius: $border-radius;
        background-color: white;
        box-shadow: $box-shadow;
        position: relative;
        top: -25px;
        z-index: 12;
        opacity: 1;
        &__user {
            &-row {
                // width: 100%;
                height: 100%;
            }
            &-avatar {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                height: 100%;
            }
            &-detail {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
            }

        }

        .user {
            &-name {
                display: block;
                font-size: 18px;
            }
            &-trips {
                display: block;
                color: rgb(175, 175, 175);
                font-size: 10px;
            }
        }

        &__route {
            display: flex;
            padding: 15px 0;
        }
    }

    @media screen and (max-width: 380px) {
        &__info {
            width: 100vw;
            margin-left: -15px;
        }
    }

    &__proposal {
        animation: appear $animationDuration;
        
        &__title {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        &-wrapper {
            margin-top: 25px;
            background-color: white;
            padding: 15px;
            border-radius: 3px;
            box-shadow: 0 0 15px rgba(0, 0, 0, .3);
            animation: appear $animationDuration;
            position: relative;
            z-index: 9;
        }
        &__date {
            color: rgba(0, 0, 0, .5);
            font-size: 12px;
            margin-right: 5px;
        }
        &__status {
            color: rgba(0, 0, 0, .4);
            font-size: 10px;
        }
        &__info {
            color: rgba(0, 0, 0, .4);
            font-size: 10px;
        }
        &.closed {
            opacity: .5;
        }
        &.pending {
            background-color: $amber-100;
        }
        &.accepted {
            background-color: $light-green-200;
        }
        &.refused {
            background-color: $red-100;
        }
    }

    &__engagement {
        padding: 25px 0;
        color: $white-alpha-8;
        position: relative;
        z-index: 9;

        &__constraints {
            margin-bottom: 25px;
            padding: 15px;
            background-color: white;
            border-radius: $border-radius;
            box-shadow: $box-shadow;

            &-title {
                display: flex;
                justify-content: center;
                color: rgba(0, 0, 0, .6);
            }

            .constraints {
                margin: 10px 0;
                padding-left: 0;
                list-style: none;

                li {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    color: rgba(0, 0, 0, .4);
                    .mat-icon {
                        margin-right: 10px;
                    }
                }
            }
            
            &-luggage {
                color: rgba(0, 0, 0, .6);
                height: 175px;
                overflow: hidden;
                max-width: 90%;
                margin: 0 5px 5px 0;
                .luggage-backdrop {
                    @extend .base-icon-backdrop;
                    font-size: 128px;
                }
                
                .mat-card-title {
                    font-size: 16px;
                }
            }

            .luggage-property {
                color: rgba(0, 0, 0, .6);
                font-size: 12px;
                height: 20px;
                display: flex;
                flex-direction: row;
                .mat-icon {
                    font-size: 14px;
                }
            }
        }

        &__form {
            color: rgba(0, 0, 0, .8);
            &.engagement {
                transition: all $transitionDuration;
                border-radius: $border-radius;
                background-color: white;
                box-shadow: $box-shadow;
                padding: 15px 0;
            }
            &-title {
                color: rgba(0, 0, 0, .6);
                display: flex;
                justify-content: center;
                text-align: center;
            }
        }

    }
    
    &__edition {
        animation: $animationDuration appear;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &__pending {
        animation: 0.5s appear;
        transition: all $transitionDuration;
        border-radius: 5px;
        border: 3px solid white;
        background-color: $amber-100;
        box-shadow: 0 0 15px rgba(0, 0, 0, .3);
        padding: 10px;
        cursor: pointer;
        
        &:hover {
            transition: all $transitionDuration;
            background-color: $amber-200;
        }

        &-title {
            font-weight: 400;
            color: $amber-800-dark;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        &-item {
            margin-bottom: 5px;
        }

        &-close {
            z-index: 10;
        }
    }
}

.btn-engagement {
    display: flex;
    flex-direction: row;
    align-items: center;
}