<div class="trip-detail container-fluid">
  <div class="trip-detail__hero row">
    <div class="trip-detail__hero__from col-6 col-sm-5 col-md-4 offset-md-1 col-lg-3 offset-lg-2" *ngIf="trip">
      <span class="trip-detail__hero__airport-code" *ngIf="trip.from">
        {{ trip.from.airport ? trip.from.airport.code : trip.from.label }}
      </span>
      <div class="trip-detail__hero__location" *ngIf="trip.from?.airport">
        <span class="trip-detail__hero__city">{{ trip.from.airport.city }}</span>
        <span class="trip-detail__hero__country">
            {{ trip.from.airport.country }}
          </span>
      </div>
      <span class="trip-detail__hero__airport-label" *ngIf="trip.from && trip.from.airport">
        {{ trip.from.airport.label || trip.from.airport.name }}
      </span>
    </div>
    <div class="trip-detail__hero__link col-2 d-none d-sm-flex" *ngIf="trip">
      <mat-icon>chevron_right</mat-icon>
    </div>
    <div class="trip-detail__hero__to col-6 col-sm-5 col-md-4 col-lg-3" *ngIf="trip">
      <span class="trip-detail__hero__airport-code" *ngIf="trip.to">
        {{ trip.to.airport ? trip.to.airport.code : trip.to.label }}
      </span>
      <div class="trip-detail__hero__location" *ngIf="trip.to?.airport">
          <span class="trip-detail__hero__city">{{ trip.to.airport.city }}</span>
          <span class="trip-detail__hero__country">
              {{ trip.to.airport.country }}
            </span>
        </div>
      <span class="trip-detail__hero__airport-label" *ngIf="trip.to && trip.to.airport">
        {{ trip.to.airport.label || trip.to.airport.name }}
      </span>
    </div>
    <div class="trip-detail__hero__date col-12" *ngIf="trip && trip.date">
        Arrivée le {{ trip.date.format('DD MMMM YYYY - HH:mm') }}
    </div>
  </div>
  <div class="trip-detail__info container">
    <div class="row h-100">
      <div class="trip-detail__info__user col-6 col-sm-4" *ngIf="trip && trip.user">
        <div class="trip-detail__info__user-row row">
            <div class="trip-detail__info__user-avatar col-6 col-sm-4 col-md-3">
                <app-avatar [image]="trip.user.avatar" [size]="75"></app-avatar>
            </div>
            <div class="trip-detail__info__user-detail col-6 col-sm-8 col-md-9">
              <div class="user-name">{{ trip.user.firstname }}</div>
              <div class="user-trips">{{ trip.user.trips || 0 }} voyage{{ trip.user.trips > 1 ? 's' : '' }}</div>
            </div>
        </div>
      </div>
      <div class="trip-detail__info__route col-4 offset-2" *ngIf="trip && trip.user">
        <button class="btn btn-light btn-icon btn-route">
          <mat-icon>timeline</mat-icon> Parcours de {{ trip.user.firstname }}
        </button>
      </div>
    </div>
  </div>
  <div class="trip-detail__proposal-wrapper" *ngIf="proposals?.length">
    <h4 class="trip-detail__proposal-title">Proposition {{ own ? 'reçues' : 'envoyées' }}</h4>
    <mat-accordion>
      <mat-expansion-panel class="trip-detail__proposal"
                           [class.closed]="proposal.closed"
                           [class.pending]="!proposal.closed && !proposal.refused && !proposal.accepted"
                           [class.accepted]="proposal.accepted && !proposal.closed"
                           [class.refused]="proposal.refused && !proposal.closed"
                           *ngFor="let proposal of proposals">
        <mat-expansion-panel-header>
          <mat-panel-title class="trip-detail__proposal__title">
            <span class="trip-detail__proposal__date">{{ moment(proposal.date).format('DD/MM/YYYY') }} </span>
            {{ proposal.author.id === currentUser.id ? ' Demande' : ' ' + proposal.author?.firstname }}
            <span class="trip-detail__proposal__status" *ngIf="proposal.closed"> - Annulée</span>
            <span class="trip-detail__proposal__status" *ngIf="own && proposal.accepted && !proposal.validated"> - A livrer</span>
            <span class="trip-detail__proposal__status" *ngIf="proposal.refused && !proposal.closed"> - Refusée</span>
            <span class="trip-detail__proposal__status" *ngIf="!own && proposal.accepted && !proposal.validated"> - Acceptée</span>
            <span class="trip-detail__proposal__status" *ngIf="proposal.validated"> - Livrée</span>
            <span class="trip-detail__proposal__info" *ngIf="proposal.bonus && !proposal.closed"> - {{ proposal.bonus }} €</span><br>
            <span class="trip-detail__proposal__info" *ngIf="proposal?.from?.urgent && !proposal.closed">
              - avant le {{ moment(proposal.from.urgentDetails.date).format('DD/MM') }}
            </span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-proposal [proposal]="proposal" [receiver]="own"></app-proposal>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <hr class="divider" *ngIf="proposals?.length">
  <div class="trip-detail__engagement container" *ngIf="trip">
    <div class="trip-detail__engagement__constraints">
      <h4 class="trip-detail__engagement__constraints-title">Espace disponible</h4>
      <div class="row">
          <div class="trip-detail__engagement__constraints-luggages col-12 col-sm-6" *ngIf="trip.luggages && trip.luggages.length">
              <div class="row justify-content-center">
                <mat-card class="trip-detail__engagement__constraints-luggage col-6 col-sm-12 col-md-6"
                  *ngFor="let luggage of trip.luggages" matRipple>
                  <mat-icon class="luggage-backdrop">{{ luggage.cabin ? 'work' : 'flight' }}</mat-icon>
                  <mat-card-title>Bagage {{ luggage.cabin ? ' cabine' : ' en soute'}}</mat-card-title>
                  <mat-card-content>
                    <div class="luggage-property">
                      <mat-icon>shopping_basket</mat-icon> Poids <span *ngIf="luggage.weight">{{ ': ' + luggage.weight + ' kg' }}</span>
                    </div>
                    <div class="luggage-property">
                      <mat-icon>swap_vert</mat-icon> Hauteur <span *ngIf="luggage.height">{{ ': ' + luggage.height + ' cm' }}</span><br>
                    </div>
                    <div class="luggage-property">
                    <mat-icon>swap_horiz</mat-icon> Largeur <span *ngIf="luggage.width">{{ ': ' + luggage.width + ' cm' }}</span><br>
                    </div>
                    <div class="luggage-property">
                      <mat-icon>compare_arrows</mat-icon> Profondeur <span *ngIf="luggage.depth">{{ ': ' + luggage.depth + ' cm' }}</span>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
          </div>
          <div class="trip-detail__engagement__constraints-info col-12 col-sm-6">
            <ul class="constraints">
                <li [class.disabled]="!trip.airportDrop">
                    <mat-icon>local_airport</mat-icon> Remise à l'aéroport
                </li>
                <li [class.disabled]="trip.airportDrop">
                    <mat-icon>my_location</mat-icon> Remise au point de rendez-vous
                </li>
                <!-- <li [class.disabled]="!trip.bonus">
                    <mat-icon>euro_symbol</mat-icon> Bonus voyageur proposé: {{ trip.bonus || 0 }} € 
                </li> -->
            </ul>
          </div>
      </div>
    </div>
    <div class="d-flex justify-content-center" *ngIf="requests && requests.length">
      <small class="text-muted">
          Vous avez effectué {{ requests.length }} demande{{ requests.length > 1 ? 's' : '' }} pour ce trajet
      </small>
    </div>
    <div class="trip-detail__edition" *ngIf="own">
      <button class="btn btn-info btn-icon" [routerLink]="['/post/trip', trip.id, 'edit']">
        <mat-icon>edit</mat-icon> Modifier
      </button>
    </div>
    <div *ngIf="!own">
      <div class="trip-detail__engagement__form d-flex justify-content-center" *ngIf="!requests?.length; else pending">
        <button class="btn btn-info btn-engagement" (click)="engagement = true" *ngIf="!engagement">
          <mat-icon>shop</mat-icon> Faire une demande
        </button>
        <div *ngIf="engagement">
          <h4 class="trip-detail__engagement__form-title">Faire une demande de transport</h4>
          <app-request-form [trip]="trip"></app-request-form>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #pending>
  <div class="trip-detail__pending"
      *ngIf="requests && requests.length && !own">
    <h5 class="trip-detail__pending-title">
      <mat-icon>add_alert</mat-icon>
      Vous avez {{ requests.length !== 1 ? requests.length : 'une'}} demande{{requests.length !== 1 ? 's' : ''}} en attente
    </h5>
    <small class="text-muted">
      Vous recevrez une notification si {{ trip?.user?.firstname }} accepte votre demande de transport
    </small>
    <mat-card class="trip-detail__pending-item" matRipple *ngFor="let item of items" (click)="openRequest()">
      <mat-card-title>{{ item.label }}</mat-card-title>
    </mat-card>
    <div class="trip-detail__pending-close d-flex justify-content-center">
      <button class="btn btn-danger" (click)="closeRequest()">
        Annuler {{ requests.length > 1 ? 'les' : 'la' }} demande{{ requests.length > 1 ? 's' : '' }}
      </button>
    </div>
  </div>
</ng-template>