
@import "../../../../styles/variables.scss";
@import "../../../../styles/animations.scss";

.trip-detail {
    height: 100vh;
    overflow-y: scroll;

    &__hero {
        animation: $animationDuration openHero;
        -webkit-animation: $animationDuration openHero;
        -moz-animation: $animationDuration openHero;
        -o-animation: $animationDuration openHero;

        background: $heroGradient;
        // background-image: url('/assets/hero-trip-detail.jpg');
        width: 100vw;
        position: sticky;
        z-index: 10;
        top: 0;
        height: 25vh;
        padding-top: $navbarHeight;
        box-shadow: 0 -5px 5px rgba(0, 0, 0, .1) inset;
        color: white;

        &__from,
        &__to,
        &__link,
        &__date {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

        &__from,
        &__to,
        &__link {
            height: 70%;
        }

        &__date {
            height: 30%;
            text-align: center;
            color: rgba(255, 255, 255, .5);
        }

        &__link {
            $heroIconSize: 64px;
            align-items: center;
            .mat-icon {
                height: $heroIconSize;
                width: $heroIconSize;
            }
            .material-icons {                
                font-size: $heroIconSize;
            }
        }

        &__airport-code,
        &__airport-label {
            display: block;
        }

        &__airport-code {
            font-size: 30px;
        }

        &__airport-label {
            font-size: 16px;
            color: rgba(255, 255, 255, .7);
        }
    }

    &__info {
        height: 15vh;
        padding: 0 5%;
        border-bottom: thin solid rgb(215, 215, 215);
        color: rgb(75, 75, 75);

        &__user {
            &-row {
                // width: 100%;
                height: 100%;
            }
            &-avatar {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                height: 100%;
            }
            &-detail {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
            }

        }

        .user {
            &-name {
                display: block;
                font-size: 24px;
            }
            &-trips {
                display: block;
                color: rgb(175, 175, 175);
            }
        }
    }

    &__engagement {
        padding: 25px 0;

        &__constraints {
            margin-bottom: 25px;
            .constraints {
                margin: 10px 0;
                padding-left: 0;
                list-style: none;

                li {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    color: map-get($okoColors, green);
                    .mat-icon {
                        margin-right: 10px;
                    }
                }

                li.disabled {
                    color: rgba(0, 0, 0, .4);
                }
            }
            
            &-luggage {
                color: rgba(0, 0, 0, .6);
                height: 150px;
                overflow: hidden;
                max-width: 47.5%;
                margin-right: 5px;
                .luggage-backdrop {
                    font-size: 128px;
                    color: rgba(0, 0, 0, .1);
                    position: absolute;
                    left: 50%;
                    z-index: 0;
                }
                
                .mat-card-title {
                    font-size: 16px;
                }
            }

            .luggage-property {
                color: rgba(0, 0, 0, .6);
                font-size: 12px;
                height: 20px;
                display: flex;
                flex-direction: row;
                align-items: center;
                .mat-icon {
                    font-size: 14px;
                }
            }
        }

    }

    &__pending {
        transition: all $transitionDuration;
        border-radius: 5px;
        background-color: $amber-100;
        padding: 10px;
        cursor: pointer;
        
        &:hover {
            transition: all $transitionDuration;
            background-color: $amber-200;
        }

        &-title {
            font-weight: 400;
            color: $amber-800-dark;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        &-item {
            margin-bottom: 5px;
        }
    }
}

.btn-engagement {
    display: flex;
    flex-direction: row;
    align-items: center;
}