<div class="request-item">
  <!-- <h2 class="request-item-title justify-content-around">
      <span style="display: inline-block">{{ modifying ? 'Modifier' : 'Ajouter' }} un article</span>
  </h2> -->
  <mat-icon class="close clickable" (click)="close()">clear</mat-icon>
  <!-- <hr class="divider"> -->
  <div class="request-item__content">
    <form [formGroup]="item" novalidate>
      <mat-horizontal-stepper #stepper labelPosition="bottom" [linear]="true">
        <mat-step [stepControl]="item.controls.label">
          <ng-template matStepLabel>Infos</ng-template>
            <div class="request-item__step-content justify-content-start"
                 (swipeLeft)="next(!!item.controls.label.value.length)">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="label" placeholder="Nom de l'article"
                       (keyup.enter)="next(!!item.controls.label.value.length)" required>
              </div>
              <div class="form-group">
                <textarea rows="5" class="form-control" formControlName="description"
                          (keyup.enter)="next(!!item.controls.label.value.length)"
                          placeholder="Description (edition d'un livre, taille d'un vêtement, couleur, fournisseur, boutique, année, modèle...)" required>
                   
                </textarea>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" formControlName="photo"
                       (keyup.enter)="next(!!item.controls.label.value.length)" placeholder="Photo (lien)">
              </div>
            </div>
            <div class="request-item__step-validation">
                <button class="btn btn-success"
                        type="button"
                        [disabled]="item.controls.label.value.length < 1" matStepperNext>
                    Valider
                </button>
            </div>
        </mat-step>
        <mat-step [stepControl]="item.controls.price">
          <ng-template matStepLabel>Achat</ng-template>
          <div class="request-item__step-content justify-content-center"
               (swipeRight)="previous()" (swipeLeft)="next(item.controls.price.value)">
            <small class="text-muted">
                Pour plus de précision, indiquez un lien e-commerce référencant votre article (facultatif)
            </small>
            <div class="form-group">
              <input type="text" class="form-control" formControlName="link"
                     (keyup.enter)="next(item.controls.price.value)" placeholder="Lien e-commerce">
            </div>
            <small class="text-muted">Indiquez le prix estimé de votre article</small>
            <div class="form-group">
              <div class="input-group">
                <input type="number" min="0" class="form-control" formControlName="price"
                       (keyup.enter)="next(item.controls.price.value)" placeholder="Prix estimé *">
                <div class="input-group-append">
                  <span class="input-group-text">€</span>
                </div>
              </div>
            </div>
          </div>
          <div class="request-item__step-validation">
              <button class="btn btn-success"
                      type="button"
                      [disabled]="!item.controls.price.value"
                      matStepperNext>
                Valider
              </button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Dimensions</ng-template>
          <div class="request-item__step-content justify-content-start" (swipeRight)="previous()">
            <div class="request-item__item-size-wrapper row mt-1">
              <div class="request-item__item-size col-12 col-sm-6 col-md-3"
                  (click)="selectSize(i)"
                  [class.selected]="size.selected"
                   *ngFor="let size of itemSizes; let i = index;">
                <div class="request-item__item-size__icon">
                    <mat-icon>{{ size.icon }}</mat-icon>
                </div>
                <div class="request-item__item-size__description">
                    <div>{{ size.label }}</div>
                    <small class="text-muted">{{ size.description }}</small>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row mt-1">
            <div class="form-group col-12">
                <div class="input-group">
                    <input type="number" class="form-control" min="0" placeholder="Poids estimé" required formControlName="weight">
                    <div class="input-group-append">
                      <span class="input-group-text">kg</span>
                    </div><br>
                </div>
            </div>
            <div class="form-group col-12">
              <mat-checkbox formControlName="cabinOnly">Admis en cabine</mat-checkbox>
            </div>
          </div>
          <div class="request-item__step-validation">
            <button class="btn btn-success" [disabled]="!item.controls.weight.value" type="button" (click)="save()">Enregistrer</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </form>
  </div>
</div>