<div class="account-proposal">
    <mat-tab-group class="account-proposal__nav" headerPosition="below" [color]="'primary'" mat-strech-tabs mat-align-tabs="center">
        <mat-tab *ngIf="toDeliver?.length">
            <ng-template mat-tab-label>
                <mat-icon>flight_takeoff</mat-icon> A livrer
            </ng-template>
            <div class="account-proposal__list-wrapper">
                <app-proposal-list [proposalList]="toDeliver" [user]="currentUser"></app-proposal-list>
            </div>
        </mat-tab>
        <mat-tab *ngIf="toReceive?.length">
            <ng-template mat-tab-label>
                <mat-icon>flight_land</mat-icon> A recevoir
            </ng-template>
            <div class="account-proposal__list-wrapper">
                <app-proposal-list [proposalList]="toReceive" [user]="currentUser"></app-proposal-list>
            </div>
        </mat-tab>
        <mat-tab class="account-proposal__nav-tab">
            <ng-template mat-tab-label>
                <mat-icon>move_to_inbox</mat-icon> Reçues
            </ng-template>
            <div class="account-proposal__list-wrapper">
                <h6 class="account-proposal__list-title" *ngIf="receivedFromTrip?.length">Propositions de trajet</h6>
                <app-proposal-list [aboutTrip]="true" [proposalList]="receivedFromTrip" [own]="false"></app-proposal-list>
                <h6 class="account-proposal__list-title" *ngIf="receivedFromRequest?.length">Demandes de transport</h6>
                <app-proposal-list [aboutTrip]="false" [proposalList]="receivedFromRequest" [own]="false"></app-proposal-list>
                <div class="empty" *ngIf="receivedFromTrip && !receivedFromTrip.length
                                          && receivedFromRequest && !receivedFromRequest.length">
                    <mat-icon>chat_bubble_outline</mat-icon> Aucune proposition reçue
                </div>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>send</mat-icon> Envoyées
            </ng-template>
            <div class="account-proposal__list-wrapper">
                <h6 class="account-proposal__list-title" *ngIf="sentAboutRequest?.length">Demandes de transport</h6>
                <app-proposal-list [aboutTrip]="false" [proposalList]="sentAboutRequest" [own]="true"></app-proposal-list>
                <h6 class="account-proposal__list-title" *ngIf="sentAboutTrip?.length">Propositions de trajet</h6>
                <app-proposal-list [aboutTrip]="true" [proposalList]="sentAboutTrip" [own]="true"></app-proposal-list>
                <div class="empty" *ngIf="sentAboutRequest && !sentAboutRequest.length
                                          && sentAboutTrip && !sentAboutTrip.length">
                    <mat-icon>chat_bubble_outline</mat-icon> Aucune proposition envoyée
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>