<div class="thread">
    <div class="thread__content container" id="content">
        <div class="thread__content__message" *ngFor="let message of thread?.messages; let i = index" id="{{'message-' + i}}">
            <app-message [message]="message" (click)="scrollDown()"></app-message>
        </div>
        <div class="thread__content__empty" *ngIf="thread && thread.messages && !thread.messages.length">
            <mat-icon>chat_bubble_outline</mat-icon> 
            <div>Envoyez un message à {{ thread?.contact?.firstname }} !</div>
        </div>
    </div>
    <div class="thread__actions container">
        <mat-form-field class="thread__actions-input">
            <textarea type="text" placeholder="Message"
                      [(ngModel)]="message.content"
                      (focus)="scrollDown()"
                      [rows]="inputRows"
                      (keydown)="captureKey($event)" matInput>
            </textarea>
            <button mat-button (click)="sendMessage()" matSuffix>
                <mat-icon>send</mat-icon>
            </button>
        </mat-form-field>
    </div>
</div>