/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "styles/variables.scss";

@keyframes enter {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

html, body {
    width: 100vw;
    height: 100vh;

    $duration: 0.25s;

    animation: $duration enter;
    -webkit-animation: $duration enter;
    -moz-animation: $duration enter;
    -o-animation: $duration enter;
}

.main {
    font-family: 'Krub', Helvetica, 'Roboto', sans-serif;
}

.logo-brand {
    &-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    display: inline-block;
    font-size: 72px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    text-align: center;
    background: $okoGradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-primary {
    transition: all $hoverDuration;
    -webkit-transition: all $hoverDuration;
    -moz-transition: all $hoverDuration;
    -o-transition: all $hoverDuration;
    background: linear-gradient(45deg,#69F5FF, #5FE8C9, #75FFB6, #5FE877, #98FF85);
    outline: none !important;
    border: none !important;
    min-width: 150px;

    &:hover {
        transition: all $hoverDuration;
        -webkit-transition: all $hoverDuration;
        -moz-transition: all $hoverDuration;
        -o-transition: all $hoverDuration;
        box-shadow: 0 0 10px #69F5FF;
    }
}

.btn-hero {
    background-color: rgba(255, 255, 255, .2) !important;
    border: thin solid rgba(255, 255, 255, .3) !important;
    color:white !important;

    &:hover {
        background-color: rgba(255, 255, 255, .3) !important;
        border: thin solid rgba(255, 255, 255, .4) !important;
    }
}