@import "../../../styles/variables.scss";

$indicatorDuration: .75s;

.space-indicator {
    display: flex;
    border-radius: 3px;
    overflow: hidden;
    height: 25px;
    width: 100px;
    background-color: rgba(0, 0, 0, .1);
    transition: all $indicatorDuration;

    &__slot {
        transition: all $indicatorDuration;
        width: 25px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        &.filled {
            transition: all $indicatorDuration;
            background-color: rgba(0, 0, 0, .5);
        }
    }

    &.light {
        border: 1px solid $white-alpha-8;
        transition: all $indicatorDuration;
        background-color: rgba(255, 255, 255, .3);

        .space-indicator__slot {
            &.filled {
                transition: all $indicatorDuration;
                background-color: $white-alpha-8;
            }
        }
    }

    &.absolute {
        border: none;
        border-radius: 0px;
        position: absolute;
        top: -6px;
        left: 0;
        width: 210%;
        height: 20px;

        .space-indicator__slot {
            width: 25% !important;
        }
    }
}