@import "../../../../styles/variables.scss";

.trip-location {
    &__airport-loading {
        height: 3px;
        width: 114%;
        position: relative;
        top: 10px;
    }
    &__city-loading {
        height: 3px;
        position: relative;
        width: 99.6%;
        left: 0.2%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    &-hybrid-group {
        width: 100%;
        margin-bottom: -20px;
    }
}

.city {
    &-results {
        height: 200px;
        margin-bottom: 10px;
        overflow-y: scroll;
        $iconSize: 72px;
        .mat-icon {
            height: $iconSize;
            width: $iconSize;
        }
        .material-icons {
            font-size: $iconSize;
            color: rgb(175, 175, 175);
        }
    }
    &-result {
        transition: all $transitionDuration;
        border-radius: 3px;
        &:hover {
            transition: all $transitionDuration;
            background-color: rgba(0, 0, 0, .05);
        }
    }
}