<form [formGroup]="location" (ngSubmit)="submit()" autocomplete="off" class="needs-validation" novalidate>
    <div class="form-group">
        <input type="text" name="city" formControlName="city" (focus)="focusCity()" (blur)="blurCity()"
               placeholder="Ville"
               autocomplete="off"
               [ngClass]="{'form-control': !cityReadonly, 'form-control-plaintext': cityReadonly}"
               [readonly]="cityReadonly"
               [matAutocomplete]="citiesAuto"
               (keyup)="fetchCities(location.controls.city.value)"
               [class.is-invalid]="location.controls.city.errors?.required
               && location.controls.city.touched
               || (submitted && location.controls.city.invalid)" required>
        <mat-autocomplete #citiesAuto="matAutocomplete">
            <mat-option *ngFor="let city of cities" [value]="city.city">
                {{ city.city }} ({{ city.country}} )
            </mat-option>
        </mat-autocomplete>
        <div class="invalid-feedback"
            [class.d-block]="location.controls.city.errors?.required
            && (location.controls.city.touched)">
            Indiquez une ville
        </div>
        <small class="text-muted" *ngIf="cityFocus">Indiquez le nom de la ville en Anglais pour obtenir une suggestion d'aéroport</small>
    </div>
    <mat-form-field class="form-group trip-location-hybrid-group">
        <input type="text" placeholder="Aéroport" #airport (click)="fetchMatchingAirports(location.controls.city.value)"
               [class.is-invalid]="location.controls.airport.errors?.invalid
               || (location.controls.airport.errors?.required
               && location.controls.airport.touched)
               || (submitted && location.controls.airport.invalid)"
               matInput formControlName="airport" [matAutocomplete]="auto">
        <div class="invalid-feedback"
            [class.d-block]="location.controls.airport.errors?.required
            && location.controls.airport.touched">
            Indiquez un aéroport
        </div>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayAirport">
            <mat-option *ngFor="let airport of filteredAirports" [value]="airport">
            {{ airport.name }} |
            <small>{{ airport.country }}</small>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <div class="form-row">
        <div class="form-group col-10 col-md-6">
          <input type="text" name="date" formControlName="date"
                 autocomplete="off"
                 [matDatepicker]="picker"
                 (click)="picker.open()"
                 [class.is-invalid]="location.controls.date.errors?.invalid
                 || (location.controls.date.errors?.required
                 && location.controls.date.touched)
                 || (submitted && location.controls.date.invalid)"
                 [min]="minDate || today"
                 [ngClass]="{'form-control': !dateReadonly, 'form-control-plaintext': dateReadonly}"
                 [readonly]="dateReadonly"
                 (keyup.enter)="submit()"
                 placeholder="Date">
            <div class="invalid-feedback"
                [class.d-block]="location.controls.date.errors?.required
                && location.controls.date.touched">
                Sélectionnez une date
            </div>
        </div>
        <div class="form-group col-2 col-md-2">
            <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
        </div>
        <mat-icon class="d-flex align-items-center d-md-none muted">access_time</mat-icon>
        <div class="form-group col-10 col-md-4 clickable hoverable">
          <input name="time" formControlName="time"
                [class.is-invalid]="location.controls.time.errors?.invalid
                || location.controls.time.errors?.required
                && (location.controls.time.touched)
                || (submitted && location.controls.time.invalid)"
                [ngClass]="{'form-control': !timeReadonly, 'form-control-plaintext': timeReadonly}"
                [readonly]="timeReadonly"
                placeholder="Heure"
                [format]="24"
                (keyup.enter)="submit()"
                [ngxTimepicker]="timePicker">
        <div class="invalid-feedback"
            [class.d-block]="location.controls.time.errors?.required
            && (location.controls.time.touched)">
            Indiquez une heure
        </div>
          <ngx-material-timepicker #timePicker></ngx-material-timepicker>
          <!-- <input name="time" formControlName="time"
                autocomplete="off"
                [class.is-invalid]="location.controls.time.errors?.invalid"
                [ngClass]="{'form-control': !timeReadonly, 'form-control-plaintext': timeReadonly}"
                [readonly]="timeReadonly"
                placeholder="Heure"> -->
        </div>
        <input type="submit" style="position: absolute; left: -9999px" tabindex="-1">
    </div>
</form>

<button class="btn btn-success"
        [disabled]="location.invalid"
        (click)="submit()">
    Valider
</button>
