.trip-location {
    &__airport-loading {
        height: 3px;
        width: 104%;
        position: relative;
        top: 10px;
        &.invalid {
            top: 29px;
        }
    }
    &__city-loading {
        height: 3px;
        position: relative;
        width: 99.6%;
        left: 0.2%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    &-hybrid-group {
        width: 100%;
    }
}