<div class="home" (pan)="onPan($event)">
    <div class="home-hero" [style.background-image]="'url('+backgroundImage+')'"
                           [class.expanded]="expanded"
                           [class.fullscreen]="empty"
                           (mouseleave)="leave()" (keyup.enter)="validate()" (click)="enter()">
        <div class="home-hero__input" *ngIf="expanded">
            Je cherche
            <mat-form-field class="input-hero__item" floatLabel="never">
                <input matInput type="text" name="item" placeholder="{{swingingItem}}" [(ngModel)]="filter.item">
            </mat-form-field>
            à
            <mat-form-field class="input-hero__location" floatLabel="never">
                <input matInput type="text" name="location" placeholder="{{swingingLocation}}" (keyup)="filterPosts($event)" [(ngModel)]="filter.location">
            </mat-form-field>
        </div>
        <div class="home-hero__action" *ngIf="!prod || empty">
            <button class="btn btn-hero" (click)="validate() && post()" *ngIf="empty">Demander un service</button>
            <button class="btn btn-danger" (click)="deleteEverything()" *ngIf="!prod">Delete everything</button>
        </div>
        <div class="home-hero__summary" *ngIf="!expanded">
            <span class="home-hero__summary-empty" *ngIf="!filter.location && !filter.item">Départs</span>
            <span class="home-hero__summary-location" (click)="enter()">{{ filter.location }}</span>
            <span class="home-hero__summary-item" (click)="enter()">{{ filter.item }}</span>
        </div>
    </div>
    <div class="home-list" [class.expanded]="!expanded" [class.empty]="empty" (scroll)="onScroll($event)">
        <mat-expansion-panel class="home-list__filters">
            <mat-expansion-panel-header class="home-list__filters-header">
                <mat-panel-title>Filtres</mat-panel-title>
                <mat-panel-description>
                    <span *ngIf="filter.beforeDate">Avant le {{ filter.beforeDate.format('DD MMMM') }}</span>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
                <div class="form-group col-5">
                    <input type="text" name="beforeDate"
                            class="form-control"
                            [(ngModel)]="filter.beforeDate"
                            (ngModelChange)="filterPosts()"
                            [matDatepicker]="picker"
                            [min]="today">
                    <small class="text-muted">Avant le</small>
                </div>
                <div class="form-group col-1">
                    <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                </div>
            </div>
        </mat-expansion-panel>
        <!-- <div class="home-list__departures" *ngIf="!empty">Départs disponibles</div> -->
        <div class="home-list__list">
            <app-post-list (listRefresh)="listStatus($event)"></app-post-list>
        </div>
    </div>
    <div class="home-trip justify-content-center" [class.expanded]="!expanded">
        <button class="btn btn-primary" (click)="trip()">Je voyage</button>
    </div>
</div>