<div class="home" (scroll)="onScroll($event)" [class.expanded]="expanded" [class.fullscreen]="empty">
    <div class="home-hero" [class.expanded]="expanded"
                           [class.content]="displayContent"
                           [class.onboarding]="onBoarding"
                           [class.fullscreen]="empty"
                           (keyup.enter)="validate()"
                           id="hero"
                           (click)="edit()">
        <div class="home-hero__input" [class.d-none]="displayContent">
            Je veux me faire livrer
            <mat-form-field class="input-hero__item" floatLabel="never">
                <input matInput type="text" name="item"
                       #itemSelection
                       autocomplete="off"
                       placeholder="{{swingingItem}}" [(ngModel)]="filter.item">
                <button mat-button *ngIf="itemSelection.value" matSuffix mat-icon-button aria-label="Clear" (click)="resetItem()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            à
            <mat-form-field class="input-hero__location" floatLabel="never">
                <input matInput type="text" name="location"
                       #citySelection
                       [matAutocomplete]="citiesAuto"
                       placeholder="{{swingingLocation}}"
                       [(ngModel)]="city"
                       (ngModelChange)="filterPosts();">
                <button mat-button *ngIf="citySelection.value" matSuffix mat-icon-button aria-label="Clear" (click)="resetCity()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <mat-autocomplete #citiesAuto="matAutocomplete" [displayWith]="displayCity">
                <mat-option *ngFor="let city of cities" [value]="city">
                    {{ city.city }} ( {{city.country}} )
                </mat-option>
            </mat-autocomplete>
        </div>
        <div class="home-hero__action" *ngIf="!displayContent">
            <button class="btn" [class.btn-hero]="empty" (click)="validate(); post()">Faire une demande de livraison</button>
            <!-- <button class="btn btn-danger" (click)="deleteEverything()" *ngIf="!prod">Delete everything</button> -->
        </div>
        <div class="home-hero__summary" *ngIf="displayContent">
            <span class="home-hero__summary-empty" *ngIf="!filter?.location && !filter?.item && !onBoarding">Trajets à venir</span>
            <span class="home-hero__summary-location" *ngIf="filter?.location && !onBoarding" (click)="edit()">{{ filter.location }}</span>
            <span class="home-hero__summary-item" *ngIf="filter?.item && !onBoarding" (click)="edit()">{{ filter.item }}</span>
            <span class="home-hero__summary-empty" *ngIf="onBoarding">Le service ọkọ</span>
        </div>
    </div>
    <div class="home-content" [class.expanded]="!expanded && !empty" [class.empty]="empty" id="content">
        <div class="container">
            <div class="home-content__list-wrapper" [class.expanded]="displayContent" id="trip-list">
                <div class="home-content__list" [hidden]="empty">
                    <app-post-list [trip]="true" [horizontal]="true"
                                   (listRefresh)="listStatus($event)">
                    </app-post-list>
                </div>
            </div>
            <div class="home-content__list-buttons row mb-3" id="all-trips">
                <button matRipple class="btn btn-hero w-100 justify-content-center btn-icon"
                        [routerLink]="['/post/trip']">
                    <mat-icon>flight</mat-icon>
                    Afficher tous les trajets
                </button>
            </div>
        </div>
        <section class="home-content__onboarding-service" id="service">
            Oko est une plateforme web qui te permet de faire livrer un article
            que tu ne trouve pas dans ton pays, par l'intermédiaire d'un voyageur
            qui visite ta ville.
        </section>
        <div class="home-content__onboarding" id="onboarding">
            <div class="container">
                <div class="row">
                    <!-- ONBOARDING STEPS -->
                    <section class="home-content__onboarding-service__steps col-12 col-md-4">
                        <div class="step-row row h-100">
                            <div class="col-3 col-sm-4 col-md-12 d-flex justify-content-center align-items-center">
                                <mat-icon>
                                    person_add
                                </mat-icon>
                            </div>
                            <div class="col-9 col-sm-8 col-md-12 d-flex flex-column justify-content-center">
                                <h4 class="home-content__onboarding-service__title">1. Choisis ton voyageur</h4>
                                <p>ọkọ te met en relation avec un particulier qui se déplace dans ta ville, afin
                                    qu'il te ramène un article. Le service est rendu en échange d'un montant que tu lui proposes
                                </p>
                            </div>
                        </div>
                    </section>
                    <section class="home-content__onboarding-service__steps col-12 col-md-4">
                        <div class="step-row row h-100">
                            <div class="col-9 col-sm-8 d-flex d-md-none flex-column justify-content-center">
                                <h4 class="home-content__onboarding-service__title">2. Ton article prend l'avion</h4>
                                <p>Le voyageur achète ton article et prends l'avion en direction de ton pays</p>
                            </div>
                            <div class="col-3 col-sm-4 col-md-12 d-flex justify-content-center align-items-center">
                                <mat-icon class="home-content__onboarding-icon">
                                    flight
                                </mat-icon>
                            </div>
                            <div class="col-12 d-none d-md-flex flex-column justify-content-center">
                                <h4 class="home-content__onboarding-service__title">2. Ton article prend l'avion</h4>
                                <p>Le voyageur achète ton article et prend l'avion en direction de ton pays</p>
                            </div>
                        </div>
                    </section>
                    <section class="home-content__onboarding-service__steps col-12 col-md-4">
                        <div class="step-row row h-100">
                            <div class="col-3 col-sm-4 col-md-12 d-flex justify-content-center align-items-center">
                                <mat-icon class="home-content__onboarding-icon">
                                    offline_pin
                                </mat-icon>
                            </div>
                            <div class="col-9 col-sm-8 col-md-12 d-flex flex-column justify-content-center">
                                <h4 class="home-content__onboarding-service__title">
                                    3. Reçois ton article <br> (et fais toi un ami)
                                </h4>
                                <p>Ton article t'es livré dans ta ville, directement chez toi, à l'aéroport où arrive ton voyageur
                                    ou à un point de rendez-vous que vous aurez défini ensemble
                                </p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <!-- TRIP PROPOSAL -->
            <div class="home-content__trip-proposal d-flex justify-content-center mt-5 mb-5" id="trip-proposal">
                <button matRipple class="btn btn-hero btn-icon w-50 justify-content-center" [routerLink]="['/post/trip/new']">
                    <mat-icon>flight_takeoff</mat-icon> Je voyage bientôt
                </button>
            </div>

            <!-- FOUR STEP ADVERTISING -->
            <section class="home-content__onboarding-advertising">
                <div class="home-content__onboarding-advertising__icon">
                    <mat-icon>nature_people</mat-icon>
                </div>
                <div class="home-content__onboarding-advertising__text">
                    <h4 class="home-content__onboarding-advertising__title">Écologique</h4>
                    <p>
                        Parce qu'on prend soin de notre planète, ọkọ te permet de réduire ton
                        empreinte carbone
                    </p>
                </div>
            </section>
            <section class="home-content__onboarding-advertising">
                <div class="home-content__onboarding-advertising__icon">
                    <mat-icon>lock</mat-icon>
                </div>
                <div class="home-content__onboarding-advertising__text">
                    <h4 class="home-content__onboarding-advertising__title">Sécurisé</h4>
                    <p>
                        Parce que la fiabilité de notre service est notre priorité, les paiements sur ọkọ
                        s'effectuent par carte bancaire et sont entièrement sécurisés
                    </p>
                </div>
            </section>
            <section class="home-content__onboarding-advertising">
                <div class="home-content__onboarding-advertising__icon">
                    <mat-icon>done_all</mat-icon>
                </div>
                <div class="home-content__onboarding-advertising__text">
                    <h4 class="home-content__onboarding-advertising__title">Fiable</h4>
                    <p>
                        Les profils de nos membres sont également vérifiés, et régulièrement évalués par la communauté
                        ọkọ
                    </p>
                </div>
            </section>
            <section class="home-content__onboarding-advertising">
                <div class="home-content__onboarding-advertising__icon">
                    <mat-icon>euro_symbol</mat-icon>
                </div>
                <div class="home-content__onboarding-advertising__text">
                <h4 class="home-content__onboarding-advertising__title">Économique</h4>
                <p>
                    Dépenses jusqu'à 70% de moins qu'avec une compagnie de transport aérien
                </p>
                </div>
            </section>
        </div>
        <div class="home-content__footer">
            © Copyright 2019 oko. Tous droits réservés.
            <ul class="home-content__footer-list">
                <li>
                    <a>Mentions Légales</a>
                </li>
                <li>
                    <a>Conditions Générales d'Utilisation</a>
                </li>
                <li>
                    <a>Conditions de l'offre</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- <div class="home-trip justify-content-center" [class.expanded]="!expanded">
    </div> -->
</div>