@import "../../styles/variables.scss";

$homeHeroSize: 36px;
$transitionDuration: 0.2s;
$transitionStyle: ease-out;

.home {

    &-hero {
        transition: $transitionDuration $transitionStyle all;
        -webkit-transition: $transitionDuration $transitionStyle all;
        -moz-transition: $transitionDuration $transitionStyle all;
        -o-transition: $transitionDuration $transitionStyle all;
        
        height: 15vh;
        min-height: 150px;
        padding-top: $navbarHeight;
        background-size: 150% auto;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: white;
        box-shadow: 0px -2px 15px rgba(0, 0, 0, .5) inset;
        font-size: $homeHeroSize;
        font-weight: 200;

        // &:hover {
        //     transition: $transitionDuration $transitionStyle all;
        //     -webkit-transition: $transitionDuration $transitionStyle all;
        //     -moz-transition: $transitionDuration $transitionStyle all;
        //     -o-transition: $transitionDuration $transitionStyle all;
        //     box-shadow: 0 -250px 250px rgba(0, 0, 0, .5) inset;
        // }

        &.expanded {
            transition: $transitionDuration $transitionStyle all;
            -webkit-transition: $transitionDuration $transitionStyle all;
            -moz-transition: $transitionDuration $transitionStyle all;
            -o-transition: $transitionDuration $transitionStyle all;
            background-size: auto 150%;
            background-position: center;
            height: 60vh;
        }

        &.fullscreen {
            transition: $transitionDuration $transitionStyle all;
            -webkit-transition: $transitionDuration $transitionStyle all;
            -moz-transition: $transitionDuration $transitionStyle all;
            -o-transition: $transitionDuration $transitionStyle all;
            background-size: auto 200%;
            background-position: center;
            height: 100vh;
        }

        &__input {
            width: 80%;
            margin-left: 10%;
        }

        &__summary {
            transition: $transitionDuration $transitionStyle all;
            -webkit-transition: $transitionDuration $transitionStyle all;
            -moz-transition: $transitionDuration $transitionStyle all;
            -o-transition: $transitionDuration $transitionStyle all;
            padding-left: 5%;

            &-location:hover,
            &-item:hover {
                transition: $transitionDuration $transitionStyle all;
                -webkit-transition: $transitionDuration $transitionStyle all;
                -moz-transition: $transitionDuration $transitionStyle all;
                -o-transition: $transitionDuration $transitionStyle all;
                color: #5FE8C9;
                cursor: pointer;
            }

            &-location{
                display: block;
                font-size: 48px;
                font-weight: 100;
            }
            &-item {
                font-size: 24px;
                font-weight: 500;
            }

            &-empty {
                margin-left: -5%;
                font-size: 48px;
                font-weight: 100;
            }
        }

        &__action {
            display: flex;
            margin-top: 50px;
            flex-direction: row;
            justify-content: center;
        }
    }

    @media screen and (min-width: 760px) {

        &-hero,
        &-hero.expanded,
        &-hero.fullscreen {
            background-position: center;
        }

        &-hero,
        &-hero.expanded {
            background-size: 150% auto;
        }

        &-hero.fullscreen {
            background-size: auto 150%;
        }

        &-hero {
            background-position-y: 50%;
        }
    }

    &-list {
        height: 40vh;
        overflow: scroll;
        padding-bottom: 75px;

        &.expanded {
            height: 85vh;
        }

        &.empty {
            height: 0;
        }

        &__departures {
            position: fixed;
            z-index: 0;
            padding-top: 5px;
            font-size: 18px;
            height: 25px;
            width: 100%;
            text-align: center;
            color: rgba(0, 0, 0, .4);
        }

        &__list {
            box-shadow: 0px -20px 50px rgb(255, 255, 255);
            background-color: rgba(255, 255, 255, .95);
            position: relative;
            z-index: 1;
            top: 35px;
        }
    }

    &-trip {
        height: 0;
    }

    &-trip.expanded {
        position: fixed;
        z-index: 10;
        bottom: 0;
        background-color: white;
        transition: all $transitionDuration;
        width: 100vw;
        height: 50px;
        box-shadow: 0 -5px 5px rgba(0, 0, 0, .1);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.input-hero {
    display: inline-block;
    width: 500px;
}

.mat-form-field {
    font-family: 'Rubik', 'Roboto', sans-serif !important;
    margin-top: -20px;
    margin-bottom: 5px;
    max-height: $homeHeroSize;
    min-width: 250px;
}

.mat-form-field-wrapper {
    height: 100%;
    width: 100%;
}

.mat-form-field-underline {
    position: initial;
    margin-top: 10px;
}

.mat-form-field-infix {
    width: 100% !important;
}
