@import "../../styles/variables.scss";

$homeHeroSize: 36px;
$transitionDuration: 0.2s;
$transitionStyle: ease-out;

.home {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;

    &-hero {
        transition: $transitionDuration $transitionStyle all;
        -webkit-transition: $transitionDuration $transitionStyle all;
        -moz-transition: $transitionDuration $transitionStyle all;
        -o-transition: $transitionDuration $transitionStyle all;
        
        height: 15vh;
        min-height: 150px;
        padding-top: $navbarHeight;
        background-image: url('assets/hero.jpg'), $heroGradient;
        background-size: auto 200%;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: white;
        box-shadow: 0px -2px 15px rgba(0, 0, 0, .5) inset;
        font-size: $homeHeroSize;
        font-weight: 700;
        text-shadow: 0 2px 7.5px rgba(0, 0, 0, .4);

        // &:hover {
        //     transition: $transitionDuration $transitionStyle all;
        //     -webkit-transition: $transitionDuration $transitionStyle all;
        //     -moz-transition: $transitionDuration $transitionStyle all;
        //     -o-transition: $transitionDuration $transitionStyle all;
        //     box-shadow: 0 -250px 250px rgba(0, 0, 0, .5) inset;
        // }

        &.expanded {
            transition: $transitionDuration $transitionStyle all;
            -webkit-transition: $transitionDuration $transitionStyle all;
            -moz-transition: $transitionDuration $transitionStyle all;
            -o-transition: $transitionDuration $transitionStyle all;
            background-size: auto 150%;
            background-position: center;
            height: 60vh;
        }

        &.fullscreen {
            transition: $transitionDuration $transitionStyle all;
            -webkit-transition: $transitionDuration $transitionStyle all;
            -moz-transition: $transitionDuration $transitionStyle all;
            -o-transition: $transitionDuration $transitionStyle all;
            background-size: auto 200%;
            background-position: center;
            height: 100vh;
        }

        &__input {
            width: 80%;
            margin-left: 10%;
        }

        &__summary {
            transition: $transitionDuration $transitionStyle all;
            -webkit-transition: $transitionDuration $transitionStyle all;
            -moz-transition: $transitionDuration $transitionStyle all;
            -o-transition: $transitionDuration $transitionStyle all;

            &-location:hover,
            &-item:hover {
                transition: $transitionDuration $transitionStyle all;
                -webkit-transition: $transitionDuration $transitionStyle all;
                -moz-transition: $transitionDuration $transitionStyle all;
                -o-transition: $transitionDuration $transitionStyle all;
                color: #5FE8C9;
                cursor: pointer;
            }

            &-location{
                display: block;
                font-size: 36px;
                font-weight: 100;
                margin-bottom: -25px;
            }
            &-item {
                font-size: 18px;
                font-weight: 500;
            }

            &-empty {
                display: block;
                margin: -25px 0 0 0;
                font-size: 36px;
                font-weight: 100;
            }
        }

        &__action {
            display: flex;
            margin-top: 30px;
            flex-direction: row;
            justify-content: center;
        }
    }

    @media screen and (min-width: 760px) {
        &-hero,
        &-hero.expanded,
        &-hero.fullscreen {
            background-position-y: 50%;
            background-position: center;
        }

        &-hero,
        &-hero.expanded {
            background-size: 150% auto;
        }

        &-hero.fullscreen {
            background-size: auto 150%;
        }
    }

    &-content {
        height: 40vh;
        min-height: 400px;
        overflow-y: scroll;
        padding-top: 15px;

        &.expanded {
            height: 75vh;
        }

        &.empty {
            height: 0;
        }

        &__filters {
            position: sticky;
            top: 0;
            z-index: 11;
        }

        &__departures {
            position: fixed;
            z-index: 0;
            padding-top: 5px;
            font-size: 18px;
            height: 25px;
            width: 100%;
            text-align: center;
            color: rgba(0, 0, 0, .4);
        }

        &__list {
            background-color: rgba(255, 255, 255, .95);
            margin-bottom: 50px;
            position: relative;
            z-index: 1;
            top: 35px;

            &-wrapper {
                transition: all $transitionDuration;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                &.expanded {
                    transition: all $transitionDuration;
                    justify-content: center;
                }
            }

            &-buttons {
                width: 100%;
                margin-left: 0.5%;
            }
        }
    }

    &-trip {
        height: 0;
    }

    &-trip.expanded {
        position: fixed;
        z-index: 10;
        bottom: 0;
        background-color: white;
        transition: all $transitionDuration;
        width: 100vw;
        height: 50px;
        box-shadow: 0 -5px 5px rgba(0, 0, 0, .1);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.input-hero {
    display: inline-block;
    width: 500px;
}

.mat-form-field {
    margin-top: -20px;
    margin-bottom: 5px;
    max-height: $homeHeroSize;
    min-width: 250px;
}

.mat-form-field-wrapper {
    height: 100%;
    width: 100%;
}

.mat-form-field-underline {
    position: initial;
    margin-top: 10px;
}

.mat-form-field-infix {
    width: 100% !important;
}
