@import "../../styles/variables.scss";

$homeHeroSize: 36px;
$transitionDuration: 0.15s;
$transitionStyle: ease-out;

.home {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;

    // &.expanded,
    // &.fullscreen {
    //     overflow: hidden;
    // }

    &.fullscreen {
        overflow: hidden;
    }

    &-hero {
        transition: $transitionDuration $transitionStyle all;
        
        height: 15vh;
        min-height: 150px;
        padding-top: $navbarHeight;
        background-image: url('assets/hero.jpg'), $heroGradient;
        background-size: auto 200%;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: white;
        box-shadow: 0px -2px 15px rgba(0, 0, 0, .5) inset;
        font-size: $homeHeroSize;
        font-weight: 700;
        text-shadow: 0 2px 7.5px rgba(0, 0, 0, .4);
        position: relative;
        z-index: 50; // Cover history sensitive area (set at z-50)

        // &:hover {
        //     transition: $transitionDuration $transitionStyle all;
        //     -webkit-transition: $transitionDuration $transitionStyle all;
        //     -moz-transition: $transitionDuration $transitionStyle all;
        //     -o-transition: $transitionDuration $transitionStyle all;
        //     box-shadow: 0 -250px 250px rgba(0, 0, 0, .5) inset;
        // }

        &.content {
            padding-top: 50vh;
        }

        &.expanded {
            transition: $transitionDuration $transitionStyle all;
            background-size: auto 150%;
            background-position: center;
            height: 60vh;
            min-height: 400px;
            position: sticky;
            top: -40vh;
        }

        &.fullscreen {
            transition: $transitionDuration $transitionStyle all;
            background-size: auto 200%;
            background-position: center;
            height: 100vh;
        }

        &__input {
            animation: .5s appear;
            width: 80%;
            margin-left: 10%;
        }

        &__summary {
            transition: $transitionDuration $transitionStyle all;
            animation: $animationDuration appear;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &-location:hover,
            &-item:hover {
                transition: $transitionDuration $transitionStyle all;
                color: #5FE8C9;
                cursor: pointer;
            }

            &-location{
                animation: $animationDuration appear;
                display: block;
                font-size: 36px;
                font-weight: 200;
            }

            &-item {
                animation: $animationDuration appear;
                margin-top: -10px;
                font-size: 18px;
                font-weight: 400;
            }

            &-empty {
                animation: $animationDuration appear;
                display: block;
                margin: -25px 0 0 0;
                font-size: 36px;
                font-weight: 200;
            }
        }

        &__action {
            display: flex;
            position: relative;
            z-index: 20;
            margin-top: 20px;
            flex-direction: row;
            justify-content: center;
            
            .btn {
                transition: all $transitionDuration;
                color: rgba(255, 255, 255, .4);
                cursor: pointer;

                &:hover {
                    transition: all $transitionDuration;
                    color: rgba(255, 255, 255, .8);
                    background-color: rgba(255, 255, 255, .2);
                }
            }
        }
    }

    @media screen and (min-width: 760px) {
        &-hero,
        &-hero.expanded,
        &-hero.fullscreen {
            background-position-y: 50%;
            background-position: center;
        }

        &-hero,
        &-hero.expanded {
            background-size: 150% auto;
        }

        &-hero.fullscreen {
            background-size: auto 150%;
        }
    }

    &-content {
        // height: 40vh;
        min-height: 400px;
        overflow-y: scroll;
        overflow-x: hidden;

        &.expanded {
            height: 75vh;
        }

        &.empty {
            height: 0 !important;
        }

        &__filters {
            position: sticky;
            top: 0;
            z-index: 11;
        }

        &__departures {
            position: fixed;
            z-index: 0;
            padding-top: 5px;
            font-size: 18px;
            height: 25px;
            width: 100%;
            text-align: center;
            color: rgba(0, 0, 0, .4);
        }

        &__list {
            min-height: 400px;
            &-wrapper {
                transition: all $transitionDuration;
                height: 75vh;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                &.expanded {
                    transition: all $transitionDuration;
                    justify-content: center;
                }
            }

            &-buttons {
                display: block;
                width: 100%;
                margin: 10px 0.5% 0 0;
            }
        }

        &__onboarding {
            &-service {
                margin-top: 25px;
                margin-bottom: 50px;
                padding: 0 10%;
                color: rgb(125, 125, 125);
                text-align: center;
                &__title {
                    font-size: 24px;
                    color: rgb(150, 150, 150);
                }
                &__steps {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    height: 350px;
                    color: rgb(75, 75, 75);
                    $iconSize: 72px;
                    .mat-icon {
                        width: $iconSize;
                        height: $iconSize;
                    }
                    .material-icons {
                        font-size: $iconSize;
                        color: rgb(150, 150, 150);
                    }
                }
            }
            &-advertising {
                height: 400px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                &__icon {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                    height: 50%;
                    $iconSize: 136px;
                    .mat-icon {
                        width: $iconSize;
                        height: $iconSize;
                    }
                    .material-icons {
                        font-size: $iconSize;
                        color: rgb(150, 150, 150);
                    }
                }
                &__title {
                    font-size: 24px;
                    color: rgb(150, 150, 150);
                }
                &__text {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    height: 50%;
                    text-align: center;
                }
            }
        }

        &__footer {
            height: 100vh;
            position: relative;
            bottom: 0;
            z-index: 51;
            margin-top: 35px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: rgb(50, 50, 50);
            color: rgb(125, 125, 125);
            text-align: center;
            &-list {
                margin-top: 25px;
                li {
                    list-style: none;
                }
                a {
                    text-decoration: none;
                    cursor: pointer;
                    color: rgb(100, 100, 100);
                    &:hover {
                        color: rgb(135, 135, 135);
                    }
                }
            }
        }
    }

    &-trip {
        height: 0;
    }

    &-trip.expanded {
        position: fixed;
        z-index: 10;
        bottom: 0;
        background-color: white;
        transition: all $transitionDuration;
        width: 100vw;
        height: 50px;
        box-shadow: 0 -5px 5px rgba(0, 0, 0, .1);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.input-hero {
    display: inline-block;
    width: 500px;
}

.mat-form-field {
    margin-top: -20px;
    margin-bottom: 5px;
    max-height: $homeHeroSize;
    min-width: 250px;
}

.mat-form-field-wrapper {
    height: 100%;
    width: 100%;
}

.mat-form-field-underline {
    position: initial;
    margin-top: 10px;
}

.mat-form-field-infix {
    width: 100% !important;
}

.btn-home-full {
    width: 95vw;
    margin-left: 2.5vw;
}