<div class="account container-fluid">
  <div class="account-hero row">
    <div class="account-hero__avatar col-4">
      <app-avatar *ngIf="currentUser" [image]="currentUser.avatar" [size]="75"></app-avatar>
    </div>
    <div class="account-hero__user col-8">
      <h1 *ngIf="currentUser">{{ currentUser.firstname }}</h1>
    </div>
  </div>
  <div class="account-detail">
    <nav mat-tab-nav-bar>
      <a mat-tab-link *ngFor="let category of categories"
         class="account-link"
         [routerLink]="category.path"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive">
        {{ category.label }}
      </a>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>