@import "../../styles/variables.scss";
@import "../../styles/animations.scss";

.account {
    background: $heroGradient;
    height: 100vh;
    overflow-y: scroll;

    &-hero {
        width: 100vw;
        height: 15vh;
        min-height: 150px;
        padding-top: 25px;
        background: $heroGradient;
        background-size: 100vw 100vh;
        box-shadow: 0 -5px 5px rgba(0, 0, 0, .1) inset;
        color: $white-alpha-8;

        &__avatar,
        &__user {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-weight: 100;
        }

        &__avatar {
            align-items: flex-end;
        }

        &__user {
            align-items: flex-start;
        }
    }

    &-detail {
        padding: 0;
        background-color: rgba(255, 255, 255, .15);
        border-radius: 3px;
        box-shadow: 0 0 15px rgba(0, 0, 0, .3);
        position: relative;
        top: -10px;
        &__nav {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            background-color: white;
        }
    }

    &-link {
        $linkSize: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all $transitionDuration;
        text-decoration: none;
        font-size: $linkSize;
        min-width: 0 !important;
        width: 25%;
        // .mat-icon {
        //     height: $linkSize;
        //     width: $linkSize;
        // }
        // .material-icons {
        //     font-size: $linkSize;
        // }
        &:hover {
            transition: all $transitionDuration;
            color: rgb(105, 105, 105);
            text-decoration: none;
        }
    }
}

.mat-tab-label-content {        
    color: rgb(75, 75, 75) !important;
}