.account-trip,
.account-request {
    height: 66vh;
    overflow-y: scroll;
    overflow-x: hidden;

    .account-trip-hint,
    .account-request-hint {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-left: -5%;
        width: 110%;
        background-color: white;
    }

    &__new {
        background-color: white;
        width: 110%;
        margin-left: -5%;
        position: sticky;
        top: -10px;
        z-index: 10;
        padding: 1px 0 5px 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .05);
    }

    &__empty {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: rgba(255, 255, 255, .6);
        .mat-icon {
            margin-right: 5px;
        }
    }

    .btn-new-trip {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 75%;
        margin: 15px 12.5% 0;
        &--fab {
            position: fixed;
            bottom: 25px;
            right: 25px;
            z-index: 20;
        }
    }
}

.account-trip {
    &-title{
        position: sticky;
        top: 49px;
        z-index: 10;
        display: flex;
        align-items: center;
        height: 30px;
        margin: 0 -15px;
        padding: 0 15px;
        border-bottom: 1px solid rgb(245, 245, 245);
        color: rgb(175, 175, 175);
        font-size: 18px;
        background-color: white;
        box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
    }
}