<div class="trip container-fluid">
  <div class="trip__hero row">
    <div class="trip__hero-title-wrapper">
      <h1 class="trip__hero-title">Je voyage</h1>
    </div>
    <div class="trip__hero-type">
        <div class="btn-group btn-group-toggle">
          <label class="btn btn-hero btn-type" [class.active]="!return">
            <input type="radio" name="single" id="single" [checked]="!return" (click)="return = false"> Aller Simple
          </label>
          <label class="btn btn-hero btn-type" [class.active]="return">
            <input type="radio" name="return" id="return" [checked]="return" (click)="return = true"> Aller-retour
          </label>
        </div>
    </div>
  </div>
  <div class="trip__content">
    <div class="content-row row" (pandown)="toSummary()">
      <div class="trip__content__location"
           (mouveleave)="toArrival()"
           [ngClass]="{
             'extended': fromExtended && !locationEven,
             'even': locationEven
           }" (swipeleft)="toArrival()"
              (click)="toDeparture()">
        <h4 class="location-title trip-title">Départ <mat-icon *ngIf="fromExtended">flight_takeoff</mat-icon></h4>
        <div class="location-selection">
            <app-trip-location
              [city]="departureInfo?.city"
              [date]="departureInfo?.date"
              [time]="departureInfo?.time"
              (valid)="departure($event)">
            </app-trip-location>
        </div>
      </div>
      <div class="trip__content__location"
          (mouseleave)="toSummary()"
          [ngClass]="{
              'extended': !fromExtended && !locationEven,
              'even': locationEven
          }" (swiperight)="toDeparture()"
            (click)="toArrival()">
        <h4 class="location-title trip-title">Arrivée <mat-icon *ngIf="!fromExtended">flight_land</mat-icon></h4>
        <div class="location-selection">
            <app-trip-location
            [city]="arrivalInfo?.city"
            [date]="arrivalInfo?.date"
            [time]="arrivalInfo?.time"
            [minDate]="departureInfo?.date"
            (valid)="arrival($event)">
            </app-trip-location>
        </div>
      </div>
    </div>
    <div class="trip__content__return" *ngIf="return">
      <h4 class="return-title trip-title">Retour</h4>
      <small class="text-muted" *ngIf="!departureInfo && !arrivalInfo">Completez les informations sur votre trajet</small>
      <div class="row">
        <div class="col-6" *ngIf="arrivalInfo">
          <app-trip-location
            [city]="arrivalInfo.city"
            [cityReadonly]="true"
            [date]="returnInfo?.from?.date"
            [time]="returnInfo?.from?.time"
            [minDate]="arrivalInfo?.date"
            (valid)="returnFrom($event)">
          </app-trip-location>
        </div>
        <div class="col-6" *ngIf="departureInfo && arrivalInfo">
          <app-trip-location
            [city]="departureInfo.city"
            [cityReadonly]="true"
            [date]="returnInfo?.to?.date"
            [time]="returnInfo?.to?.time"
            [minDate]="returnInfo?.from?.date"
            (valid)="returnTo($event)">
          </app-trip-location>
        </div>
      </div>
    </div>
    <div class="trip__content__constraints">
      <h4 class="constraints-title trip-title">Capacité</h4>
      <small class="text-muted">Indiquez la taille et le poids maximum de l'article que vous pouvez transporter</small>
      <app-trip-constraints [constraintsInfo]="constraintsInfo" (valid)="constraints($event)"></app-trip-constraints>
    </div>
    <div class="trip__content__loading" *ngIf="loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="trip__content__actions">
        <button class="btn btn-success btn-trip" (click)="save()"
        [disabled]="!departureInfo || !arrivalInfo">Valider</button>
      </div>
  </div>
</div>