@import "../../../styles/variables.scss";
@import "../../../styles/animations.scss";

.trip {

    &__hero {
        animation: $animationDuration openHero;
        -webkit-animation: $animationDuration openHero;
        -moz-animation: $animationDuration openHero;
        -o-animation: $animationDuration openHero;

        background: $heroGradient;
        // background-image: url('/assets/hero-trip-detail.jpg');
        width: 100vw;
        min-height: 125px;
        height: 15vh;
        padding-top: $navbarHeight;
        box-shadow: 0 -5px 5px rgba(0, 0, 0, .1) inset;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-type,
        &-title-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .btn-type {
            transition: all $transitionStyle $transitionDuration;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100% !important;

            &.active {
                transition: all $transitionStyle $transitionDuration;
                background-color: rgba(255, 255, 255, 0.5) !important;
                box-shadow: 0 0 5px rgba(0, 0, 0, .2) inset;
            }
        }
    }

    &__content {
        width: 100vw;
        height: 82vh;
        padding-bottom: 5px;
        margin-left: -4vw;
        overflow-y: scroll;
        overflow-x: hidden;

        .content-row {
            width: 100vw;
        }

        &__location {
            height: 25vh;
            min-height: 350px;
            margin: 0 2.5%;
            padding: 20px;

            .location-title,
            .location-selection {
                display: block;
                min-width: 70%;
            }

            .location-selection {
                position: relative;
                z-index: 2;
            }
        }

        &__return {
            animation: $animationDuration slideFromUp;
            height: 300px;
            width: 100%;
            padding-top: 25px;
            border-bottom: thin solid rgb(245, 245, 245);

            .row {
                width: 100%;
            }
        }

        &__constraints {
            height: 425px;
            width: 100%;
            padding: 25px 25px 15px 0;
        }

        &__loading {
            position: fixed;
            bottom: 0px;
            left: 0;
            height: 10px;
            width: 100%;

            .mat-progress-bar {
                height: 10px;
            }
        }

        &__actions {
            height: 50px;
            width: 100%;
            margin-top: 25px;
            margin-bottom: 25px;
            display: flex;
            flex-direction: row;
            justify-content: center;

            .btn-trip {
                min-width: 300px;
                width: 80%;
                margin-left: -5%;
            }
        }
    }

    @media screen and (min-width: 768px) {
        &__content {
            width: 70vw;
            margin-left: 15vw;
        }

        &__loading {
            margin-left: 15vw;
        }

        .content-row {
            width: 70vw;
        }
    }

    &-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 36px;
        color: rgb(175, 175, 175);
    }

    .btn-remove-trip {
        margin: 15px 12.5% 0;
        width: 75%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

