<div class="trip container-fluid">
  <div class="trip__hero row">
    <div class="trip__hero-title-wrapper">
      <h1 class="trip__hero-title">{{ edition ? 'Mon' : 'Je'}} voyage</h1>
    </div>
    <!-- <div class="trip__hero-type">
        <div class="btn-group btn-group-toggle">
          <label class="btn btn-hero btn-type" [class.active]="!return">
            <input type="radio" name="single" id="single" [checked]="!return" (click)="return = false"> Aller Simple
          </label>
          <label class="btn btn-hero btn-type" [class.active]="return">
            <input type="radio" name="return" id="return" [checked]="return" (click)="return = true"> Aller-retour
          </label>
        </div>
    </div> -->
  </div>
  <div class="trip__content">
    <button class="btn btn-danger btn-remove-trip" (click)="removeTrip()" *ngIf="edition">
      <mat-icon>delete</mat-icon> Supprimer ce trajet
    </button>
    <mat-vertical-stepper #stepper>
      <mat-step>
        <ng-template matStepLabel>
          Départ
          <div *ngIf="departureSave?.city && departureSave?.date">
           {{ departureSave.city }} - {{ departureSave.date.format('DD/MM') }} - {{ departureSave.time }}
          </div>
        </ng-template>
        <div class="trip__content__location">
          <h4 class="location-title trip-title">Départ <mat-icon>flight_takeoff</mat-icon></h4>
          <div class="location-selection">
            <app-trip-location
              [city]="departureInfo?.city"
              [date]="departureInfo?.date"
              [time]="departureInfo?.time"
              [airport]="departureInfo?.airport"
              [edition]="edition"
              (valid)="departure($event, stepper)">
            </app-trip-location>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>
          Arrivée
          <div *ngIf="arrivalSave?.city && arrivalSave?.date">
           {{ arrivalSave.city }} - {{ arrivalSave.date.format('DD/MM') }} - {{ arrivalSave.time }}
          </div>
        </ng-template>
        <div class="trip__content__location" [class.extended]="true">
          <h4 class="location-title trip-title">Arrivée <mat-icon>flight_land</mat-icon></h4>
          <div class="location-selection">
            <app-trip-location
            [city]="arrivalInfo?.city"
            [date]="departureSave?.date || arrivalInfo?.date"
            [time]="arrivalInfo?.time"
            [airport]="arrivalInfo?.airport"
            [minDate]="departureSave?.date"
            [edition]="edition"
            (valid)="arrival($event, stepper)">
            </app-trip-location>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>
          Informations
          <div *ngIf="constraintsSave?.luggages && constraintsSave?.luggages.length">
            {{ constraintsSave.luggages.length }} bagage{{ constraintsSave.luggages.length > 1 ? 's' : ''}}
          </div>
        </ng-template>
        <app-trip-constraints [constraintsInfo]="constraintsInfo" (complete)="constraints($event)"></app-trip-constraints>
        <div class="trip-validation d-flex justify-content-center">
            <button class="btn btn-success"
            [disabled]="!constraintsSave || !constraintsSave?.luggages?.length"
            matStepperNext>Valider</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Validation</ng-template>
        <div class="row">
          <div class="col-12 col-sm-6" *ngIf="departureSave && departureSave.airport">
            <h4 class="trip-title">
              <mat-icon>flight_takeoff</mat-icon>
              {{ departureSave.city }}
            </h4>
            <small class="text-muted">{{ departureSave.airport.name }}</small><br>
            <span *ngIf="departureSave?.date && departureSave?.time">
              {{ departureSave.date.format('DD/MM') }} - {{ departureSave.time }}
            </span>
          </div>
          <div class="col-12 col-sm-6" *ngIf="arrivalSave && arrivalSave.airport">
            <h4 class="trip-title">
              <mat-icon>flight_land</mat-icon>
              {{ arrivalSave.city }}
            </h4>
            <small class="text-muted">{{ arrivalSave.airport.name }}</small><br>
            <span *ngIf="arrivalSave?.date && arrivalSave?.time">
              {{ arrivalSave.date.format('DD/MM') }} - {{ arrivalSave.time }}
            </span>
          </div>
        </div>
        <small *ngIf="!departureSave || !arrivalSave">Complétez les informations de votre trajet</small>
        <div *ngIf="departureSave && arrivalSave && constraintsSave">
            <hr class="divider">
            <div class="text-muted d-flex align-items-center" *ngIf="constraintsSave?.luggages">
              <mat-icon>work</mat-icon> {{ constraintsSave.luggages.length }} bagage{{constraintsSave.luggages.length > 1 ? 's': '' }}
            </div>
            <div class="text-muted d-flex align-items-center" *ngIf="constraintsSave?.bonus">
              <mat-icon>euro_symbol</mat-icon>
              Bonus Voyageur: {{ constraintsSave.bonus }} € 
            </div>
        </div>
        <div class="trip__content__actions">
          <button class="btn btn-success btn-trip" (click)="save()"
          [disabled]="!departureSave || !arrivalSave">
            Valider
          </button>
      </div>
      </mat-step>
    </mat-vertical-stepper>
    <div class="trip__content__loading" *ngIf="loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
</div>